










mat-form-field.length {
    width: 100%;
}

.createCampaign .pageHeading {
    color: #0033A0;
    font-family: TTNorms-Medium;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 2%;
}

.createCampaign .pageHeading .border {
    border-bottom: 2px solid #ff8f1c;
    width: 30px;
    border-width: medium;
}

.createCampaign .wizardBlock {
  text-align: right;
  margin-right: 8%;
}


.wizardRule {
  position: absolute;
  top: 35px;
  width: 20%;
  left: 74%;
  border-top: 2px solid #0033A0;
}


.wizard1
{
  position: absolute;
  background: #ebe8e8;
  cursor: pointer;
  top: 30px;
  right: 26%;
}
.wizard2
{
  position: absolute;
  top: 30px;
  right: 19%;
  background: #ebe8e8;
  cursor: pointer;
}
.wizard3
{
  position: absolute;
  top: 30px;
  right: 12%;
  background: #ebe8e8;
  cursor: pointer;
}
 .wizard4
{

  position: absolute;
  top: 30px;
  right: 5%;
  background: #ebe8e8;
  cursor: pointer;
}










.createCampaign .pageContent {
    background: #fff;
    margin: 2%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2% 1%;
    border-radius: 5px;
}

.createCampaign .pageContent .campaignLabels {
    font-family: TTNorms-Medium;
    font-size: 15px;
    color: #333;
}

.createCampaign .pageContent .campaignLabel {
    font-family: TTNorms-Light;
    font-size: 14px;
    color: #333;
    padding-left: 20px;
}


.createCampaign .pageContent .formInput{
    background-color: #fff;
    border: 1px solid #DDD;
    min-height: 40px;
    border-radius: 100px;
    margin-left: 0;
    width: 100%;
    color: #000;
    font-family: "TTNorms-Light";
    font-size: 14px;
    padding: 10px;
    outline: none;
    min-height: 40px;
}

.createCampaign .pageContent input::placeholder {
    color: #D8D8D8;
    font-family: "TTNorms-Light";
    font-size: 14px;
}

.createCampaign .pageContent .campaignDetails .dateInputs {
    margin-top: 15px;
}

.createCampaign .pageContent .campaignDetails .dateInputs input {
    background-color: #fff;

    color: #000;
    font-family: "TTNorms-Light";
    font-size: 14px;
    padding-left: 10px;
    outline: none;
}

.createCampaign .pageContent .campaignDetails .dateInputs input::placeholder {
    color: #D8D8D8;
    font-family: "TTNorms-Light";
    font-size: 14px;
}

.createCampaign .pageContent .campaignDetails .campaignDescriptionDiv .campaignDescription {
    background-color: #fff;
    border: 1px solid #DDD;
    min-height: 170px;
    margin-left: 0;
    border-radius: 20px;
    color: #000;
    font-family: TTNorms-Light;
    font-size: 14px;
    width: 100%;
    height: 90px;
    padding: 10px;
    outline: none;
    margin-top: 10%;
}

.createCampaign .pageContent .campaignDetails .campaignDescriptionDiv .campaignDescription::placeholder {
    color: #D8D8D8;
    font-family: "TTNorms-Light";
    font-size: 14px;
}

div.mat-form-field-infix {
    font-size: 14px;
    font-family: TTNorms-Light;
}

.campaignDefaultImage {
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.campaignDefaultImage img {
    border-radius: 50%;
}

.campaignUserImage .fileUpload, .attach .fileUpload {
    font-family: TTNorms-Light;
    font-size: 11px;
    color: #999;
}

.campaignImage {
    margin-left: 15%;
}

 .uploadBtn, .attach .fileUploadBtn{
    border: 2px solid #00B140;
    font-family: TTNorms-Medium;
    font-weight: 500;
    font-size: 15px;
    width: 85px;
    box-shadow: 0 3px 6px rgba(0,155,155,.4);
    margin-top: 4%;
    letter-spacing: .01em;
    text-align: center;
    border-radius: 20px;
    background: #fff;
    padding-top: 0;
    padding-bottom: 2px;
    color: #00B140;
    outline: none;
}

 .uploadBtn:hover, .attach .fileUploadBtn:hover {
    color: #00b140;
    text-decoration: none;
}

.createCampaign .pageContent .page1 .bottom {
    margin-top: 5%;
}


.createCampaign .pageContent .campaignNextDiv {
    float: right;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.createCampaign .pageContent .campaignNextDiv .campaignNext {
    color: #fff;
    border-radius: 20px;
    background: #00b140;
    border: 2px solid #00B140;
    font-family: TTNorms-Medium;
    font-weight: 500;
    font-size: 15px;
    width: 85px;
    box-shadow: 0 3px 6px rgba(0,155,155,.4);
    margin-top: 4%;
    letter-spacing: .01em;
    text-align: center;
    outline: none;
}


















.ideationTemplate .buisnessmodel
{
  /* height:56vh; */
  font-family: "Roboto-Regular";
  font-size: 12px;
  color: #4db3d0;

  border-bottom: 1px solid rgba(255,255,255,0.1);

}
.ideationTemplate .carousel
{

  padding-left: 2%;
  margin-top: 2%;
  width:16%;
}
.ideationTemplate .carousel .arrowup
{
  padding-top:20px;
}
.ideationTemplate .carousel .arrowdown
{
  padding-bottom: 20px;
}

.ideationTemplate .carousel1
{

  padding-top: 40%;
  height: 20vh;
  font-family: "Roboto-Regular";
  font-size: 12px;
  width:90%;
  color: #00B140;
  text-align: center;
  background: #0033A0;
  border-bottom: 1px solid black;
}

.ideationTemplate .carousel1 img{
  padding-bottom: 8px;
}
.ideationTemplate .carousel1:hover{

  cursor:pointer;
}
.ideationTemplate .carousel1.active{
  border-left: 5px solid #00B140;

}
.ideationTemplate .carousel .enabled
{
  border: 1px solid #00B140;
  padding-top: 30px;
  height: 115px;
  //width: 109px;
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 5px;
  font-family: "Roboto-Regular";
  font-size: 12px;
  color: #4db3d0;
  text-align: center;
}
.ideationTemplate .carousel .enabled img{
  padding-bottom: 8px;
}

.ideationTemplate .buisness
{

}
.ideationTemplate .buisness img
{
  padding-bottom: 8px;
}
 .choosetemplateheading
{
  font-family: TTNorms-Medium;
  font-size: 20px;
  color:#0033A0;
  padding-top: 3%;
  margin-right: 0px;
  margin-left: 0px;

}

.ideationTemplate .modelborder{
  border: 2px solid #FF8F1C;
    width: 2.5vw;
    margin-bottom: 3%;
}
 .buisnessalign{
  padding-bottom: 20px;
}

.ideationTemplate .choosetemplatenext.otherschoosetemplatenext{
  margin: 20px;
  float: right;
  width: 300px;

}

.ideationTemplate .choosetemplatenextbutton.otherschoosetemplatenextbutton{
  font-family: "TTNorms-Medium";
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  width: 27%;
  /* height: 40px; */
  border-radius: 20px;
  background: #00b140;
  box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
  border: 2px solid #00B140;
  margin-top: 4%;

}

.ideationTemplate .choosetemplatenext.otherschoosetemplatenext .otherschoosetemplatesubmitbutton{
  font-family: "TTNorms-Medium";
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  width: 69%;
  /* height: 40px; */
  border-radius: 20px;
  background: #00b140;
  box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
  border: 2px solid #00B140;
  margin-top: 4%;
  margin-right: 3%;
}

.ideationTemplate .single{

  height: 38.5vh;
  padding-top: 11%;
  text-align: center;
  background: #E4E4E4;
  margin-right: 0.5%;
  color: #0033A0;
  font-size:15px;
  font-family:TTNorms-Medium;
  border-radius: 5px;
  margin-left: -1%;
  }



  .ideationTemplate .double
{

  font-size: 75%;
}
.ideationTemplate .double .first
{
    background: #E4E4E4;
    border-radius: 5px;
    border: none;
    font-size:15px;
    font-family:TTNorms-Medium;
    color: #0033A0;
    cursor: pointer;
    height: 19vh;
   margin-bottom: 1%;
   text-align: center;
   padding-top: 11%;

   width: 95%;
}
.ideationTemplate .double .second
{
  background: #E4E4E4;
  border-radius: 5px;
  border: none;
  font-size:15px;
  font-family:TTNorms-Medium;
  color: #0033A0;
  cursor: pointer;
  height: 19vh;

  padding-top: 11%;
  text-align: center;

  width: 46.5%;
  margin-bottom: 1%;
}

.ideationTemplate .double .secondtop{
  background: #E4E4E4;
  border-radius: 5px;
  border: none;
  font-size:15px;
  font-family:TTNorms-Medium;
  color: #0033A0;
  cursor: pointer;
  height: 19vh;
  margin-bottom: 3%;
  padding-top: 14%;
  text-align: center;

    width: 95%;
}
 .buisness1
{
  height: 97px;
  text-align: center;
  font-family: "Roboto-Regular";
  font-size: 75%;
  color: #4db3d0;
  margin-left: 20px;
}
.buisness1 img
{
  padding-bottom: 8px;
}
 .buisness1 .coststructure
{
    border: 1px solid rgba(66, 152, 181,0.3);
    margin-right: 5px;
    margin-top: 5px;
    width:41.5%;
    height: 97px;
    padding-top: 20px;
    margin-left:20px;
}
 .buisness1 .revenuemodel
{
    border: 1px solid rgba(66, 152, 181,0.3);
    width:41.5%;
    margin-top: 5px;
    height: 97px;
    padding-top: 20px;
}
.ideationTemplate .choosetemplatenext{
  margin: 20px;
  float:right;
  width:11%;
  border: none;
}

.ideationTemplate .choosetemplatenextbutton{
  font-family: "TTNorms-Medium";
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  width: 85px;
  /* height: 40px; */
  border-radius: 20px;
  background: #00b140;
  box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
  border: 2px solid #00B140;
  margin-top: 4%;
  outline: none;
}
.ideationTemplate .choosetemplatesubmitbutton{
  font-family: "TTNorms-Medium";
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    width: 85px;
    /* height: 40px; */
    border-radius: 20px;
    background: #00b140;
    box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
    border: 2px solid #00B140;
    margin-top: 4%;
}
.ideationTemplate .choosetemplatenext:hover{

}








.ideation_chooseTemplate .question_input {
  padding-left: 20px;
}
.ideas-popup .ideaform .choosetemplateheading{
padding-left:0px;
padding-bottom:0px;
font-size: 12px;
border: none;
}
.ideas-popup .ideaform .ideascroll{
  height: 350px;
}
.ideation_chooseTemplate .template_question{
/* height: 40vh; */
}
.ideation_chooseTemplate .question_input input {
  min-width: 100%;
  min-height: 6vh;
  background: #FFFFFF;
  border:1px solid #DDDDDD;
  border-radius:20px;
  color: black;
  padding-left:10px;
  outline: none;
}

.choosetemplatenext .otherschoosetemplatenext{
  margin: 20px;
  float: right;
  width: 25%;
}

.ideation_chooseTemplate .modelborderothers{
  border: 2px solid #FF8F1C;
    width: 2.5vw;
    margin-bottom: 1%;
    /* margin-left: 2%; */
}

.ideation_chooseTemplate .question_label {
  font-family: TTNorms-Medium;
  font-size: 16px;
  color: #0033A0;
  padding-left: 20px;
  padding-top: 20px;
}

.ideation_chooseTemplate .maximum_words {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;

}

.ideation_chooseTemplate .drop_down {
  padding-left: 10px;
  padding-right: 20px;
}

.ideation_chooseTemplate .drop_down select {
  min-width: 58px;
  min-height: 35px;
  font-family: TTNorms-Medium;
  font-size: 11px;
  color: #333333;
  padding: 10px;
  margin-top: 5%;
  height: 5vh;
  background: #FFFFFF;
  width:43%;
  border-radius: 20px;
  border:1px solid #DDDDDD;
  outline: none;
}

.ideation_chooseTemplate .remove,
.addfields {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  border: 0px;
}

.ideation_chooseTemplate .question{
  border-bottom: 1px solid #DDDDDD;
}

.ideation_chooseTemplate .remove{
  background: #FFFFFF;
}

.ideation_chooseTemplate .remove img{
  margin-top: 95%;
}

.ideation_chooseTemplate .addfields{
  color: #00B140;
  font-family: TTNorms-Medium;
  font-size: 14px;

  background: white;
  width: 150px;
  margin-left: 2%;
  border: 2px solid #00B140;
  border-radius: 20px;
  outline: none;
}

.ideation_chooseTemplate .addquestion{
  padding-top: 15px;
}

.ideation_chooseTemplate .template_bottomborder {
  border-bottom: 1px solid rgba(66, 152, 181, 0.3);
  padding-left: 20px;
  width: 107%;
}
















.launch_campaign{
    margin-right: 0px;
    background: #ffffff;
    padding-top: 2%;
    border-radius: 5px;
    margin-left: 1%;
}

.launch_campaign .launch_next {
  font-family: "TTNorms-Medium";
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  width: 85px;
  border-radius: 20px;
  background: #00b140;
  box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
  border: 2px solid #00B140;
  margin-top: 4%;
}

.launch_campaign .launch_nextdiv{
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}




.launch_campaign .row{
  margin-left: 10px;
  margin-right: 0px;
}

.launch_campaign .launch_subheading{
  padding-left: 14px;
  padding-bottom: 20px;
  font-family: 'TTNorms-Medium';
  font-size: 16px;
  margin: 0px;
  color: #333333;
}

.launch_campaign .launch_group, .launch_groupmail{
  margin-bottom: 0px;
  font-family: 'TTNorms-Medium';
  font-size: 15px;
  color: #333333;
}

.email .hint {
  font-family: "TTNorms-Light";
  font-size: 11px;
  color: #999999;
}


.launch_campaign .launch_checkbox{
  padding-top: 10px;
}
.round input, .round_launch input , .square_user input{
  min-height: 14px;
  min-width: 14px;
  margin-top: 0px;
}

.launch_campaign .launch_checkbox{
padding-left:20px;
}

.launch_campaign .launch_checkbox input[type="checkbox"]{
padding-left:0px;
}

.launch_checkbox label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.launch_checkbox:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.launch_checkbox input[type="checkbox"] {
  visibility: hidden;
}

.launch_checkbox input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.launch_checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.launch_campaign .checkitem {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.round label, .round_launch label, .square_user label{


background-color: rgba(66,152,181,.3);
border: 1px solid rgba(66,152,181,.5);
border-radius: 50%;
cursor: pointer;
height: 14px;
left: 0;
position: absolute;
top: 3px;
width: 14px;

}

.round label:after, .round_launch label:after, .square_user label:after{
border: 2px solid #fff;
border-top: none;
border-right: none;
content: "";
height: 4px;
left: 3px;
opacity: 0;
position: absolute;
top: 4px;
transform: rotate(-45deg);
width: 8px;
}

.round input[type="checkbox"], .round_launch input[type="checkbox"], .square_user input[type="checkbox"]{
visibility: hidden;
}

.round input[type="checkbox"]:checked + label, .round_launch input[type="checkbox"]:checked + label, .square_user input[type="checkbox"]:checked + label{
background-color: #66bb6a;
border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after, .round_launch input[type="checkbox"]:checked + label:after, .square_user input[type="checkbox"]:checked + label:after{
opacity: 1;
}

.launch_campaign .launch_labels{
  font-family: 'TTNorms-Medium';
  font-size: 14px;
  color: #333333;
  /* margin-left: 10%; */
}

.launch_campaign .campaign_email input{
  min-width: 100%;
  min-height: 35px;
  font-size: 15px;
  font-family: "TTNorms-Light";
  color: black;
  border: 1px solid #DDDDDD;
  margin-left: 0px;
  border-radius: 50px;
  background: white;
  padding: 10px;
  outline: none;
}

.launch_campaign .launch_borderpadding{
  padding-top: 15%;
}

.launch_campaign hr {
  margin-bottom: 0%;
  margin-left: 2%;
  margin-right: 2%;
  border: 0;
  border-top: 1px solid #DDDDDD;
}




















.backicon
{
  float:left;
  padding-left:10px;
}
.submitcampaign .row{
  margin-left:0px;
  margin-right:0px;
}
.submitcampaign .submitcampaigndetails{
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(0,0,0,0.5);
}
.submitcampaign .campaigntitle{
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: 'Roboto-Bold' ;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}
.submitcampaign .breadcrumbs{
  padding-left: 14px;
    padding-bottom: 20px;
    font-family: 'TTNorms-Medium';
    font-size: 16px;
    margin: 0px;
    color: #333333;
}
.submitcampaign .column{
  padding-left: 10px;
}
.submitcampaign .question{
  padding-left:30px;
  padding-right: 30px;
}
.submitcampaign .scroll{
  height: 230px;
}
.submitcampaign .column .firstcolumn{
  padding-left:0px;
  padding-right:0px;
}
.submitcampaign .column .secondcolumn{
  padding-left:0px;
  padding-right:0px;
}
.submitcampaign .heading{
  color: #9B9B9B;
  font-size: 13px;
  font-family: 'TTNorms-Light' ;
  padding-bottom: 4px;
}
.submitcampaign .value{
  color: #333333;
  font-size: 15px;
  font-family: 'TTNorms-Light' ;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: justify;
}
.submitcampaign .submitcampaignfooter
{
  border-top: 1px solid rgba(255,255,255,0.1);

}
.submitcampaign .button{
font-family: "TTNorms-Medium";
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    width: 85px;
    border-radius: 20px;
    background: #00b140;
    box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
    border: 2px solid #00B140;
    margin-top: 2%;
    float: right;
    margin-bottom: 3%;
    margin-right: 1%;
    outline: none;
}
.submitcampaign .button:hover{
  border: 2px solid #00B140;
}

hr.submitHr {
  margin-top: 4%;
  margin-bottom: 0%;
  margin-left: 1%;
  margin-right: 1%;
  border: 0;
  border-top: 1px solid #DDDDDD;
}
