<div class="row">
   <div class="createCampaign">
      <div class="col-xs-6">
         <div class="pageHeading">
            <div>{{campaignFormTitle}}</div>
            <div class="border"></div>
         </div>
      </div>
      <div class="col-xs-6">
         <div class="wizardBlock">
            <div class="row wizard">
               <!-- <hr class="wizardRule"> -->
               <div class="wizardRule"></div>
               <img src="/assets/img/{{wizard1}}" class="wizard1"
                  (click)="selectWizard('Create Campaign')" />
               <img src="/assets/img/{{wizard2}}" class="wizard2"
                  (click)="selectWizard('Choose Template')">
               <img src="/assets/img/{{wizard3}}" class="wizard3"
                  (click)="selectWizard('Launch Campaign')">
               <img src="/assets/img/{{wizard4}}" class="wizard4"
                  (click)="selectWizard('Submit Campaign')">
            </div>
         </div>
      </div>
      <div class="col-xs-12">
         <div class="pageContent">
            <div class="row page1" *ngIf="campaignFormTitle === 'Create Campaign'">
               <form>
                  <div class="col-xs-4 ">
                     <div class="campaignDetails">
                        <div class="campaignName form-group">
                           <input type="text" class="campaignNameInput formInput" value="" [(ngModel)]="campaigntemplate.name" #name="ngModel" maxlength="30" name="name"
                           placeholder="Campaign Name" autocomplete="off" required>
                           <div class="lengthMessage" *ngIf="campaignName.length==30">
                              Length of Campaign name should be less than or equal to 30 characters
                           </div>
                        </div>
                        <div class="row">
                           <div class="dateInputs">
                              <div class="col-md-12 col-lg-6 ">
                                 <div class="campaignStart">
                                    <mat-form-field class="length">
                                       <input class="" matInput [matDatepicker]="picker1" (click)="picker1.open()" (keydown)="false"
                                       placeholder="Choose a start date"
                                       [(ngModel)]="campaigntemplate.start_date" name="startDate">
                                       <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                       <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-6">
                                 <div class="campaignEnd">
                                    <mat-form-field class="length">
                                       <input class="" matInput [matDatepicker]="picker2" (click)="picker2.open()" (keydown)="false"
                                       placeholder="Choose an end date"
                                       [(ngModel)]="campaigntemplate.end_date" name="endDate">
                                       <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                       <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="campaignDescriptionDiv form-group">
                           <textarea class="campaignDescription" value="" [(ngModel)]="campaigntemplate.description" name="description"
                           placeholder="Description" required style> </textarea>
                        </div>
                     </div>
                  </div>
               </form>
               <div class="col-xs-4">
                  <div class="campaignImage ">
                     <div class="row">
                        <div class="col-md-12 col-sm-12 campaignLabels">Upload Campaign Image</div>
                        <div class="col-xs-12">
                           <div class="round">
                              <input type="radio" id="checkbox" name="chooseImage" value="defaultImage" [(ngModel)]="imageOption"/>
                              <span class="tick_labels campaignLabel default"><strong>Default image</strong></span>
                           </div>
                        </div>
                     </div>
                     <div class="campaignDefaultImage"><img src="/assets/img/Default-image-square.svg"></div>
                     <div class="campaignUserImage">
                        <div class="row">
                           <div class="col-xs-12">
                              <div class="roundUser">
                                 <input type="radio" id="checkboxUser" name="chooseImage"  value="userImage" [(ngModel)]="imageOption"/>
                                 <span class="tick_labels campaignLabel default"><strong>Choose your own image</strong></span>
                              </div>
                              <span class="fileUpload"><em>Maximum upload file size 2MB, and file must be GIF, JPEG,
                              PNG,JIFF</em></span>
                              <div class="campaign_ownInput"><input type="file"
                                 (change)="imageChange($event)" (ngModel)="selectedImages.name" />
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button class="btn uploadBtn" (click)="uploadimage()" [disabled]="(imageOption==='' || imageOption==='defaultImage')&&(defaultCampaignImage)">Upload</button>
                     </div>
                  </div>
               </div>
               <div class="col-xs-4 attach">
                  <div class="campaignLabels">Attach Relevant Documents</div>
                  <span class="fileUpload"><em>Maximum upload file size 2MB, and file must be DOC, PPT or PDF</em></span>
                  <input id="hiddenuploadBtn" class="" type="file" (change)="fileChange($event)" (ngModel)="selectedFiles.name" />
                  <div class="form-group">
                     <button class="fileUploadBtn" (click)="upload()">Attach</button>
                  </div>
                  <div class="form-group" style="margin:10% 0%;">
                     <input type="text" placeholder="Problem Owner" class="formInput" [(ngModel)]="campaigntemplate.problemowner" />
                  </div>
                  <div class="form-group styled-select">
                     <select class="formInput" [(ngModel)]="campaigntemplate.category">
                     <option value="" disabled="true" [selected]="true" class="category">Select Category</option>
                     <option>Insurance</option>
                     <option>CMT</option>
                     <option>Health Care</option>
                     <option>Other</option>
                     </select>
                  </div>
                  <!-- <div class="campaign_name form-group">
                     <input type="text" class="formInput campaign_nameinput" value="" [(ngModel)]="campaigntemplate.videourl"
                     placeholder="Campaign Video URL" required>
                  </div> -->
                  <div class="campaignVideo ">
                     <div class="row">
                        <div class="col-md-12 col-sm-12 campaignLabels">Campaign Video</div>
                        <div class="col-xs-12" style="margin-top:5px">
                           <div class="round">
                              <input type="radio" id="videouser" name="video" value="morethan5mb" [(ngModel)]="videoOption"/>
                              <span class="tick_labels campaignLabel default"><strong>Enter Video URL</strong></span><br>
                              <span class="fileUpload"><em>Enter Video Url, if Video Size is more than 2MB</em></span>
                           </div>
                           <div class="campaign_name form-group" style="margin-top:5px">
                              <input type="text" class="formInput campaign_nameinput" value="" [(ngModel)]="campaigntemplate.videourl"
                              placeholder="Campaign Video URL" required>
                           </div>
                        </div>
                     </div>

                     <div class="campaignUserImage">
                        <div class="row">
                           <div class="col-xs-12">
                              <div class="roundUser">
                                 <input type="radio" id="videoupload" name="video"  value="lessthan5mb" [(ngModel)]="videoOption"/>
                                 <span class="tick_labels campaignLabel default"><strong>Choose your own Video</strong></span>
                              </div>
                              <span class="fileUpload" style="margin-bottom:5px"><em>Maximum upload file size 2MB, and file must be mp4</em></span>
                              <div class="campaign_ownInput"><input type="file"
                                 (change)="videoChange($event)" (ngModel)="selectedvideo.name" />
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button class="btn uploadBtn" (click)="uploadvideo()" [disabled]="(videoOption==='' || videoOption==='morethan5mb')">Upload</button>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12">
                  <hr class="bottom">
               </div>
               <div class=" campaignNextDiv">
                  <button class="campaignNext" (click)="setCurrentPage('Choose Template')">Next</button>
               </div>
            </div>
            <div class="row page2 ideationTemplate" *ngIf="campaignFormTitle === 'Choose Template'">
               <div class="col-xs-2  carousel">
                  <div class="carousel1" [ngClass]="{active :currentchoosetemplatepage=='BMC'}"
                  (click)="selectTemplate('BMC')">
                  <img src="/assets/img/BMC.svg" class="center-block">
                  BMC
               </div>
               <div class="carousel1" [ngClass]="{active :currentchoosetemplatepage=='LMC'}"
               (click)="selectTemplate('LMC')">
               <img src="/assets/img/LMC.svg" class="center-block">
               LMC
            </div>
            <div class="carousel1" [ngClass]="{active :currentchoosetemplatepage=='Other'}"
            (click)="selectTemplate('Other')">
            <img src="/assets/img/otherscreate.svg" class="center-block">
            OTHERS
         </div>
      </div>
      <div *ngIf="currentchoosetemplatepage==='BMC'" class="col-xs-10 buisnessmodel">
         <div class="choosetemplateheading row">BUSINESS MODEL CANVAS</div>
         <div class="modelborder"></div>
         <div class="buisnessalign ">
            <div class="buisness">
               <!-- {{vm.checkwizard()}} -->
               <div class="double col-xs-4">
                  <div class="row">
                     <div class="first col-xs-12">
                        <img src="/assets/img/Customers-and-Relationships.svg" class="center-block">
                        Customer Segments
                     </div>
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="second col-xs-6" style="font-size:15px; margin-right:1%">
                              <img src="/assets/img/Founders.svg" class="center-block">
                              Customers & Relationships
                           </div>
                           <div class="second col-xs-6" style="margin-left:1%">
                              <img src="/assets/img/Channel.svg" class="center-block">
                              Channel
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="single col-xs-2">
                  <img src="/assets/img/Value-Proposition.svg" class="center-block">
                  Value Proposition
               </div>
               <div class="double col-xs-4">
                  <div class="row">
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="second col-xs-6" style="margin-right:1%">
                              <img src="/assets/img/Activities.svg" class="center-block">
                              Activities
                           </div>
                           <div class="second col-xs-6" style="margin-left:1%">
                              <img src="/assets/img/Partners.svg" class="center-block">
                              Partners
                           </div>
                        </div>
                     </div>
                     <div class="first col-xs-12">
                        <img src="/assets/img/Key-Resources.svg" class="center-block">
                        Key Resources
                     </div>
                  </div>
               </div>
               <div class="double col-xs-2" style="    margin-left: -1%;">
                  <div class="row">
                     <div class="secondtop col-xs-12">
                        <img src="/assets/img/Cost-Structure.svg" class="center-block">
                        Cost Structure
                     </div>
                     <div class="col-xs-12 first">
                        <img src="/assets/img/Revenue-Model.svg" class="center-block">
                        Revenue Model
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div *ngIf="currentchoosetemplatepage==='LMC'" class="col-xs-10 buisnessmodel">
         <div class="choosetemplateheading row">LEAN MODEL CANVAS</div>
         <div class="modelborder"></div>
         <div class="buisnessalign ">
            <div class="buisness">
               <!-- {{vm.checkwizard()}} -->
               <div class="double col-xs-4">
                  <div class="row">
                     <div class="first col-xs-12">
                        <img src="/assets/img/Customers-and-Relationships.svg" class="center-block">
                        Customer & Relationships
                     </div>
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="second col-xs-6" style=" margin-right:1%">
                              <img src="/assets/img/Founders.svg" class="center-block">
                              Founders
                           </div>
                           <div class="second col-xs-6" style="margin-left:1%">
                              <img src="/assets/img/Channel.svg" class="center-block">
                              Channel
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="single col-xs-2">
                  <img src="/assets/img/Value-Proposition.svg" class="center-block">
                  Value Proposition
               </div>
               <div class="double col-xs-4">
                  <div class="row">
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="second col-xs-6" style="margin-right:1%">
                              <img src="/assets/img/Activities.svg" class="center-block">
                              Activities
                           </div>
                           <div class="second col-xs-6" style="margin-left:1%">
                              <img src="/assets/img/Partners.svg" class="center-block">
                              Partners
                           </div>
                        </div>
                     </div>
                     <div class="first col-xs-12">
                        <img src="/assets/img/Key-Resources.svg" class="center-block">
                        Key Resources
                     </div>
                  </div>
               </div>
               <div class="double col-xs-2" style="    margin-left: -1%;">
                  <div class="row">
                     <div class="secondtop col-xs-12">
                        <img src="/assets/img/Cost-Structure.svg" class="center-block">
                        Cost Structure
                     </div>
                     <div class="col-xs-12 first">
                        <img src="/assets/img/Revenue-Model.svg" class="center-block">
                        Revenue Model
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div *ngIf="currentchoosetemplatepage === 'Other'" class="col-xs-10 buisnessmodel ideation_chooseTemplate">
         <div class="choosetemplateheading row">OTHERS</div>
         <div class="modelborderothers"></div>
         <div class="template_question" ng-scrollbars ng-scrollbars-config="{height:400}" slimscroll>
            <fieldset class="question" *ngFor="let q of questionArray">
               <p class="question_label">QUESTION</p>
               <div class="col-xs-8 question_input">
                  <input type="text" name="columnName" [(ngModel)]="q.question" name="" placeholder="" required>
                  <div class="row" style="margin-top:5px;"
                     *ngIf="q.question==='' && checkForQuestion">
                     <img src="/assets/img/error-icon.png" />
                     <span class="errorMessage">Enter a valid Question</span>
                  </div>
               </div>
               <div class="col-xs-3" style="transform: translateY(-42%)">
                  <span class="maximum_words ">Maximum Characters for answer</span>
                  <span class="drop_down">
                     <select name="data_type" [(ngModel)]="q.wordlimit">
                     <option *ngFor="let value of maxWords" value="{{value}}">{{value}}</option>
                     </select>
                  </span>
               </div>
               <button class="remove" (click)="removeColumn()" style="outline:none;"><img
                  src="/assets/img/close.svg"></button>
            </fieldset>
            <div class="addquestion">
               <button class="addfields" (click)="addNewColumn()"> ADD QUESTION</button>
            </div>
         </div>
      </div>
      <div class="row choosetemplatenext"
         [ngClass]="{'otherschoosetemplatenext':currentchoosetemplatepage=='Other'}">
         <!-- <button *ngIf="currentchoosetemplatepage=='Other'" (click)="templatepopup()"
         class="otherschoosetemplatesubmitbutton">SUBMIT AS TEMPLATE</button> -->
         <button class="choosetemplatenextbutton"
         [ngClass]="{'otherschoosetemplatenextbutton':currentchoosetemplatepage=='Other'}"
         (click)="setCurrentPage('Launch Campaign')">NEXT</button>
      </div>
   </div>
   <div class="row page3 launch_campaign" *ngIf="campaignFormTitle === 'Launch Campaign'">
      <p class="row launch_subheading">{{currentchoosetemplatepage | uppercase }}/LAUNCH CAMPAIGN</p>
      <div class="launch_border"></div>
      <div class="row launch_detail" ng-init="vm.initialise()">
         <div class="col-xs-4">
            <div class="row  round">
               <input type="checkbox" id="checkbox" [(ngModel)]="campaigntemplate.allUsers"  />
               <label for="checkbox"></label>
               <span class="launch_labels"> Send to all users</span>
            </div>
         </div>
         <div class="col-xs-8 email">
            <p class="launch_groupmail">Add extra email id's</p>
            <p class="hint"><em>Use commas to separate key words</em></p>
            <div class="campaign_email form-group"><input value="" [(ngModel)]="campaigntemplate.email_ids" class=""></div>
         </div>
      </div>
      <div class="launch_borderpadding"></div>
      <hr>
      <div class="row launch_border"></div>
      <div class="pull-right launch_nextdiv" (click)="setCurrentPage('Submit Campaign')">
         <button class="launch_next">Next</button>
      </div>
   </div>
   <div class="row page4 submitcampaign" *ngIf="campaignFormTitle === 'Submit Campaign'">
      <div class="breadcrumbs ">
         {{currentchoosetemplatepage | uppercase }}/LAUNCH CAMPAIGN/SUBMIT
      </div>
      <div class="col-xs-4 column">
         <div class="row">
            <div class="col-xs-12">
               <div class=" heading">Campaign Name</div>
               <div class=" value">{{campaigntemplate.name}} </div>
            </div>
            <div class="col-xs-6 firstcolumn">
               <div class="row">
                  <div class="col-xs-12">
                     <div class="row heading">Campaign Start Date</div>
                     <div class="row value">{{campaigntemplate.start_date | date:'longDate'}}</div>
                  </div>
                  <div class="col-xs-12">
                     <div class="row heading">Campaign End Date</div>
                     <div class="row value">{{campaigntemplate.end_date | date:'longDate'}}</div>
                  </div>
                  <div class="col-xs-12">
                     <div class="row heading">Send to</div>
                     <div class="row value">{{campaigntemplate.allUsers?'All Users':''}} </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-6 secondcolumn">
               <div class="row heading">Campaign Image</div>
               <img src="{{defaultCampaignImage?'/assets/img/Default-image-square.svg':campaigndisplayimage}}" class="img-circle" width="100" height="100" style="margin-top: 5%;">
            </div>
            <div class="col-xs-12">
               <div class="row heading">Extra Emails</div>
               <div class="row value wrap"> {{campaigntemplate.email_ids}} </div>
            </div>
         </div>
      </div>
      <div class="col-xs-4 column">
         <div class=" heading">Campaign Description</div>
         <div class=" value">{{campaigntemplate.description}}</div>
      </div>
      <div class="col-xs-4 question">
         <div class="row heading">Template: {{currentchoosetemplatepage | uppercase }}</div>
         <div class="row heading" *ngIf="campaigntemplate.template_type=='Other'">Questions:</div>
         <div *ngIf="campaigntemplate.template_type=='Other'">
            <div class="scroll" ng-scrollbars ng-scrollbars-config="{height:400}">
               <div class="value" *ngFor="let question of questionArray; let i = index">
                  <div class="row">Question{{i+1}}: {{question.question}}</div>
                  <div class="radio" *ngIf="false" ng-repeat="option in questions.Options">
                     <input type="radio" name="option" value="option">
                     <label>
                     </label>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xs-12">
         <hr class="submitHr">
      </div>
      <div class="submitcampaignfooter col-xs-12">
         <button class="button" (click)="currentchoosetemplatepage=='Other'?saveothertemplate():saveCampaign()"
            >Submit</button>
      </div>
   </div>
</div>
</div>
</div>
</div>
