<div class="col-md-3 col-sm-3 col-lg-3 campaign">
   <div class="row campaignImage" class="center-block">
      <div class="row imagediv"><img src="{{campaign.campaignimage?campaign.campaignimage:'/assets/img/Default-image-square.svg'}}" class="center-block img-circle" width="150" height="150">
      </div>
   </div>
   <div class="row campaignName">
      {{campaign.name}}
   </div>
   <div class="row campaignDuration">
      {{campaign.start_date |date:'longDate'}}- {{campaign.end_date |date:'longDate'}}
   </div>
   <div [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'">
      <p>{{campaign.description}}</p>
   </div>
   <div *ngIf="desc==campaign" [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'" (click)="desc=''" >
   <p>{{campaign.description}}</p>
</div>
<!-- <div class="row viewIdeas"  *ngIf= " checkforAccess('ideas.list')" ui-sref = "ideas.list({campaignId:campaign._id})">
   View Ideas
   </div> -->
<div class="row campaignBottomIcons">
   <div class="col-xs-3 count">
      <img style="margin-right:3px;" src="/assets/img/views.svg" />{{campaign.idea_ids.length}}
   </div>
   <div class="col-xs-3  count">
      <img style="margin-right:3px;" src="/assets/img/ideas.svg" />{{campaign.idea_ids.length}}
   </div>
   <div class="col-xs-3  count">
      <img style="margin-right:3px;" src="/assets/img/likes.svg" />0
   </div>
   <div class="col-xs-3  count">
      <img style="margin-right:3px;" src="/assets/img/comments.svg" />0
   </div>
</div>
</div>
<div class="col-md-8 col-sm-8 ideadetails ratingdetails"[ngClass]="{full : togglebool==false}" *ngIf="!showSpecificIdea">
<div class="row tophat" style="margin-right:0px">
   <div [ngClass]="selectedtabname=='new'?'col-md-2 col-sm-2 select nopad':'col-md-2 col-sm-2 nopad'" (click)="selectedtabname='new'" style="padding-bottom:10px">New Ideas({{newidealist.length}})
</div>
<div [ngClass]="selectedtabname=='rated'?'col-md-4 col-sm-4 select nopad':'col-md-4 col-sm-4 nopad'" (click)="selectedtabname='rated'" style="padding-bottom:10px">Rated Ideas({{ratedidealist.length}})</div>
</div>
<div class="row ideasHeadertab">
   <div class="col-sm-2 col-md-2 nopad" style="width:15%;" >
      Avg.Rate
   </div>
   <div class="col-sm-6 col-md-6 nopad details" style="width:62%;" >
      Details
   </div>
   <div class="col-sm-4 col-md-4 nopad" style="width:21%;" >
      Your Rating
   </div>
</div>
<div *ngIf="selectedtabname=='new'" style="max-height:363px;overflow:auto;" >
   <div *ngFor= "let idea of newidealist; let i = index" (click)="displayIdea(idea,i,'new')">
   <div class="row ideasingle">
      <div class="col-md-1 col-sm-1 nopad" style="width:15%">
         <div class="avgrate">{{idea.avgrate?idea.avgrate:0}}</div>
      </div>
      <div class="col-sm-6 col-md-6" style="width:62%;">
         <div class="row ideaName">{{idea.name}}</div>
         <div class="row">
            <div class="col-sm-6 col-md-6" style="padding-left:0px; padding-right:0px;">
               <span class="by" style="margin-right:3px;">By</span><span class="ideaUserName">{{idea.user.displayName}}</span>
            </div>
            <div class="col-md-6 col-sm-6 by">
               On {{idea.created | date:'longDate'}}
            </div>
         </div>
         <div class="ideaDescription">
            <p>{{idea.description}}</p>
         </div>
      </div>
      <div class="col-sm-3 col-md-3 ratefirst" style="width:16%;">

         <star-rating [maxScore]="5" [forDisplay]="true" ></star-rating>
         <div class="row ratingInfo">{{idea.myrate}} out of 5</div>
      </div>
   </div>
</div>
</div>
<div *ngIf="selectedtabname=='rated'">
   <div *ngFor= "let idea of ratedidealist; let i = index" (click)="displayIdea(idea,i,'rated')">
   <div class="row ideasingle">
      <div class="col-md-1 col-sm-1 avgrate">
         {{idea.avgrate}}
      </div>
      <div class="col-sm-6 col-md-6" style="width:62%;">
         <div class="row ideaName">{{idea.name}}</div>
         <div class="row">
            <div class="col-sm-6 col-md-6" style="padding-left:0px; padding-right:0px;">
               <span class="by" style="margin-right:3px;">By</span><span class="ideaUserName">{{idea.user.displayName}}</span>
            </div>
            <div class="col-md-6 col-sm-6 by">
               On {{idea.created | date:'longDate'}}
            </div>
         </div>
         <div class="ideaDescription">{{idea.description}}...</div>
      </div>
      <div class="col-sm-3 col-md-3 ratefirst" style="width:16%;">
         <star-rating [maxScore]="5" [forDisplay]="true" [score]="idea.rate"></star-rating>

         <div class="row ratingInfo">{{idea.myrate}} out of 5</div>
      </div>
   </div>
</div>
</div>
</div>
<div class="col-sm-8 col-md-8 ideasList" *ngIf="showSpecificIdea" >
   <div class="row ideasHeader">
      <div class="col-sm-6 col-md-6" (click)="goToListIdeas()">
         <img class="previousIcon" src="/assets/img/Previous.svg" style="float:left" />
      </div>
      <div class="col-xs-6">
         <div class="col-sm-1 col-md-1" style="float:right;" (click)="nextIdea(currentIdeaNo)">
            <img class="backIcon" src="/assets/img/next.svg" />
         </div>
         <div class="col-sm-1 col-md-1" style="float:right" (click)=" previousIdea( currentIdeaNo)">
            <img class="nextIcon" src="/assets/img/back.svg" />
         </div>
         <div class="col-sm-4 col-md-4" style="margin-top:7px;float:right">
            <span class="currentIdeaNo">{{ currentIdeaNo<10 ? "0":""}}{{ currentIdeaNo}}</span>
            <span class="totalIdeas">/{{ idealistname=='new'? (newidealist.length<10 ? "0"+newidealist.length:newidealist.length) : (ratedidealist.length<10 ? "0"+ratedidealist.length:ratedidealist.length)}} </span>
         </div>
      </div>
   </div>
   <div class="row ideatitle">{{ display.name}}</div>
   <div class="row ideasubtitle">
      <div class="col-sm-3 col-md-3 nopad" style="">
         <span class="by" style="margin-right:3px;">By</span>
         <span class="ideaUserName">{{ display.user.displayName}}</span>
      </div>
      <div class="col-sm-3 col-md-3 by nopad" style="">
         On {{ display.created | date:'longDate'}}
      </div>
      <div class="col-sm-3 col-md-3 nopad" style="">
         <span class="by" style="margin-right:3px;">Category</span>
         <span class="ideaUserName">{{ campaign.category}}</span>
      </div>
      <div class="col-sm-3 col-md-3 nopad ratefirst" style="margin-top:-20px">
         <star-rating [maxScore]="5" [forDisplay]="false" [score]="display.rate" (rateChanged)="onRateChange($event,display)"></star-rating>

         <div class="row ratingInfo">{{ display.rate}} out of 5</div>
      </div>
      <span id="snackbar" style="background:green;">Rating Saved!!!</span>
   </div>
   <hr>
   <div >
      <div class="row ideafounder">
         Founder ID: <span style="color:#000;padding-left:10px;padding-right:20px;font-weight: bold;">{{ display.founder_id}}</span> Founder Name: <span style="color:#000;padding-left:10px;font-weight: bold;">{{ display.founder_name}}</span>
      </div>
      <div class="row ideadescription" >
         {{ display.description}}
      </div>
      <div class="row uploadedfiles">
         <div class="row title">Uploaded files</div>

      </div>
      <div class="row qa" >
         <div class="row title">Question and Answers</div>
         <div  *ngIf = " display.template_type == 'Other'"  class="qain">
            <div *ngFor = "let question of  display.questions;let i =index">
               <p class="questionstyle">#{{i+1}}<b style="padding-left:10px">{{question.question}}</b></p>
               <p>{{ display.answers[i]}}</p>
            </div>
         </div>
         <div  *ngIf = " display.template_type == 'BMC' || display.template_type == 'LMC'"  class="qain">
            <div  *ngFor =  "let customer of  display.questions.Customer">
               <div class="row">
                  <div class="col-md-1 col-sm-1 index" > #1</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{customer}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{ display.answers.Customer[$index]}}</div>
               </div>
            </div>
            <div  *ngFor =  "let value of  display.questions.Founder">
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #2</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{value}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{ display.answers.Founder[$index]}}</div>
               </div>
            </div>
            <div  *ngFor =  "let value of  display.questions.ValueProposition">
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #3</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{value}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{ display.answers.ValueProposition[$index]}}</div>
               </div>
            </div>
            <div  *ngFor =  "let channel of  display.questions.Channel">
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #4</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{channel}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{ display.answers.Channel[$index]}}</div>
               </div>
            </div>
            <div  *ngFor =  "let key of  display.questions.KeyActivities">
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #5</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{key}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{ display.answers.KeyActivities[$index]}}</div>
               </div>
            </div>
            <div  *ngFor =  "let partner of  display.questions.Partners">
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #6</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{partner}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{ display.answers.Partners[$index]}}</div>
               </div>
            </div>
            <div  *ngFor =  "let key of  display.questions.KeyResources">
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #7</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{key}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{ display.answers.KeyResources[$index]}}</div>
               </div>
            </div>
            <div  *ngFor =  "let cost of  display.questions.CostStructure">
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #8</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{cost}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{ display.answers.CostStructure[$index]}}</div>
               </div>
            </div>
            <div  *ngFor =  "let model of  display.questions.RevenueModel">
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #9</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{model}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{ display.answers.RevenueModel[$index]}}</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div  *ngIf=" selectedtab=='idea'">
   <div class="row ideatitle">
      {{ display.name}}
   </div>
   <div class="row ideasubtitle">
      <div class="col-md-6 col-sm-6 subtext nopad">
         By <span style="color:#00B140">{{ display.user.displayName}}</span>
         <span style="float:right">On {{ display.created | date:'longDate'}}</span>
      </div>
      <div class="col-md-6 col-sm-6 subicons nopad">
         <a [routerLink] = "myideas.edit({ideaId: display._id})"><img src="/assets/img/edit.svg" ></a>
         <img src="/assets/img/{{ sizing}}.svg" (click)=" toggle()">
      </div>
   </div>
   <div class="row ideafounder">
      Founder ID: <span style="color:#000;padding-left:10px;padding-right:20px;font-weight: bold;">{{ display.founder_id}}</span> Founder Name: <span style="color:#000;padding-left:10px;font-weight: bold;">{{ display.founder_name}}</span>
   </div>
   <div class="row ideadescription" >
      {{ display.description}}
   </div>
   <div class="row uploadedfiles">
      <div class="row title">Uploaded files</div>
      <div class="row docs"  *ngIf=" display.idea_url"><a href="{{ display.idea_url}}"><img src="/assets/img/files.svg" style="cursor:pointer"></a>{{ display.idea_url.substring(45, display.idea_url.length)}}</div>
      <div class="row docs"  *ngIf="! display.idea_url">No files Uploaded</div>
   </div>
   <div class="row qa" >
      <div class="row title">Question and Answers</div>
      <div  *ngIf = " display.template_type == 'Other'"  class="qain">
         <div *ngFor = "let question of  display.questions">
            <p class="questionstyle">#{{$index}}<b style="padding-left:10px">{{question}}</b></p>
            <p>{{ display.answers[$index]}}</p>
         </div>
      </div>
      <div  *ngIf = " display.template_type == 'BMC' || display.template_type == 'LMC'"  class="qain">
         <div  *ngFor =  "let customer of  display.questions.Customer">
            <div class="row">
               <div class="col-md-1 col-sm-1 index" > #1</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{customer}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{ display.answers.Customer[$index]}}</div>
            </div>
         </div>
         <div  *ngFor =  "let value of  display.questions.Founder">
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #2</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{value}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{ display.answers.Founder[$index]}}</div>
            </div>
         </div>
         <div  *ngFor =  "let value of  display.questions.ValueProposition">
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #3</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{value}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{ display.answers.ValueProposition[$index]}}</div>
            </div>
         </div>
         <div  *ngFor =  "let channel of  display.questions.Channel">
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #4</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{channel}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{ display.answers.Channel[$index]}}</div>
            </div>
         </div>
         <div  *ngFor =  "let key of  display.questions.KeyActivities">
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #5</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{key}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{ display.answers.KeyActivities[$index]}}</div>
            </div>
         </div>
         <div  *ngFor =  "let partner of  display.questions.Partners">
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #6</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{partner}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{ display.answers.Partners[$index]}}</div>
            </div>
         </div>
         <div  *ngFor =  "let key of  display.questions.KeyResources">
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #7</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{key}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{ display.answers.KeyResources[$index]}}</div>
            </div>
         </div>
         <div  *ngFor =  "let cost of  display.questions.CostStructure">
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #8</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{cost}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{ display.answers.CostStructure[$index]}}</div>
            </div>
         </div>
         <div  *ngFor =  "let model of  display.questions.RevenueModel">
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #9</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{model}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{ display.answers.RevenueModel[$index]}}</div>
            </div>
         </div>
      </div>
   </div>
</div>
<div  *ngIf=" selectedtab=='campaigndetails'" class="ideacampaigndetails">
   <div class="row campaigndetailtitle">{{ campaignnames[0].name}}</div>
   <div class="row campaigndetailsubtitle">
      <div class="col-md-6 col-sm-6 nopad">
         By <span style="color:#00B140">{{ campaignnames[0].user.displayName}}</span>
         <span style="float:right">{{ campaignnames[0].created | date:'longDate'}}</span>
      </div>
   </div>
   <div class="row campaigndetaildesc"  *ngIf="!readmore">
      {{ campaignnames[0].description}}
   </div>
   <div class="row campaigndetaildesc"  *ngIf=" readmore">
      {{ campaignnames[0].description}}
   </div>
   <div class="row campaigndetaildescreadmore"  *ngIf=" campaignnames[0].description.length>400" (click)=" readmore=! readmore">
   {{ readmore?'View Less':'View More'}}
</div>
</div>
