.row{
  margin-left:0px;
  margin-right:0px;
}
  .campaign{
	background-color: #fff;
    align-items: center;
    /* padding-left: 24px; */
    /* padding-right: 0px; */
    width: 22.2%;
    /* height: 75vh; */
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 1.2%;
    margin-right: 1.5%;
    padding: 30px;
}
  .campaign .campaignImage{
	align-items:center;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  .campaign .campaignImage .imagediv{
	border-radius:50%;
	align-items:center;
	margin-bottom: 20px;
}
  .campaign .campaignImage .imagediv img{
	margin-top: 0px;
  border-radius:50%;

}
  .campaign .campaignImage .imagediv .share{
    width: 0.7vh;
    right: 6%;
    position: absolute;
    top: 2%;
    cursor:pointer;
}
  .campaign .campaignName{
	font-family: TTNorms-Bold;
	font-size:1.2vw;
	color:#0033A0;
	text-align:center;
  width: 98%;
  padding-left: 2%;
	min-height: 6vh;
  max-height:6vh;
}
  .campaign .campaignDuration{
	background-color:rgba(0,51,160,0.93);
	padding:10px;
	font-family:arial;
	font-size:13px;
	text-align:center;
	color:#fff;
	margin-left: -30px;
  margin-right: -30px;
  margin-top:10px;
}
  .campaign .campaignDescription{
	font-family:arial;
	font-size:15px;
	padding:5%;

  /*word-break: break-all;*/
  min-height: 18vh;
	max-height:18vh;
    margin-bottom:10px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 8;
	}
  .campaign .campaignName p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
  }
    .campaign .campaignDescription p{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
  }
  .tophat{
    margin:20px;
color:#00B140;
font-family:TTNorms-Medium;
font-size:18px;
border-bottom:1px solid rgba(0,0,0,0.1);
margin-left:0px;
margin-top:0px;
margin-bottom:10px;
  }
  .tophat .select{
    border-bottom:2px solid #00B140;
    color:#0033A0;
  }
  .campaign .viewIdeas{
	width:50%;
	border-radius:40px;
	background-color:#00B140;
	color:#fff;
	font-family:TTNorms-Medium;
	font-size:2.5vh;
	text-align:center;
	padding:8px;
	margin-left:23%;
	margin-bottom:10%;
	cursor:pointer;
	}
  .campaign .campaignBottomIcons
{
	padding-top:30px;
  /*margin-left: -30px;
    margin-right: -30px;*/
		font-size:14px;
}
  .campaign .campaignBottomIcons div{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #0033A0;
    font-size:2vh;
    font-family: TTNorms-Medium;
    padding-left: 0px;
    padding-right: 0px;
    width: 25%;
}
  .campaign .campaignBottomIcons img{
margin-right:1vh;

  width:14px;
  height:16px;
}
 .ratingdetails{
	width:72%;
	min-height: 68vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 1.2%;
    margin-right: 1.5%;
}
 .ideasHeader{
    background-color:#0033A0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 .ratingdetails .ideasHeadertab{
	font-family:TTNorms-Medium;
	font-size:2.5vh;
	text-align:left;
	color:#000;
	padding-left:0px;
	padding-bottom:10px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
 .tickIcon1{
  margin-left:30px;
  margin-top:34px;
}

 .userIcon{
  margin-top:17px;
  margin-left:19px;
}

 .ideaName{
  color:#0033A0;
  font-size:15px;
  font-weight:bold;
  font-family:TTNorms-Medium;
}

 .by{
  font-size:13px;
  padding-left:0px;
  //margin-right:3px;
  color:#9B9B9B;
}

 .ideaUserName{
  color:#00B140;
  font-size:13px;
  font-family:arial;
}

 .ideaDescription{
  color:#333333;
  font-size:15px;
 font-family:TTNorms-Medium;

}
 .ideaDescription p{
overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;

   -webkit-line-clamp: 1;
}
 .ratingInfo{
  color:#666666;
  font-style:italic;
  font-size:12px;
}
 .avgrate{
	    border: 1px solid #0033A0;
    width: 65px;
    height: 65px;
    margin-right:3vh;

    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:#FF8F1C;
    font-size:20px;
}
 .ideasingle{
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
 .ideasList{
  background-color: #ffffff;
  padding-left:0px;
  padding-right:0px;
  width: 72%;
  border-radius:5px;
   margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 1.2%;
    margin-right: 1.5%;
}

 .ideasHeader2{
  color:#333333;
  font-size:13px;
  font-weight:bold;
  margin-top:20px;
}
 hr{
  border-top: 1px solid #d8d8d8;
  margin-left:30px;
  margin-right:30px;
  margin-top:10px;
  margin-bottom:10px;
}
 .tickIcon{
  margin-left:30px;
}
 .userbg{
  background-color: #E4E4E4;
  border-radius:35px;
  width:60px;
  height:60px;
  margin-top:7px;
}
 .tickIcon1{
  margin-left:30px;
  margin-top:34px;
}

 .userIcon{
  margin-top:17px;
  margin-left:19px;
}

 .ideaName{
  color:#0033A0;
  font-size:15px;
  font-weight:bold;
}

 .by{
  font-size:13px;
  padding-left:0px;
  color:#9B9B9B;
}

 .ideaUserName{
  color:#00B140;
  font-size:13px;
}


 .ratingInfo{
  color:#666666;
  font-style:italic;
  font-size:12px;
}
 .currentIdeaNo{
  margin-top:9px;
font-size:32px;
color:#ffffff;
}

 .totalIdeas{
margin-top:9px;
font-size:16px;
color:#ffffff;
}

 .previousIcon{
  margin-top:9px;
  margin-bottom:9px;
}
 .nextIcon{
  margin-top:20px;
}

 .backIcon{
  margin-top:20px;
}

 .ideatitle{
  font-size:28px;
  color:#0033A0;
  padding-bottom:5px;
  margin-left:30px;
  margin-top:15px;
}

 .ideasubtitle{
  color:#9B9B9B;
  font-family:Arial;
  font-size:13px;
  padding-bottom:10px;
  width:98%;
  margin-left:30px;
}

 .nopad{
  padding-left:0px;
  padding-right:0px;
}

 .ideafounder{
  margin-top:10px;
  margin-bottom:10px;
  color:#9B9B9B;
  font-size:15px;
  font-family:Arial;
  margin-left:30px;
}

 .ideadescription{
  font-size:15px;
  font-family:Arial;
  color:#333333;
  line-height: 22px;
  margin-bottom:10px;
  word-break:break-all;
  padding-right:30px;
  margin-left:30px;
}

 .uploadedfiles .title{
  color:#0033A0;
  font-size:15px;
  font-family:Arial;
  margin-bottom:5px;
  font-weight: bold;
  margin-left:30px;
  margin-top:13px;
}

 .uploadedfiles .docs{
  font-style:italic;
  margin-left:30px;

}
 .uploadedfiles .docs img{
  margin-right:10px;
}

 .qa{

  margin-bottom:10px;
  margin-left:30px;
}

 .qa .title{
  color:#0033A0;
  font-size:15px;
  font-family:Arial;
  margin-bottom:5px;
  font-weight: bold;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:5px;
}

 .qain{

  margin-bottom:10px;
}

 .index{
  padding-left:0px;
  padding-right:0px;
  width:2%;
}

 .qa .que{
font-size:15px;
  font-family:Arial;
  color:#333333;
  font-weight: bold;
}
 .qa .ans{
  font-size:15px;
  font-family:Arial;
  color:#333333;
  padding-left:4%;
  padding-bottom:10px;
}
@media(min-width:768px) and (max-width:1200px){


 .campaign .campaignImage .imagediv img{
  width:100px !important;
  height:100px !important;
}
 .ideasingle .ratefirst{
	width:19% !important;
	}
 .ideaDescription{
  font-size:13px;
}
 .ratingdetails .ideasHeadertab {
	font-size:18px;
}
 .ratingdetails .ideasHeadertab .details{
	padding-left:10px;
}
 .avgrate{
	width:6vh;
	height:6vh;
}
}
@media(min-width:1920px){
	  .campaign .campaignDescription p{
		display: -webkit-box;
		-webkit-line-clamp: 7;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin:0px;
	}

}
@media(min-width:2560px){
 .campaign .campaignName p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
  }
   .avgrate{
  margin-right:16vh;
}
}


body{
  background: black;
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  .section{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    .block{
      border: 1px solid $gray;
      border-radius: 3px;
      margin:16px;
      padding: 40px;
      .margin-vertical-8{
        margin: 8px 0;
      }
    }
  }

}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
   top: 100px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


    .to-rate{
        cursor: pointer;
        padding: 0 3px;
    }
    .fa-star-o{
        color: orange;
    }
    .fa-star{
        color: orange;
    }
    .fa-star-half-o{
        color: orange;
    }
    .to-display{
        padding: 0 2px;
    }
