.bmcpopup .closepopup{
    margin-top: -12px;
    margin-right: -8px;
    }
    .popuptitle{
      background: #0033A0;
      color:#ffffff;
      font-family: TTNorms-Bold;
      font-size: 20px;
      text-align:center;
      padding-top: 10px;
      padding-bottom: 10px;
      
    }
    
    
    .popupcontentfounder{
      background: #FFFFFF;
      height: 13.2vh;
      padding: 20px 0px 20px 20px;
      font-family: TTNorms-Medium;
      font-size: 14px;
    }

    .popupcontentfounder a{
        text-decoration: none;
        color: #0033A0;
    }
    
    .bmcpopup input[type="text"]{
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      height: 35px;
      width: 90%;
    }
    .bmcpopup input[type="textarea"]{
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      height: 80px;
      width: 90%;
    }
    .bmcpopup .add
    {
      color: #6eb43f;
      font-family: "Roboto-Regular";
      font-size: 12px;
      float: right;
      padding-right: 10px;
      padding-bottom: 10px;
    }
    .bmcpopup .fieldname{
      padding-left:0px;
      padding-right: 0px;
    }
    .bmcpopup .selectoption{
    
    }
    /*select{
    
      background: #154656;
      border: none;
      margin-top: 10px;
      margin-bottom: 20px;
      height: 40px;
      width: 35%;
    }*/
    .bmcpopup option{
    appearance: none;
    }
    
    .template_name .templatename{
      color:white;
      font-size:12px;
      font-family:'Roboto-Regular';
      padding-top:20px;
      background: #02232d;
      height: 140px;
    }
    .template_name input[type="text"]{
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      height: 20px;
      width: 90%;
    }
    .template_name .savetemplate{
      font-family: "Roboto-Medium";
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left:7px;
      padding-right: 7px;
      font-size: 12px;
      color: #ffffff;
      border: 2px solid #6eb43f;
      background: none;
      margin-right:10px;
    }
    .template_name .closepopup
    {
      margin-top:-13px;
      margin-right:-9px;
    }
    .template_name .modal-dialog {
        top: 150px;
    }
    .bmcpopup .popup_answer{
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
        min-height: 100px;
        min-width:90%;
        margin-top:10px;
        color:#333333;
        font-size:14px;
        font-family:TTNorms-Medium;
        padding-left: 2%
    }
    
    .modal-content{
    margin-top:150px;
    }
    .bmcpopup .row{
      margin-left: 0px !important;
      margin-right:  0px !important;
    }
    .mat-dialog-container{
      padding: 0px !important;
    }