<div class="bmcpopup">
   <img src="/assets/img/close.svg" class="closepopup pull-right" (click)="close()"/>
   <div class="row popuptitle">
      Download
   </div>
   <div class="popupcontentfounder">
      <p>Please use the below link to download the file</p>
      <a href="{{downloadUrl}}" target="_blank">{{downloadUrl}}</a>
   </div>
</div>
