

body{
  background: black;
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  .section{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    .block{
      border: 1px solid $gray;
      border-radius: 3px;
      margin:16px;
      padding: 40px;
      .margin-vertical-8{
        margin: 8px 0;
      }
    }
  }

}


    .to-rate{
        cursor: pointer;
        padding: 0 3px;
    }
    .fa-star-o{
        color: orange;
    }
    .fa-star{
        color: orange;
    }
    .fa-star-half-o{
        color: orange;
    }
    .to-display{
        padding: 0 2px;
    }
