<div class="row firstRow">
   <div class="col-md-6 col-sm-6 padding">
      <div class="col-md-5 col-sm-5 padding navtab">
         <div class="row">
            <div class="col-md-5 col-sm-5 i1" style="height:60px; width:60px;">
               <img src="/assets/img/no-of-users.png" class="userIcon img-responsive">
            </div>
            <div class="col-md-7 col-sm-7" style="height:60px;">
               <div class="row n1">{{numberofusers}}</div>
               <div class="row n2">Number of Users</div>
            </div>
         </div>
      </div>
      <div class="col-md-5 col-sm-5 padding navtab">
         <div class="row">
            <div class="col-sm-5 col-md-5 i1" style="height:60px; width:60px;">
               <img src="/assets/img/total-Champaigns.png" class="campaignsIcon img-responsive">
            </div>
            <div class="col-sm-7 col-md-7" style="height:60px;">
               <div class="n1">{{totalcampaigns}}</div>
               <div class="n2">Total Campaigns</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-sm-6 padding">
      <div class="col-md-5 col-sm-5 padding navtab">
         <div class="row">
            <div class="col-sm-5 col-md-5 i1" style="height:60px; width:60px;">
               <img src="/assets/img/champaign-ideas.png" class="ideasIcon img-responsive">
            </div>
            <div class="col-sm-7 col-md-7" style="height:60px;">
               <div class="n1">{{totalideas}}</div>
               <div class="n2">Campaign Ideas</div>
            </div>
         </div>
      </div>
      <div class="col-md-5 col-sm-5 padding navtab">
         <div class="row">
            <div class="col-sm-5 col-md-5 i1" style="height:60px; width:60px;">
               <img src="/assets/img/My-ideas.png" class="myIdeasIcon img-responsive">
            </div>
            <div class="col-sm-7 col-md-7" style="height:60px;">
               <div class="n1">{{mytotalideas}}</div>
               <div class="n2">My Ideas</div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row chartcontent f" id="demo">
   <div class="col-md-12 col-sm-12  chartwidth">
      <div class="row" style="margin-top:15px;">
         <div class="col-md-5 col-sm-5">
            <p class="campaignOverviewHeader">Campaign Overview</p>
            <hr class="orangeUnderline">
         </div>
         <div class="col-md-4 col-sm-4">
            <p class="cn">{{campaignchartname}}</p>
         </div>
      </div>
      <div class="chart row">
         <div class="col-md-1 col-sm-1 padding"><img class="pull-left arrow" src="/assets/img/back-2.png" (click)="prevcampaign()"></div>
         <div class="col-md-10 col-sm-10 padding canvas">
            <canvas id="myChart" height="70"></canvas>
         </div>
         <div class="col-md-1 col-sm-1 padding"><img class="pull-right arrow" src="/assets/img/next-2.png" (click)="nextcampaign()"></div>
      </div>
   </div>
</div>
<div class="row dashcampaigndetails">
<div class="col col-md-6 col-sm-6 f padding first">
   <div class="row">
      <p class="col-md-9 col-sm-9 co">Latest Campaign Ideas</p>
      <p class="col-md-3 col-sm-3 viewmoreText" >view more<img class="playIcon" src="/assets/img/play-small.svg" /></p>
   </div>
   <hr class="orangeUnderline">
   <div class="row thumbDetails">
      <div class="col-md-2 col-sm-2 ideaThumb">
         <img style="height:64px; width:64px;"  src="{{latestideacampaignimage}}" />
      </div>
      <div class="col-md-10 col-sm-10">
         <div class="row">
            <p class="io">
               {{latestidea.name}} - {{latestidea.description}}
            </p>
         </div>
         <div class="row latestbottom">
            <div class="gr">{{latestideacampaignname}}</div>
            <div class="date">{{latestidea.created | date:'MMMM dd'}}</div>
         </div>
      </div>
   </div>
</div>
<div class="col col-md-6 col-sm-6 f padding second">
   <div class="row">
      <p class="col-md-9 col-sm-9 co ratetitle">Latest Ratings</p>
      <p class="col-md-3 col-sm-3 viewmoreText" >view more<img class="playIcon" src="/assets/img/play-small.svg" /></p>
   </div>
   <hr class="orangeUnderline">
   <div class="row" style="margin-top:15px;">
      <div class="col-md-2 col-sm-2 ratingValue">{{avgrate}}</div>
      <div class="col-md-9 col-sm-9">
         <p class="io" style="padding-bottom:0px;">{{ratedIdeaName}}</p>
         <div class="row star">
            <span class="rate">
               <star-rating [maxScore]="5" [forDisplay]="true" [score]="rate"></star-rating>
            </span>
         </div>
         <div class="row">
            <div id="js" class="col-4 jsm">{{ratername}}</div>
            <div id="m12" class="date col-8" style="margin-left: 91px;margin-top: -18px;">{{ratingcreateddate | date:'MMMM dd'}}</div>
         </div>
         <div class="row ratingtext">
         </div>
      </div>
   </div>
</div>
