.padding{
  padding-left:0px;
  padding-right:0px;
}
.row{
  margin-left:0px;
  margin-right:0px;
}
 .navtab{
  margin-top:20px;
  margin-left:30px;
}
 .chartcontent{
  border-radius:5px;
  margin-left:37px;
  margin-right:20px;
  margin-top:10px;
    width:94%;
}
 .chart img{
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
}
 .dashcampaigndetails{
  margin-left:38px;
  margin-top:10px;
  margin-bottom:44px;
}
 .first{
    border-radius:5px;
  width:47%;
  margin-right:32px;
  padding-left:20px;
  padding-right:20px;
}
 .canvas{
  padding-right:40px;
  padding-left:40px;
}
 .second{
   border-radius:5px;
  width:47%;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
}
 p{
  margin:0px;
}
.f{
 background-color: white;
}
.i1{
  background-color:#d2d7e4;
  text-align: center;
  padding-top:  7%;
  padding-left: -4px;
  font-family:"Roboto-Regular";
  border-radius:35px;
}

.n1{
  font-family:"Roboto-Regular";
  font-size: 36px;
  color:#0033A0;
}
.n2{
  margin-top:-12px;
font-family:"Roboto-Regular";
  font-weight: regular;
  font-size: 13px;
  color:#666666;
}

 .latestbottom{
  margin-bottom:10px;
}
 .secondlatestidea{
  padding-top:20px;
}

 .ratingtext{
  padding-bottom:15px;
}
.co{
  font-family:"Roboto-Regular";
  font-weight:bold;
  font-size: 20px;
color: #0033A0;
  padding-top:26px;
  padding-left:0px;
}
.cn{
  font-family:"Roboto-Bold";
  font-weight: medium;
  text-transform: uppercase;
  font-size: 14px;
color:#000000;
margin-top:26px;
  padding-bottom:10px;
}
.campaignOverviewHeader{
	font-family:"Roboto-Bold";
	font-size: 20px;
  color: #0033A0;
margin-top:26px;
}
.orangeUnderline{
border-top: 2px solid #FF8F1C;
width:30px;
margin-top:-1px;
float: left;
}

.dot {
    height: 5px;
    width: 5px;
    background-color:  #6eb43f;
    border-radius: 0%;
    display: inline-block;
    margin-right: 3%
  }
.dot1 {
    height: 5px;
    width: 5px;
    background-color:  #6eb43f;
    border:1px solid  #6eb43f;
    background-color:black;
    border-radius: 0%;
    margin-right:  -30%;
    display: inline-block;
  }
.io{
  font-family:"Roboto-Regular";
  font-weight: bold;
  text-transform: capitalize;;
  font-size:16px;
  color:#0033A0;
  padding-bottom:11px;
  /*word-break:break-all;*/
}
.gr{
  font-family:"Roboto-Regular";
  font-weight: bold;
  text-transform: capitalize;;
  font-size: 14px;
  color:#00B140;
  padding-bottom:15px;
  line-height: 1%;

}
.gr1{
  font-family:"Roboto-Regular";
  font-weight: regular;
  text-transform: capitalize;;
  font-size: 12px;
  color: #6eb43f;
  line-height: 1%;
  padding-bottom:15px;
  margin-top:32px;
}
.dashcampaigndetails .date{
font-family:"Roboto-Regular";
  text-transform: capitalize;;
  font-size: 12px;
color:#666666;
}
.line{
  border-bottom: 1px solid rgba(66, 152, 181, 0.2);
}
.rate{
  padding-bottom:0px;
  line-height: .5%;
}
.by{
  font-family:"Roboto-Regular";
  font-weight: regular;
  font-size: 12px;
  color: #666666;
  padding-left: 10%;
}
.jsm{
font-family:"Roboto-Regular";
  font-weight: bold;
  font-size: 14px;
  color:#00B140;
}
.ind{
  height: 100px;
  width: 5%;
}


.campaignsList{
  margin:30px !important;
  margin-top:100px !important;
  margin-bottom:0px !important;
  /*//background-color:rgba(0,0,0,0.5);*/
  height:100%;
}
.ideationSpace .sideNav{
border-right: 1px solid rgba(255,255,255,0.1);
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
  color: #999999;
  text-align: center;
  font-family: TTNorms-Bold;
  background:  rgba(0,51,160,0.2);
  margin-left:15px;
  position:fixed;
}
.ideationSpace .sideNav .accorditem
{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 25%;
        padding-left: 10px;
    padding-right: 10px;
}
.ideationSpace .sideNav .accorditem:hover{
  cursor:pointer;
  border:1px solid #4298B5;
  background: rgba(66, 152, 181,0.1);
}
.ideationSpace .sideNav .select
{
   border: 8px solid transparent;
    border-image:url("/assets/img/nav-selection.svg") 5;
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;

}
.ideationSpace .sideNav .select:hover
{
   border: 8px solid transparent;
    border-image:url("/assets/img/nav-selection.svg") 5;
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;

}
.ideationSpace .sideNav .accorditem img
{
    padding-top: 26%;
    padding-bottom: 5px;

}

.viewmoreText{
  padding-top:33px;
  color:#00B140;
  font-size:14px;
  font-weight: bold;
  padding-left:0px;
  padding-right:30px;
}

.playIcon{
  padding-left:5px;
}

.ideaThumb{
  padding-left:0px;
  margin-bottom:30px;
}

.thumbDetails{
  margin-top:21px;
}
.ratingValue{
  font-family:"Roboto-Regular";
  border:1px solid #0033A0;
  color:#FF8F1C;
  font-size:36px;
  height:80px;
  width:80px;
  padding-top:15px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .arrow{
    margin-top:20px;
  }
}
@media screen and (max-width: 1024px) {
   .chartcontent {
    margin-top: 53px;
      margin-left:28px;
}

.col-md-9 {
    width: 73%;
}

.viewmoreText {
    width: 27%;
}
.viewmoreText{
  padding-top: 23px;
}
.co{
  padding-top:15px;
}
 .dashcampaigndetails{
margin-top: 45px;
margin-left:28px;
}
 .first{
  margin-right: 25px;
}

}


@media screen and (min-width: 2560px){
  .userIcon, .campaignsIcon, .ideasIcon, .myIdeasIcon{
  margin-top: -13px;
}
.arrow{
  margin-top:90px;
}

 .chartcontent {
  margin-top: 53px;
}
.chartwidth{
margin-top:18px;
}
 .dashcampaigndetails{
margin-top:45px;
}
}

@media screen and (min-width: 1440px){
  .arrow{
    margin-top:55px;
  }
}
@media screen and (max-width: 1440px){
   .chartcontent {
    margin-top: 33px;
}
.chartwidth{
  margin-top:18px;
}
 .dashcampaigndetails{
margin-top:33px;
}
 .firstRow{
  margin-top:18px;
}
}


@media screen and (min-width: 2560px){
  .userIcon, .campaignsIcon, .ideasIcon, .myIdeasIcon{
  margin-top: -13px;
}
.arrow{
  margin-top:80px;
}
}

@media screen and (min-width: 1440px){
.chartwidth{
  margin-top:18px;
}
 .dashcampaigndetails{
margin-top:25px;
}
}
@media(min-width:768px) and (max-width:1200px){
.ideationSpace .sideNav{
  font-size:10px;
}
}
