.campaignspage{
  margin-top:6%;
}
.row{
  margin-left:0px;
  margin-right:0px;
}
.campaignsList{
	margin:30px !important;
	margin-top:100px !important;
	margin-bottom:0px !important;
	/* background-color:rgba(0,0,0,0.5); */
	height:100%;
}
.campaignsList .sideNav{
border-right: 1px solid rgba(255,255,255,0.1);
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
  color: #999999;
  text-align: center;
  font-family: TTNorms-Bold;
  background:  rgba(0,51,160,0.2);
  position:fixed;
}
.campaignsList .sideNav .accorditem
{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 25%;
    padding-left: 10px;
    padding-right: 10px;
    /* height:111px; */
}
.campaignsList .sideNav .accorditem:hover{
  cursor:pointer;
  border:1px solid #4298B5;
  background: rgba(66, 152, 181,0.1);
}
.campaignsList .sideNav .select
{
   border: 8px solid transparent;
    border-image:url("/assets/img/nav-selection.svg") 5 !important;
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;
	 padding:5px;
	 padding-bottom: 25%;
}
.campaignsList .sideNav .select:hover
{
   border: 8px solid transparent;
   border-image:url("/assets/img/nav-selection.svg") 5 !important;
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;

}
.campaignsList .sideNav .accorditem img
{
    padding-top: 26%;
    padding-bottom: 5px;

}
.campaignsList .campaigns{
	background-color:rgba(255,255,255,0.9);
	margin-left:8.5%;

}
.campaignsList .campaigns .topHat .borderDiv{

    margin-top: 30px;
	cursor: pointer;
	float: right;
	padding-left: 10px;
}
.campaignsList .campaigns .topHat .borderDiv img{

    margin:0px;

	float: left;

}
.campaignsList .campaigns .topHat .borderDiv span{
	color: #0033A0;
	font-size: 14px;
	font-family: Roboto-Bold;
    margin-top: 3px;
	margin-right: 3px;
}
.campaignsList .campaigns .topHat .campaignCount{
	font-family:arial;
	font-size:16px;
	color:#666666;
	padding-top:30px;
}
.campaignsList .campaigns .topHat .rightIcons img{
	float:right;
	margin:30px;
	margin-left:0px;

}
.campaignsList .campaigns {
	height:auto;
}
.campaignsList .campaigns .campaignDetails .campaign{
	background-color: #fff;
    align-items: center;
    /* padding-left: 24px; */
    /* padding-right: 0px; */
    width: 22.2%;
    /* height: 75vh; */
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 1.2%;
    margin-right: 1.5%;
    padding: 30px;
}
.campaignsList .campaigns .campaignDetails{
	height:67vh;

}
.campaignsList .campaigns .campaignDetails .campaign .campaignImage{
	align-items:center;


	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.campaignsList .campaigns .campaignDetails .campaign .campaignImage .imagediv{
		border-radius: 50%;

    /*width: 150px;
    height:150px;*/
    align-items: center;
    margin-bottom: 20px;
}
.campaignspage .listOption{
	margin-top: 30px;
	background: #fff;

	width: 8.5vh;
	box-shadow: 0px 5px 7px 0px #AAAAAA;
	font-family: TTNorms-Medium;
	font-size: 14px;
	color: #0033A0;
}

.campaignspage .listOption a{
	padding: 10px 0px 10px 10px;
	text-decoration: none;
	color: #0033A0;
}
.campaignsList .campaigns .campaignDetails .campaign .campaignImage .imagediv img{

	margin-top: 0px;
  border-radius:50%;
}
.campaignspage .share{
    width: 1.5vh;
    height:1.5vh;
    right: 6%;
    position: absolute;
    top: 2%;
    cursor:pointer;
}
.campaignspage .campaignName{
font-family: TTNorms-Bold;
	font-size:1.2vw;
	color:#0033A0;
	text-align:center;
  width: 98%;
  padding-left: 2%;
	min-height: 6vh;
  max-height:6vh;
}
.campaignsList .campaigns .campaignDetails .campaign .campaignDuration{
	background-color:rgba(0,51,160,0.93);
	padding:10px;
	font-family:arial;
	font-size:13px;
	text-align:center;
	color:#fff;
	margin-left: -30px;
  margin-right: -30px;
  margin-top:10px;
}
.campaignspage .campaignDescription{
font-family:arial;
	font-size:15px;
	padding:5%;

  /*word-break: break-all;*/
  min-height: 18vh;
	max-height:18vh;
    margin-bottom:10px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 8; /* number of lines to show */

	}
.campaignspage .campaignName p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
  }
  .campaignspage .campaignDescription p{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
  }
.campaignsList .campaigns .campaignDetails .campaign .viewIdeas{
 display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .campaignsList .campaigns .campaignDetails .campaign .viewIdeas button{
   background-color: #00B140;
    border-radius: 40px;
    color: #fff;
    font-family: TTNorms-Medium;
    font-size: 15px;
    text-align: center;
    padding: 8px;
    border: 0px;
    width: 164px;
    box-shadow: 0px 3px 6px #00B140
  }

.campaignsList .campaigns .campaignDetails .campaign .campaignBottomIcons
{
	padding-top:30px;
  /*margin-left: -30px;
    margin-right: -30px;*/
		font-size:14px;
}
.campaignsList .campaigns .campaignDetails .campaign .campaignBottomIcons div{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #0033A0;
    font-size: 2vh;
    font-family: TTNorms-Medium;
    padding-left: 0px;
    padding-right: 0px;
    width: 25%;
}
.campaignsList .campaigns .campaignDetails .campaign .campaignBottomIcons img{
	margin-right:1vh;
  margin-left:10%;
  width:14px;
  height:16px;
}


@media(min-width:1920px){
	.campaignsList .campaigns .campaignDetails .campaign .campaignDescription p{
		display: -webkit-box;
		-webkit-line-clamp: 7;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin:0px;
	}

}
@media(min-width:2560px){
  .campaignsList .campaigns .campaignDetails .campaign .campaignName p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
  }
}
@media(min-width:768px) and (max-width:1200px){

.shorttext{
  display:block;
  width: 90px !important;
}
.longtext{
  display:none;
}
.campaignsList .sideNav{
	font-size:10px;
}

.campaignsList .campaigns .campaignDetails .campaign .campaignImage .imagediv .campimage{
  width:100px !important;
  height:100px !important;
}
.campaignsList .campaigns .campaignDetails .campaign .campaignBottomIcons{
	margin-left: -25px;
    margin-right: -25px;
}
}
