<div class="campaignspage">
   <div class="row campaignsList" style="padding-bottom:70px">
      <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1 sideNav">
         <div  class="accorditem" (click)="gotoselectedpage('dashboard')" [ngClass]="{select : currentaccord=='dashboard'}" *ngIf="authentication?.roles[0]=='admin'">
         <img [src]="currentaccord=='dashboard' ? '/assets/img/nav-dashboard.svg' : '/assets/img/nav-dashboard-inactive.svg'" class="center-block">
         DASHBOARD
      </div>
          <div  class="accorditem" (click)="gotoselectedpage('myideas')" [ngClass]="{select : currentaccord=='myideas'} " >
          <img [src]="currentaccord=='idea' ? '/assets/img/nav-my-idea.svg' : '/assets/img/nav-my-idea-inactive.svg'" class="center-block">
          MY IDEA
       </div>
       <div class="accorditem" (click)="gotoselectedpage('campaigns')" [ngClass]="{select : currentaccord=='campaigns'}" >
         <img [src]="currentaccord=='campaign' ? '/assets/img/nav-campaigns.svg' : '/assets/img/nav-campaigns-inactive.svg'"class="center-block">
         CAMPAIGN
      </div>
      <div  class="accorditem " [ngClass]="{select : currentaccord=='mycampaigns'}" (click)="gotoselectedpage('mycampaigns')" *ngIf="authentication?.roles[0]=='admin'">
        <img [src]="currentaccord=='mycampaign' ? '/assets/img/nav-my-campaigns.svg' : '/assets/img/nav-my-campaigns-inactive.svg'"class="center-block">
        MY CAMPAIGNS
      </div>
      <div class="accorditem" (click)="gotoselectedpage('rating')" [ngClass]="{select:currentaccord=='rating'}"  >
        <img [src]="currentaccord=='rating' ? '/assets/img/nav-ratings.svg' : '/assets/img/nav-ratings-inactive.svg'" class="center-block">
        MY RATINGS
      </div>
    </div>
  <div class="col-xs-11 col-md-11 col-sm-11 col-lg-11 campaigns" >
     <router-outlet></router-outlet>
  </div>
</div>
</div>
