.row{
  margin-left:0px;
  margin-right:0px;
}

.ideacampaign{
  background: #FFFFFF;
  width: 96%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 5px;

  padding-left: 0px;
  padding-right: 0px;

}
.ideacampaign .ideacampaigndetails{
  margin-left:10px;

  margin-bottom:20px;
  background: #FFFFFF;
}
.ideacampaign .ideacampaigndetails .campaignimage{
margin-top:15px;
margin-bottom:25px;
}


.round label {
 background-color: #fff;
 border: 1px solid #ccc;
 border-radius: 50%;
 cursor: pointer;
 height: 17px;
 left: 12px;
 position: absolute;
 top: 11px;
 width: 17px;
}

.round label:after {
 border: 2px solid #fff;
 border-top: none;
 border-right: none;
 content: "";
 height: 5px;
 left: 3px;
 opacity: 0;
 position: absolute;
 top: 5px;
 transform: rotate(-45deg);
 width: 9px;
}

.round input[type="checkbox"] {
 visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
 background-color: #66bb6a;
 border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
 opacity: 1;
}

.campaignimage img {
 }

.ideacampaign .ideacampaigndetails .campaigndate{
  padding-top: 12px;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto-Regular';
  margin-top:15px;
  margin-bottom:15px;
  text-align:center;
  background: #0033A0;
  width: 85%;
  margin-left: 7.5%;
}
.ideacampaign .ideacampaigndetails .campaignbottom{
  color:white;
  margin-bottom:15px;
}
.ideacampaign .ideacampaigndetails .campaignbutton{
  margin-top: 20px;
  margin-bottom: 20px;

  padding:10px;
  font-family: "Roboto-Regular";
  font-size: 12px;
  color: #fff;
  align-items:center;
  width:50%;
  text-align:center;
  margin-left:24%;
  border-radius: 20px;
  background: #00b140;
  box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
}
.ideacampaign .explanation{
  width: 73%;
  padding-bottom: 19%;
}

.ideacampaign .explanation .explanationtitle{
  font-family: "TTNorms-Medium";
  color:#0033A0;
  font-size:25px;
  padding-top:20px;
}

.explanationsubtitle .userName {
  color: #00B140;
  font-family: "TTNorms-Light"
}

.ideacampaign .explanation .explanationsubtitle{
  padding-bottom:10px;
}
.ideacampaign .explanation .explanationsubtitle .ownername{
 padding-left:0px;
 color:#ccc;
 font-family: "TTNorms-Light"
}
.ideacampaign .explanation .explanationsubtitle .problemowner{
 padding-left:0px;
 color:#ccc;
 font-family: "TTNorms-Light";
}
.ideacampaign .explanation .campaigndocs
{
  font-family: "TTNorms-Light";
  color:#000;
  font-style:italic;
  cursor:pointer;
}
.ideacampaign .explanation .campaigndocs img{
  margin-right:10px;
}
.ideacampaign .explanation .campaigndescription{
  font-family: "Roboto-Regular";
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    word-break: break-word;
    min-height: 280px;
    margin-top: 30px;
    margin-bottom: 5%;
    text-align: justify;
}
.ideacampaign .explanation .furthurdetails{
  margin-top:20px;
  color:#4db3d0;}
.ideacampaign .explanation .furthurdetails img{
  margin-right:5px;
}

span.numbers {
  color: #0033A0;
  font-family: TTNorms-Medium;
font-size:14px;
}

div.likes {
  text-align: center;
}

div.likes div {
  padding-left: 0px;
  padding-right: 0px;
}

 .ideanav
{
  font-family: TTNorms-Medium;
  font-size: 18px;
  color: #00B140;
   border-bottom: 1px solid #ccc;
   margin-left:20px;
   margin-right:20px;
   margin-bottom: 2%;
   padding-top:0.5%;

}
 .ideanav img{
  padding-right: 5px;

}
 .ideasubmission{
  width:20%;
  margin-left: 2%;
  padding-right:0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;

   cursor:pointer;
   text-align: center;
}

 .ideacampaigndetails{
  padding-left: 0px;
  padding-right:0px;
  padding-top: 10px;
  padding-bottom: 10px;
 width:25%;
  cursor:pointer;
  font-size: 12px;
}

 .ideacampaignDetail{
  padding-left: 0px;
  padding-right:0px;
  padding-top: 10px;
  padding-bottom: 10px;
 width:20%;
  cursor:pointer;
  font-size: 18px;
  text-align: center;
}
 .selectedtab
{
   border-bottom: 3px solid  #00B140;
   color:#0033A0;
   text-align: center;

}

/* Submit Idea css */
 .sideNav{
border-right: 1px solid rgba(255,255,255,0.1);
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
  color: #999999;
  text-align: center;
  font-family: TTNorms-Bold;
  background:  rgba(0,51,160,0.2);
  position:fixed;
}
 .sideNav .accorditem
{
    border-bottom: 1px solid rgba(255,255,255,0.1);
	padding-bottom: 5%;
	height: 111px;
  padding-left:10px;
  padding-right:10px;
}
 .sideNav .accorditem:hover{
  cursor:pointer;
  border:1px solid #4298B5;
  background: rgba(66, 152, 181,0.1);
}
 .sideNav .select
{
   border: 8px solid transparent;
    border-image:url("/assets/img/nav-selection.svg") 5;
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;

}
 .sideNav .select:hover
{
   border: 8px solid transparent;
    border-image:url("/assets/img/nav-selection.svg") 5;
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;

}
 .sideNav .accorditem img
{
    padding-top: 26%;
    padding-bottom: 5px;

}

  .topHat .campaignCount{
	font-family:arial;
	font-size:16px;
	color:#666666;
  padding:10px 0px 0px 0px;
  height:8vh;
  margin-left: 30px;
  width:96%;
  border-bottom: 1px solid;
}

 .others_question{

  margin-top: 2%;
}

  .topHat .campaignCount .tab{
	padding-left: 0px;
}

  .topHat{
	margin-top:0.5%;
}

  .topHat .rightIcons img{
	float:right;
	margin:10px;
}
  .ideadetail{
  height:72%;
  margin-top: 2%;
}

  .ideadetail .ideaform{
  background: #FFFFFF;

  height:98%;
  margin-left: 2.5%;
  border-radius: 10px;
}

 .ideaformdetail{
    margin-left:10%;

}

 .ideaformHeading{
  font-size: 15px;
  color:#333333;
  font-family: arial;
  font-weight: 500;
}

 .ideaform input[type="text"]{
  margin-top: 10px;
  padding-left: 10px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  height: 6vh;
  width: 90%;
  border-radius: 20px;
  color:#000;
  font-size: 14px;
  font-family: arial;

}

 .ideaform input[type="text"]::placeholder {
  font-family: "Roboto-Regular";
  font-size: 14px;
}
 textarea::placeholder {
  font-family: "Roboto-Regular";
  font-size: 14px;
}

 .ideaform input[type="file"]{
  margin-top: 10px;
  height: 30px;
  width: 90%;
  color:#000;
  font-size: 14px;
  font-family: arial;

}

 .idea_description{
  margin-top: 10px;
  padding-left: 10px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  height: 70px;
  width: 90%;
  border-radius: 20px;
  color:#000;
  font-size: 1.0em;
  padding-top:10px;
  font-family: arial;
}

 .modelborder{
  border: 2px solid #FF8F1C;
  width:2.5vw;
  margin-bottom: 3%;
}

 .idea_others{
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  height: 9vh;
  width: 100%;
  border-radius: 20px;
  color:#000;
  font-size: 1.0em;
  font-family: arial;
}
 input:focus, textarea:focus, select:focus{
        outline: none;
    }
 .upload{
  border:1px solid #00B140;
  background: #FFFFFF;
  color:#00B140;
  margin-top: 2vh;
  margin-bottom: 3vh;
  border-radius: 20px;
  height:3.5vh;
  width:90px;
  font-size: 13px;
  font-family: arial;
  font-weight:bold;
}

 .upload img{
  margin-right: 8%;
}

 .submitborder{
  border: 1px solid #DDDDDD;
  width: 96%;
  margin: 2% 2% 0px 2%;
}

 .ideaSpan{
  font-family: arial;
  color:#999999;
  font-size:10px;
  font-style:italic;
}

 .submitIdeas{
	float: right;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

   .submitIdeas button{
    background-color: #00B140;
    border-radius: 40px;
    color: #fff;
    font-family: TTNorms-Medium;
    font-size: 1.1em;
    text-align: center;
    padding: 8px 20px;
    box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
    border: 0px;
    height: 40px;
    margin-bottom: 30px;
  }

   .ideabmc{
    margin-left: 20px;

}
 .ideabmc .choosetemplateheading{
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 1.4em;
  border: none;
  font-family: TTNorms-Medium;
  color:#0033A0;
}

 .ideabmc .questionsName{
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1.1em;
  border: none;
  font-family: TTNorms-Medium;
  color:#0033A0;
}

 .ideabmc .buisness1{
  height: 97px;
  text-align: center;
  width: 100%;
  font-family: "Roboto-Regular";
  font-size: 75%;
  color: #4db3d0;
}
 .ideabmc .buisness1 .coststructure{
margin-left:0px;
width:48.7%;
}
 .ideabmc .buisness1 .revenuemodel{
width:48.7%;
}
 .ideabmc .buisnessalign{
  padding-top:0px;
  padding-bottom: 0px;
  padding-right: 20px;
  height:51vh;
}

 .single{
width: 19%;
}
 .double{
width: 39%;
}

 .modal-dialog{
  top:10px;
}

 .double .first{
    height: 17.2vh;
    font-family: "TTNorms-Medium";
    color: #0033A0;
    padding-top: 20px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 5px;
}
 .ideabmc label{
  /* margin-left:10px;
  margin-top:10px; */
  border-radius:50%;

}
 .play{
      background: url("/assets/img/play.svg") no-repeat;
      height: 19px;
      padding: 0px;
      margin-right: 10px;
      margin-top:15px;
}
 .play span{
    margin-left: 25px;
}
.round{
  height:0px;
}
textarea:focus{
  outline:0;
}
@media(max-width:1200px)
{
 /* .single{
  width: 18%;
}
 .double{
  width: 18%;
}
 .ideabmc .buisness1 .coststructure{
margin-left:0px;
width:47%;
}
 .ideabmc .buisness1 .revenuemodel{
width:47%;
} */
}

 ::-webkit-input-placeholder{
  color:#D8D8D8;
}
@media(min-width:768px) and (max-width:1200px){
   .sideNav{
    font-size:10px;
  }
}
	 .ideabmc{
    margin-left: 20px;
    height: 62.5vh;
}
 .ideabmc .choosetemplateheading{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left:0px;
  font-size: 1.4em;
  border: none;
  font-family: TTNorms-Medium;
  color:#0033A0;
}
 .ideabmc .questionsName{
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1.1em;
  border: none;
  font-family: TTNorms-Medium;
  color:#0033A0;
}
 .ideabmc .buisness1{
  height: 97px;
  text-align: center;
  width: 100%;
  font-family: "Roboto-Regular";
  font-size: 75%;
  color: #4db3d0;
}
 .ideabmc .buisness1 .coststructure{
margin-left:0px;
width:48.7%;
height: 15vh;
margin-right: 1%;
}
 .ideabmc .buisness1 .revenuemodel{
width:48.7%;
height: 15vh;
}
 .ideabmc .buisnessalign{
  padding-top:0px;
  padding-bottom: 0px;
  padding-right: 20px;
  height:51vh;
}
 .single{
//width: 19%;
height:37vh;
padding-top: 12%;
text-align: center;
margin-left:1%;
margin-right: 1%;
}
 .double{
//width: 39%;
}
 .first, .single, .second, .coststructure, .revenuemodel{
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  font-size:18px;
  font-family:TTNorms-Medium;
  color: #0033A0;
  cursor: pointer;
  margin-bottom: 1%;
}
 .second{
  height:19vh;
  width: 48%;
  margin-right: 2%;
  margin-top: 2%;
  border: none;
  font-size:18px;
  font-family:TTNorms-Medium;
  color: #0033A0;
  padding-top: 12%;
  text-align: center;
}
 .modal-dialog{
  top:10px;
}
 .double .first{
    height: 17.2vh;
    padding-top: 10%;
    text-align: center;
    background: #FFFFFF;
    border-radius: 5px;
}

@media(max-width:1200px)
{
 .single{
  //width: 18%;
}
 .double{
  //width: 18%;
}
 .ideabmc .buisness1 .coststructure{
margin-left:0px;
//width:47%;
margin-right: 1%;
}
.ideabmc .buisness1 .revenuemodel{
width:47%;
}
.first, .single, .second, .coststructure, .revenuemodel{
  font-size:12px;
}
}
.videotext{
  color:#0033A0;
  font-family:TTNorms-Medium;
cursor:pointer;
}


.mat-dialog-container {
  width:80%;
}
