<div class="ideanav row">
   <div class="col-xs-2" (click)="currentnav='campaigndetails'"
   [ngClass]="currentnav=='campaigndetails'?'ideacampaignDetail selectedtab':'ideacampaignDetail'">
   Campaign Details
</div>
<div class="col-xs-2" (click)="currentnav='ideasubmission'"
[ngClass]="currentnav=='ideasubmission'?'ideasubmission selectedtab':' ideasubmission'">
Idea Submission
</div>
</div>
<div class="row ideadetail " *ngIf="currentnav=='ideasubmission'">
   <div class="row">
       <!-- <form name="form1"> -->
      <div class="col-sm-4 col-md-4" style="padding-right: 0px" *ngIf="campaign.nominee!='true'">
         <div class="ideaform">
            <div class="row ideaformdetail">
               <div class="row input" style="margin-top: 4.5%;"><span class="ideaformHeading">Please fill the below form to submit your idea.</span></div>

               <div class="row"><input type="text" name="ideaname" [(ngModel)] = "idea.name" placeholder="Idea Name"></div>

               <div class="row"><textarea class="idea_description" name="ideadescription" placeholder="Description" [(ngModel)] = "idea.description" style="height:9.4vh;"></textarea></div>
               <div class="row">
                  <!-- <span class="row ideaformHeading">Keywords</span> -->
                  <div class="row"><input type="text" name="keyword" [(ngModel)] = "idea.keywords" placeholder="Keywords"></div>
                  <span class="row ideaSpan">Use commas to separate key words</span>
                  <div class="row"><input type="text" name="founder_id"  [(ngModel)]="idea.founder_id" placeholder="Founder Id"></div>
                  <span class="row ideaSpan">Use commas to separate FounderIds</span>
                  <div class="row"><input type="text" name="founder_name"  [(ngModel)]="idea.founder_name" placeholder="Founder Name"></div>
                  <span class="row ideaSpan">Use commas to separate FounderNames</span>
               </div>

               <div class="row" style="margin-top: 10px;    margin-right: 10px;">
                  <span class="row ideaformHeading">Attach Files</span>
                  <span class="row ideaSpan">( Max 1 File of 5MB each and accepted file formats are PDF, PPT, PPTX, DOC, DOCX, XLS, XLSX )</span>
                  <div class="row">
                     <div class="row campaigndocs" *ngIf="idea.idea_url">
                        <span style="font-family:TTNorms-Light;font-style:italic"><img src="/assets/img/files.svg" style="margin-right:10px">{{idea.idea_url.substring(6,idea.idea_url.length)}}</span>
                     </div>
                     <input id="hiddenuploadBtn" type="file"  (change)="fileChange($event)" (ngModel)="selectedFiles.name"/>
                  </div>
                  <div class="row"> <button class="upload"  (click)="upload()"><img src="/assets/img/attach.svg">Attach</button></div>
               </div>

            </div>
         </div>
      </div>
      <div class="col-md-8 col-sm-8">
         <div *ngIf="template_type=='BMC' ||template_type=='LMC'" class=" ideabmc" >
            <div class="choosetemplateheading row">BUSINESS MODEL CANVAS</div>
            <div class="modelborder"></div>
            <div class="buisnessalign row">
               <div class="buisness row">

                  <div class="double col-md-5 col-sm-5" style="padding: 0px">
                     <div class="first col-md-12 col-sm-12" (click)="openbmccreate('customersandrelationships')" >
                        <div *ngIf="customervalue == 'checked'" class="round">
                           <input type="checkbox" id="checkbox3" checked="checked" />
                           <label for="checkbox3"></label>
                        </div>
                        <img src="/assets/img/Customers-and-Relationships.svg" class="center-block">
                        Customer Segments
                     </div>
                     <div class="col-md-12 col-sm-12" style="padding: 0px;" >
                        <div class="second col-md-6 col-sm-6"  (click)="openbmccreate('founders')" style="padding-top: 2%;">
                           <div *ngIf="foundervalue == 'checked'" class="row round">
                              <input type="checkbox" id="checkbox5" checked="checked"/>
                              <label for="checkbox5"></label>
                           </div>
                           <img src="/assets/img/Founders.svg" class="center-block">
                           Customers & Relationships
                        </div>
                        <div class="second col-md-6 col-sm-6"  (click)="openbmccreate('channel')" style="margin-right: 0px; width: 50%">
                           <div *ngIf="channelvalue== 'checked'" class="row round">
                              <input type="checkbox" id="checkbox5" checked="checked"/>
                              <label for="checkbox5"></label>
                           </div>
                           <img src="/assets/img/Channel.svg" class="center-block">
                           Channel
                        </div>
                     </div>
                  </div>
                  <div class="single col-md-2 col-sm-2"  (click)="openbmccreate('valueproposition')" >
                     <div *ngIf="valuepropositionvalue=='checked'" class="row round">
                        <input type="checkbox" id="checkbox5" checked="checked"/>
                        <label for="checkbox5"></label>
                     </div>
                     <img src="/assets/img/Value-Proposition.svg" class="center-block">
                     Value Proposition
                  </div>
                  <div class="double col-md-5 col-sm-5" style="padding: 0px">
                     <div class="col-md-12 col-sm-12" style="padding: 0px;" >
                        <div class="second col-md-6 col-sm-6"  (click)="openbmccreate('keyactivities')" style="margin-top: 0px;">
                           <div *ngIf="keyactivitiesvalue=='checked'" class="row round">
                              <input type="checkbox" id="checkbox5" checked="checked"/>
                              <label for="checkbox5"></label>
                           </div>
                           <img src="/assets/img/Activities.svg" class="center-block">
                           Activities
                        </div>
                        <div class="second col-md-6 col-sm-6"  (click)="openbmccreate('partners')" style="margin-top: 0px;margin-right: 0px; width: 50%">
                           <div *ngIf="partnersvalue=='checked'" class="row round">
                              <input type="checkbox" id="checkbox5" checked="checked"/>
                              <label for="checkbox5"></label>
                           </div>
                           <img src="/assets/img/Partners.svg" class="center-block">
                           Partners
                        </div>
                     </div>
                     <div class="first col-md-12 col-sm-12"  (click)="openbmccreate('keyresources')" style="margin-top: 5px">
                        <div *ngIf="keyresourcesvalue=='checked'" class="round">
                           <input type="checkbox" id="checkbox3" checked="checked" />
                           <label for="checkbox3"></label>
                        </div>
                        <img src="/assets/img/Key-Resources.svg" class="center-block">
                        Key Resources
                     </div>
                  </div>
               </div>
               <div class="buisness1 row">
                  <div class="col-md-6 col-sm-6 coststructure"  (click)="openbmccreate('coststructure')">
                     <div *ngIf="coststructurevalue=='checked'" class="row round">
                        <input type="checkbox" id="checkbox5" checked="checked"/>
                        <label for="checkbox5"></label>
                     </div>
                     <img src="/assets/img/Cost-Structure.svg" class="center-block">
                     Cost Structure
                  </div>
                  <div class="col-md-6 col-sm-6 revenuemodel"  (click)="openbmccreate('revenuemodel')">
                     <div *ngIf="revenuemodelvalue=='checked'" class="row round">
                        <input type="checkbox" id="checkbox5" checked="checked"/>
                        <label for="checkbox5"></label>
                     </div>
                     <img src="/assets/img/Revenue-Model.svg" class="center-block">
                     Revenue Model
                  </div>
               </div>
            </div>
            <div *ngIf="nobmcentry=='true'" style="color:red"><img src="/assets/img/alert.png" style="width:20px;margin-right:10px"> Please enter all the fields</div>
         </div>
      </div>
      <div class="col-md-8 col-sm-8">
         <div *ngIf="template_type=='Other'" class=" ideabmc content2"  >
            <div class="choosetemplateheading row" >OTHERS</div>
            <div class="ideascroll" >
               <div  class="row others_question" *ngFor="let question of other; let i = index;" >
                  <div class="questionsName">
                     {{question.question}}
                  </div>
                  <!-- (ngModelChange)="somethingChanged($event,question.wordlimit)" -->
                  <textarea class="idea_others"  name="columnName"  [(ngModel)]="idea.answers[i]" name="" maxlength={{question.wordlimit}} placeholder="Enter {{question.wordlimit}} Characters"  required></textarea>
                  <span style="color:red" *ngIf="idea.answers[i]?.length >= question.wordlimit">
                        You are allowed to enter only {{question.wordlimit}} characters in this field
                  </span>

               </div>
            </div>
         </div>
      </div>
      <!-- </form> -->
   </div>
   <div class="row submitborder"></div>
   <div class="row submitIdeas">
      <button class="submitidea" (click)= " save() ">Submit Idea</button>
   </div>
</div>
<div *ngIf="currentnav=='campaigndetails'" class="col-xs-12 ideacampaign ">
   <div class="col-xs-4 ideacampaigndetails">
      <div class="row campaignimage">
         <img src="{{campaign.campaignimage?(campaign.campaignimage.startsWith('https://')?campaign.campaignimage:''):'/assets/img/Default-image-square.svg'}}" class="img-circle center-block" width="180" height="180">
      </div>
      <div class="row campaigndate">
         {{campaign.start_date |date:'longDate'}}- {{campaign.end_date |date:'longDate'}}
      </div>
      <div class="row likes">
         <div class="col-xs-3">
            <img src="/assets/img/views.svg">
            <span class="numbers">{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}</span>
         </div>
         <div class="col-xs-3">
            <img src="/assets/img/ideas.svg">
            <span class="numbers">{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}</span>
         </div>
         <div class="col-xs-3">
            <img src="/assets/img/likes.svg">
            <span class="numbers">0</span>
         </div>
         <div class="col-xs-3">
            <img src="/assets/img/comments.svg">
            <span class="numbers">0</span>
         </div>
      </div>
      <div class="campaignbutton row" (click)="currentnav='ideasubmission'">
         Submit Idea
      </div>
   </div>
   <div class="col-xs-8 explanation">
      <div class="row explanationtitle">
         {{campaign.name}}
      </div>
      <div class="row explanationsubtitle">
         <div class="col-xs-7 ownername">
            By <span class="userName">{{campaign.user.displayName}}</span>
         </div>
         <div class="col-xs-5 ownername" style="    text-align: right;    padding-right: 0px;">
            On {{campaign.start_date |date:'longDate'}}
         </div>
         <div class="col-xs-12 problemowner">
            <span>ProblemOwner: <span style="color:#0033A0">{{campaign.problemowner}}</span></span>
         </div>
      </div>
      <hr style="border: 0.6px solid #ccc">
      <div class="row campaigndescription" style="white-space:pre-line;">
         <strong>{{campaign.description}} </strong>
         <div class="play" (click)="openvideoplay(campaign.videourl,campaign.name)" *ngIf="campaign.videourl && campaign.videourl!=''&& campaign.videourl.endsWith('.mp4')" style="white-space:nowrap">
         <span class="videotext">Play Video</span>
      </div>
      <div class="play"  *ngIf="campaign.videourl && campaign.videourl!=''&& !campaign.videourl.endsWith('.mp4')" style="white-space:nowrap">
         <a href="{{campaign.videourl}}" target="_blank"><span class="videotext">Play Video</span></a>
      </div>
   </div>
   <div class="row campaigndocs" *ngIf="campaign.campaign_doc_url" style="margin-top:20px">
      <a (click)="download(campaign.campaign_doc_url)"><img src="/assets/img/files.svg" style="cursor:pointer">{{campaign.campaign_doc_url.substring(10,campaign.campaign_doc_url.length)}}</a>
   </div>
</div>
</div>
