.bmcpopup .closepopup{
margin-top: -12px;
margin-right: -8px;
}
.popuptitle{
  color: #ffffff;
  font-family: TTNorms-Bold;
  font-size: 20px;
  background: #001a4d;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;

}

.bmcpopup .modelborder{
  border: 2px solid #FF8F1C;
  width: 2.5vw;
  margin-bottom: 3%;
  margin-left:3%
}
.popupnav{
padding-left: 0px;
padding-right: 0px;
//padding-top:10px;
background: #e6eeff;


}
.popupnavitem{
  padding-left: 0px;
  padding-right: 0px;
  color: #0033A0;
  font-family: TTNorms-Medium;
  font-size: 13px;
}
.popupnavitem img{
  padding-top: 11px;
  padding-bottom: 10.5px;
  height:6vh
}
.bmcpopup .text{
  padding-top: 2%;
}
.popupcontentfounder{
  padding-left: 0px;
  padding-right: 0px;
  background: #FFFFFF;
  height: 60.2vh;
}
.popupcontenttitle{
  padding: 3% 3% 0px 3%;
  color: #0033A0;
  font-family: TTNorms-Medium;
  font-size: 20px;
}
.modal-lg{
  width:1160px;
}
.round {
 position: relative;
}

.round label {
 background-color: #fff;
 border: 1px solid #ccc;
 border-radius: 50%;
 cursor: pointer;
 height: 17px;
 left: 12px;
 position: absolute;
 top: 11px;
 width: 17px;
}

.round label:after {
 border: 2px solid #fff;
 border-top: none;
 border-right: none;
 content: "";
 height: 5px;
 left: 3px;
 opacity: 0;
 position: absolute;
 top: 5px;
 transform: rotate(-45deg);
 width: 9px;
}

.round input[type="checkbox"] {
 visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
 background-color: #66bb6a;
 border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
 opacity: 1;
}

.bmcpopup .popup{
  //padding-top: 10px;
  //padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
  height:6.7vh;
}
.bmcpopup .popup.active{
  background: #FFFFFF;
  border-left: 4px solid #00B140;
}
.popupinnertitle{
  color: #6eb43f;
  font-family: "Roboto-Regular";
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1c3942;
  margin-right: 20px;
}
.popupinnertitle img{
  padding-right: 10px;
}
.popupinner{
  padding-left: 20px;
  padding-right: 20px;
  height: 400px;
}
.popupinnercontent{
  color: #0033A0;
  font-family: TTNorms-Medium;
  font-size: 16px;
  padding-top: 20px;

}
.bmcpopup input[type="text"]{
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 35px;
  width: 90%;
}
.bmcpopup input[type="textarea"]{
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 80px;
  width: 90%;
}
.bmcpopup .add
{
  color: #6eb43f;
  font-family: "Roboto-Regular";
  font-size: 12px;
  float: right;
  padding-right: 10px;
  padding-bottom: 10px;
}
.bmcpopup .fieldname{
  padding-left:0px;
  padding-right: 0px;
}
.bmcpopup .selectoption{

}
/*select{

  background: #154656;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  width: 35%;
}*/
.bmcpopup option{
appearance: none;
}

.template_name .templatename{
  color:white;
  font-size:12px;
  font-family:'Roboto-Regular';
  padding-top:20px;
  background: #02232d;
  height: 140px;
}
.template_name input[type="text"]{
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 20px;
  width: 90%;
}
.template_name .savetemplate{
  font-family: "Roboto-Medium";
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:7px;
  padding-right: 7px;
  font-size: 12px;
  color: #ffffff;
  border: 2px solid #6eb43f;
  background: none;
  margin-right:10px;
}
.template_name .closepopup
{
  margin-top:-13px;
  margin-right:-9px;
}
.template_name .modal-dialog {
    top: 150px;
}
.bmcpopup .popup_answer{
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
    min-height: 100px;
    min-width:90%;
    margin-top:10px;
    color:#333333;
    font-size:14px;
    font-family:TTNorms-Medium;
    padding-left: 2%
}

.modal-content{
margin-top:150px;
}
.bmcpopup .row{
  margin-left: 0px !important;
  margin-right:  0px !important;
}
.mat-dialog-container{
  padding: 0px !important;
}
textarea:focus{
  outline:0;
}
@media(max-width:1366px){
  .popupinnercontent{
    font-size: 12px;
    padding-top: 0px;
  }
}
