<div class="bmcpopup">
   <img src="/assets/img/close.svg" class="closepopup pull-right" (click)="close()"/>
   <div class="row popuptitle">
      BUSINESS MODEL CANVAS
   </div>
   <div class="col-md-3 col-sm-3 popupnav">
      <div class="popup row" [ngClass]="{active :currentbmcpage=='customersandrelationships'}" (click)="setbmcpage('customersandrelationships')" style="border-top-left-radius: 5px">
      <div *ngIf="(idea.hasOwnProperty('answers') && idea.answers.hasOwnProperty('Customer') && idea.answers.Customer[counter] != '' && idea.answers.Customer[counter] != undefined)||(customervalue=='checked')" class="col-md-2 col-sm-2 popupnavitem round">
         <input type="checkbox" id="checkbox" checked/>
         <label for="checkbox"></label>
      </div>
      <div class="col-md-4 col-sm-4 popupnavitem">
         <img src="/assets/img/Customers-and-Relationships.svg" class="center-block"/>
      </div>
      <div class="col-md-6 col-sm-6 popupnavitem text">
         CUSTOMER SEGMENTS
      </div>
   </div>
   <div class="popup row" [ngClass]="{active :currentbmcpage=='founders'}" (click)="setbmcpage('founders')">
   <div *ngIf="idea.hasOwnProperty('answers') && idea.answers.hasOwnProperty('Founder') && idea.answers.Founder[counter] !== '' && idea.answers.Founder[counter] !== undefined " class="col-md-2 col-sm-2 popupnavitem round">
      <input type="checkbox" id="checkbox"  checked="checked"/>
      <label for="checkbox"></label>
   </div>
   <div class="col-md-4 col-sm-4 popupnavitem">
      <img src="/assets/img/Founders.svg" class="center-block"/>
   </div>
   <div class="col-md-6 col-sm-6 popupnavitem text">
      CUSTOMER RELATIONSHIPS
   </div>
</div>
<div class="popup row" [ngClass]="{active :currentbmcpage=='valueproposition'}" (click)="setbmcpage('valueproposition')">
<div *ngIf="idea.hasOwnProperty('answers') && idea.answers.hasOwnProperty('ValueProposition') && idea.answers.ValueProposition[counter] != '' && idea.answers.ValueProposition[counter] != undefined" class="col-md-2 col-sm-2 popupnavitem round">
   <input type="checkbox" id="checkbox"  checked="checked" />
   <label for="checkbox"></label>
</div>
<div class="col-md-4 col-sm-4 popupnavitem">
   <img src="/assets/img/Value-Proposition.svg" class="center-block" />
</div>
<div class="col-md-6 col-sm-6 popupnavitem text">
   VALUE PROPOSITION
</div>
</div>
<div class="popup row" [ngClass]="{active :currentbmcpage=='channel'}" (click)="setbmcpage('channel')">
<div *ngIf="idea.hasOwnProperty('answers') && idea.answers.hasOwnProperty('Channel') && idea.answers.Channel[counter] != '' && idea.answers.Channel[counter] != undefined" class="col-md-2 col-sm-2 popupnavitem round">
   <input type="checkbox" id="checkbox" checked="checked" />
   <label for="checkbox"></label>
</div>
<div class="col-md-4 col-sm-4 popupnavitem">
   <img src="/assets/img/Channel.svg" class="center-block"/>
</div>
<div class="col-md-6 col-sm-6 popupnavitem text">
   CHANNEL
</div>
</div>
<div class="popup row" [ngClass]="{active :currentbmcpage=='keyactivities'}" (click)="setbmcpage('keyactivities')">
<div *ngIf="idea.hasOwnProperty('answers') && idea.answers.hasOwnProperty('KeyActivities') && idea.answers.KeyActivities[counter] != '' && idea.answers.KeyActivities[counter] != undefined" class="col-md-2 col-sm-2 popupnavitem round">
   <input type="checkbox" id="checkbox" checked="checked"/>
   <label for="checkbox"></label>
</div>
<div class="col-md-4 col-sm-4 popupnavitem">
   <img src="/assets/img/Activities.svg" class="center-block"/>
</div>
<div class="col-md-6 col-sm-6 popupnavitem text">
   KEY ACTIVITIES
</div>
</div>
<div class="popup row" [ngClass]="{active :currentbmcpage=='partners'}" (click)="setbmcpage('partners')">
<div *ngIf="idea.hasOwnProperty('answers') && idea.answers.hasOwnProperty('Partners') && idea.answers.Partners[counter] != '' && idea.answers.Partners[counter] != undefined" class="col-md-2 col-sm-2 popupnavitem round">
   <input type="checkbox" id="checkbox" checked="checked"/>
   <label for="checkbox"></label>
</div>
<div class="col-md-4 col-sm-4 popupnavitem">
   <img src="/assets/img/Partners.svg" class="center-block"/>
</div>
<div class="col-md-6 col-sm-6 popupnavitem text">
   PARTNERS
</div>
</div>
<div class="popup row" [ngClass]="{active :currentbmcpage=='keyresources'}" (click)="setbmcpage('keyresources')">
<div *ngIf="idea.hasOwnProperty('answers') && idea.answers.hasOwnProperty('KeyResources') && idea.answers.KeyResources[counter] != '' && idea.answers.KeyResources[counter] != undefined" class="col-md-2 col-sm-2 popupnavitem round">
   <input type="checkbox" id="checkbox" checked="checked"/>
   <label for="checkbox"></label>
</div>
<div class="col-md-4 col-sm-4 popupnavitem">
   <img src="/assets/img/Key-Resources.svg" class="center-block"/>
</div>
<div class="col-md-6 col-sm-6 popupnavitem text">
   KEY RESOURCES
</div>
</div>
<div class="popup row" [ngClass]="{active :currentbmcpage=='coststructure'}" (click)="setbmcpage('coststructure')">
<div *ngIf="idea.hasOwnProperty('answers') && idea.answers.hasOwnProperty('CostStructure') && idea.answers.CostStructure[counter] != '' && idea.answers.CostStructure[counter] != undefined" class="col-md-2 col-sm-2 popupnavitem round">
   <input type="checkbox" id="checkbox" checked="checked"/>
   <label for="checkbox"></label>
</div>
<div class="col-md-4 col-sm-4 popupnavitem">
   <img src="/assets/img/Cost-Structure.svg" class="center-block"/>
</div>
<div class="col-md-6 col-sm-6 popupnavitem text">
   COST STRUCTURE
</div>
</div>
<div class="popup row" [ngClass]="{active :currentbmcpage=='revenuemodel'}" (click)="setbmcpage('revenuemodel')" style="border-bottom-left-radius: 5px">
<div *ngIf="idea.hasOwnProperty('answers') && idea.answers.hasOwnProperty('RevenueModel') && idea.answers.RevenueModel[counter] != '' && idea.answers.RevenueModel[counter] != undefined " class="col-md-2 col-sm-2 popupnavitem round">
   <input type="checkbox" id="checkbox" checked="checked"/>
   <label for="checkbox"></label>
</div>
<div class="col-md-4 col-sm-4 popupnavitem">
   <img src="/assets/img/Revenue-Model.svg" class="center-block"/>
</div>
<div class="col-md-6 col-sm-6 popupnavitem text">
   REVENUE MODEL
</div>
</div>
</div>
<div *ngIf="currentbmcpage=='founders'" class="col-md-9 col-sm-9 popupcontentfounder">
   <div class="row popupcontenttitle">
      CUSTOMER RELATIONSHIPS
   </div>
   <div class="modelborder"></div>
   <div class="row popupinner">
      <div class="row popupinnercontent" *ngFor = "let value of questionarray[1].Founder ; let i = index;" >
         <div class="row fieldname">
            <p style="white-space: pre-line;">{{value.question}}<sup>*</sup></p>
            <input name="name" *ngIf="showInput"
            ng-init="idea.questions.Founder[i] = value.question" type="text"
            [(ngModel)]="idea.questions.Founder[0]" id="name" class="form-control" placeholder="Name">
         </div>
         <div class="row inputstyle" >
            <textarea class="popup_answer" name="columnName" [(ngModel)]="idea.answers.Founder[0]" ></textarea>
         </div>
      </div>
   </div>

</div>
<div *ngIf="currentbmcpage=='customersandrelationships'" class="col-md-9 col-sm-9 popupcontentfounder">
   <div class="row popupcontenttitle">
      CUSTOMER SEGMENTS
   </div>
   <div class="modelborder"></div>
   <div class="row popupinner">
      <div class="row popupinnercontent" *ngFor = "let customer of questionarray[0].Customer; let i = index;">
         <div class="row fieldname" >
            <p style="white-space: pre-line;">{{customer.question}}<sup>*</sup></p>
            <input name="name" *ngIf="showInput"
            ngInit="idea.questions.Customer[i] = customer.question" type="text"
            [(ngModel)]="idea.questions.Customer[0]" id="name" class="form-control" placeholder="Name">
         </div>
         <div class="row inputstyle" ng-init="counter = i" >
            <textarea class="popup_answer" name="columnName" [(ngModel)]="idea.answers.Customer[i]"></textarea>
            <p>{{solutiondescription}}</p>
         </div>
      </div>
   </div>
</div>
<div *ngIf="currentbmcpage=='valueproposition'" class="col-md-9 col-sm-9 popupcontentfounder">
   <div class="row popupcontenttitle">
      VALUE PROPOSITION
   </div>
   <div class="modelborder"></div>
   <div class="row popupinner">
      <div class="row popupinnercontent" *ngFor = "let value of questionarray[2].ValueProposition; let i = index;" >
         <div class="row fieldname">
            <p style="white-space: pre-line;">{{value.question}}<sup>*</sup></p>
            <input name="name" *ngIf="showInput"
            ng-init="idea.questions.ValueProposition[i] = value.question" type="text"
            [(ngModel)]="idea.questions.ValueProposition[0]" id="name" class="form-control" placeholder="Name">
         </div>
         <div class="row inputstyle" ng-init = "counter = i">
            <textarea class="popup_answer" name="columnName" [(ngModel)]="idea.answers.ValueProposition[i]" ></textarea>
         </div>
      </div>
   </div>
</div>
<div *ngIf="currentbmcpage=='channel'" class="col-md-9 col-sm-9 popupcontentfounder">
   <div class="row popupcontenttitle">
      CHANNEL
   </div>
   <div class="modelborder"></div>
   <div class="row popupinner">
      <div class="row popupinnercontent"  *ngFor = "let channel of questionarray[3].Channel; let i = index;">
         <div class="row fieldname">
            <p style="white-space: pre-line;">{{channel.question}}<sup>*</sup></p>
            <input name="name" *ngIf="showInput"
            ng-init="idea.questions.Channel[i] = channel.question" type="text"
            [(ngModel)]="idea.questions.Channel[0]" id="name" class="form-control" placeholder="Name">
         </div>
         <div class="row inputstyle" ng-init = "counter = i">
            <textarea class="popup_answer" name="columnName" [(ngModel)]="idea.answers.Channel[i]" ></textarea>
         </div>
      </div>
   </div>
</div>
<div *ngIf="currentbmcpage=='keyactivities'" class="col-md-9 col-sm-9 popupcontentfounder">
   <div class="row popupcontenttitle">
      KEY ACTIVITIES
   </div>
   <div class="modelborder"></div>
   <div class="row popupinner">
      <div class="row popupinnercontent" *ngFor = "let key of questionarray[4].KeyActivities; let i = index;" >
         <div class="row fieldname">
            <p style="white-space: pre-line;">{{key.question}}<sup>*</sup></p>
            <input name="name" *ngIf="showInput"
            ng-init="idea.questions.KeyActivities[i] = key.question" type="text"
            [(ngModel)]="idea.questions.KeyActivities[0]" id="name" class="form-control" placeholder="Name">
         </div>
         <div class="row inputstyle" ng-init = "counter = i">
            <textarea class="popup_answer" name="columnName" [(ngModel)]="idea.answers.KeyActivities[i]"></textarea>
            <div> </div>
         </div>
      </div>
   </div>
</div>
<div *ngIf="currentbmcpage=='partners'" class="col-md-9 col-sm-9 popupcontentfounder">
   <div class="row popupcontenttitle">
      PARTNERS
   </div>
   <div class="modelborder"></div>
   <div class="row popupinner">
      <div class="row popupinnercontent"  *ngFor = "let partner of questionarray[5].Partners; let i = index;">
         <div class="row fieldname">
            <p style="white-space: pre-line;">{{partner.question}}<sup>*</sup></p>
            <input name="name" *ngIf="showInput"
            ng-init="idea.questions.Partners[i] = partner.question" type="text"
            [(ngModel)]="idea.questions.Partners[0]" id="name" class="form-control" placeholder="Name">
         </div>
         <div class="row inputstyle" ng-init = "counter = i">
            <textarea class="popup_answer" name="columnName" [(ngModel)]="idea.answers.Partners[i]" ></textarea>
         </div>
      </div>
   </div>
</div>
<div *ngIf="currentbmcpage=='keyresources'" class="col-md-9 col-sm-9 popupcontentfounder">
   <div class="row popupcontenttitle">
      KEY RESOURCES
   </div>
   <div class="modelborder"></div>
   <div class="row popupinner">
      <div class="row popupinnercontent"  *ngFor = "let key of questionarray[6].KeyResources; let i = index;">
         <div class="row fieldname">
            <p style="white-space: pre-line;">{{key.question}}<sup>*</sup></p>
            <input name="name" *ngIf="showInput"
            ng-init="idea.questions.KeyResources[i] = key.question" type="text"
            [(ngModel)]="idea.questions.KeyResources[0]" id="name" class="form-control" placeholder="Name">
         </div>
         <div class="row inputstyle" ng-init = "counter = i">
            <textarea class="popup_answer" name="columnName" [(ngModel)]="idea.answers.KeyResources[i]" ></textarea>
         </div>
      </div>
   </div>
</div>
<div *ngIf="currentbmcpage=='coststructure'" class="col-md-9 col-sm-9 popupcontentfounder">
   <div class="row popupcontenttitle">
      COST STRUCTURE
   </div>
   <div class="modelborder"></div>
   <div class="row popupinner">
      <div class="row popupinnercontent" *ngFor = "let cost of questionarray[7].CostStructure; let i = index;">
         <div class="row fieldname">
            <p style="white-space: pre-line;">{{cost.question}}<sup>*</sup></p>
            <p><b>eg. IS YOUR BUSINESS MORE</b><br><i>Cost Driven(leanest cost structure, low price value proposition, maximum automation, extensive outsourcing)<br>Value Driven(focussed on value creation, premium value proposition)</i></p>
            <p><b>SAMPLE CHARACTERISTICS</b><br><i>Fixed Costs(salaries,rents,utilities)<br>Variable costs<br>Economies of scale<br>Economies of scope</i></p>
            <input name="name" *ngIf="showInput"
            ng-init="idea.questions.CostStructure[i] = cost.question" type="text"
            [(ngModel)]="idea.questions.CostStructure[0]" id="name" class="form-control" placeholder="Name">
         </div>
         <div class="row inputstyle" ng-init = "counter = i">
            <textarea class="popup_answer" name="columnName" [(ngModel)]="idea.answers.CostStructure[i]" ></textarea>
         </div>
      </div>
   </div>
</div>
<div *ngIf="currentbmcpage=='revenuemodel'" class="col-md-9 col-sm-9 popupcontentfounder">
   <div class="row popupcontenttitle">
      REVENUE MODEL
   </div>
   <div class="modelborder"></div>
   <div class="row popupinner">
      <div class="row popupinnercontent" *ngFor = "let revenue of questionarray[8].RevenueModel; let i = index;">
         <div class="row fieldname">
            <p style="white-space: pre-line;">{{revenue.question}}<sup>*</sup></p>
            <input name="name" *ngIf="showInput"
            ng-init="idea.questions.RevenueModel[i] = revenue.question" type="text"
            [(ngModel)]="idea.questions.RevenueModel[0]" id="name" class="form-control" placeholder="Name">
         </div>
         <div class="col-md-4 col-sm-4">
            <p><b>eg. TYPES</b><br><i>Asset sale<br>Usage fee<br>Subsciption Fees<br>Lending/Renting/Leasing<br>Licensing<br>Brokerage fees<br>Advertising</i></p>
         </div>
         <div class= "col-md-4 col-sm-4">
            <p><b>FIXED PRICING</b><br><i>List Price<br>Product feature dependent<br>Customer segment dependent<br>Volume dependent</i></p>
         </div>
         <div class="col-md-4 col-sm-4">
            <p><b>DYNAMIC PRICING</b><br><i>Negotiation(bargaining)<br>Yield Management<br>Real-Time-Market</i></p>
         </div>
         <div class="row inputstyle" ng-init = "counter = i">
            <textarea class="popup_answer" name="columnName" [(ngModel)]="idea.answers.RevenueModel[i]" ></textarea>
         </div>
      </div>
   </div>
</div>
</div>
