.pageInformation {
    float: right;
    margin-top: 66%;
    padding-right: 25%;
    margin-bottom: 30%;
}

.pageInformation .liner {
    width: 281px;
    height: 69px;
    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 20px;
    text-align: left;
    color: #fff;
    margin-top: 5%;   
}

.forgotRectangle {
    background-color: #fff;
    width: 84%;
    border-radius: 76px;
    position: absolute;
    transform: rotate(-45deg);
    float: left;
    padding-bottom: 36%;
    padding-left: 10%;
    max-width: 70%;
    min-width: 500px;
    margin-top: -30%;
    margin-left: -16%;
}

.content {
    transform: rotate(45deg);
    width: 68%;
    margin-bottom: -30%;
    max-width: 350px;
    margin-left: 6%;
    margin-top: 71%;
    min-width: 270px;
    padding-bottom: 20%;
}

.title {
    font-family: TTNorms-Light;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: .03em;
    width: 47vh;
    text-align: left;
    color: #0033a0;
}

.instruction {
    width: 100%;
    font-family: Roboto-Regular;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .01em;
    line-height: 20px;
    text-align: left;
    color: #666;
    margin: 5% 0;
    text-align: justify;
}

.email {
    margin-top: 2.2%;
    margin-right: 23.86%;
    border-radius: 20px;
    padding-left: 10px;
    height: 40px;
    width: 100%;
    margin-left: 0;
    border: 1px solid #DDD;
    background: 0 0;
    color: #000;
    font-family: Roboto-Regular;
    font-size: 14px;
    outline: none;
}

.email::placeholder {
    color: #D8D8D8;
    font-family: "Roboto-Regular";
    font-size: 14px;
}

.cancel {
    height: 40px;
    border-radius: 20px;
    border: 2px solid #999;
}

.cancel, .cancel:hover {
    font-family: TTNorms-Medium;
    color: #999;
    width: 80px;
    background: #fff;
    margin-top: 7%;
    margin-bottom: 7%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    letter-spacing: .01em;
}

.reset {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: #00b140;
    box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
    font-family: "TTNorms-Light";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    outline: none;
    margin-left: 10px;
    outline: none !important;
}

.validateText {
    color: #F4633A;
    font-family: Roboto-Regular;
    font-size: 12px;
    padding-left: 13px;
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}