<div class="row">
   <div class="col-xs-5">
      <div class="pageInformation">
         <img style="width: 75%;" src="/assets/img/Incatalyst-logo-1.svg">
         <div class="liner">
            A service platform that can capture ideas, create prototypes and develop.
         </div>
      </div>
   </div>
   <div class="col-xs-7">
      <div class="forgotRectangle">
         <div class="content" *ngIf="!verificationCodeSent">
            <div class="title">Forgot Password</div>
            <div class="instruction">
               Enter your email address we will send you a password reset link.
            </div>
            <form name="form" (ngSubmit)="f.form.valid && onForgotPassword(f)" autocomplete="off" #f="ngForm"
            [mustMatch]="['newPassword', 'confirmNewPassword']" novalidate>
            <div class="form-group">
               <input class="email" type="text" name="email" id="email" placeholder="Email" [(ngModel)]="model.email"
               #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required>
               <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div class="validateText" *ngIf="email.errors.required">Email is required</div>
               </div>
               <div *ngIf="userNotFound">
                  <div class="validateText">User not found</div>
               </div>
            </div>
            <div class="buttons">
               <a class="btn cancel" routerLink="/">Cancel</a>
               <button type="submit" class="btn reset">Reset</button>
            </div>
            </form>
         </div>
         <div class="content" *ngIf="verificationCodeSent">
            <div class="title">Forgot Password</div>
            <div class="instruction">
               Enter the verification code and the new password.
            </div>
            <form name="form" (ngSubmit)="f.form.valid && onSubmitNewPassword(f)"
            [mustMatch]="['newPassword', 'confirmNewPassword']" novalidate autocomplete="off" #f="ngForm">
            <div class="form-group">
               <input class="email" type="text" name="code" id="code" placeholder="Verification Code"
               [(ngModel)]="model.code" #code="ngModel" [ngClass]="{ 'is-invalid': f.submitted && code.invalid }"
               required>
               <div *ngIf="f.submitted && code.invalid" class="invalid-feedback">
                  <div class="validateText" *ngIf="code.errors.required">Code is required</div>
               </div>
               <div *ngIf="!codeMatch">
                  <div class="validateText">Incorrect verification code</div>
               </div>
            </div>
            <div class="form-group">
               <input class="email" type="password" name="newPassword" id="newPassword" placeholder="New Password"
               [(ngModel)]="model.newPassword" #newPassword="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required minlength="8"
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
               <div class="" *ngIf="f.submitted && newPassword.invalid" class="invalid-feedback">
                  <div class="validateText" *ngIf="newPassword.errors.required">Password is required</div>
                  <!-- <div *ngIf="password.errors.minlength">Password must be at least 8 characters</div> -->
                  <div class="validateText" *ngIf="newPassword.errors.pattern">Password must be of atleast 8 characters: It must contain atleast 1
                     uppercase character, atleast 1 lowercase character, atleast 1 number and atleast 1 special character.
                  </div>
               </div>
            </div>
            <div class="form-group">
               <input class="email" type="password" name="confirmNewPassword" id="confirmNewPassword"
               placeholder="Confirm New Password" [(ngModel)]="model.confirmNewPassword" #confirmNewPassword="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && confirmNewPassword.invalid }" required>
               <div *ngIf="f.submitted && confirmNewPassword.invalid" class="invalid-feedback">
                  <div class="validateText" *ngIf="confirmNewPassword.errors.required">Confirm Password is required</div>
                  <div class="validateText" *ngIf="confirmNewPassword.errors.mustMatch">Passwords must match</div>
               </div>
            </div>
            <div class="buttons">
               <a class="btn cancel" routerLink="/">Cancel</a>
               <button type="submit" class="btn reset">Reset</button>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>
