<!-- The new white div starts here -->
<div class="row">
   <div class="campaignDiv col-sm-3 col-md-3">
      <img class="center-block img-circle defaultCampaignImage" width="150" height="150" src="{{campaign.campaignimage?campaign.campaignimage:'/assets/img/Default-image-square.svg'}}" />
      <div class="campaignName">{{campaign.name}}</div>
      <div class="row campaignDuration">
         {{campaign.start_date |date:'mediumDate'}} - {{campaign.end_date |date:'mediumDate'}}
      </div>
      <div class="row campaignDescription">
         <p>{{campaign.description }}</p>
      </div>
      <div class="row bottomIcons">
         <div class="col-xs-3 count">
            <img style="margin-right:3px" src="/assets/img/views.svg" />{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}
         </div>
         <div class="col-xs-3  count">
            <img style="margin-right:3px" src="/assets/img/ideas.svg" />{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}
         </div>
         <div class="col-xs-3  count">
            <img style="margin-right:3px" src="/assets/img/likes.svg" />0
         </div>
         <div class="col-xs-3  count">
            <img style="margin-right:3px" src="/assets/img/comments.svg" />0
         </div>
      </div>
   </div>
   
   <div class="col-sm-8 col-md-8 ideasList " *ngIf="!showSpecificIdea">
      <div class="row ideasHeader">
         <div class="col-sm-4 col-md-4 col-xs-4 ideaCount">
            {{ideas.length<10 ? '0':''}}{{ideas.length}}
            <span class="ideaText">Ideas</span>
         </div>
         <div class="col-xs-4 col-md-4">
            <div class="borderDiv" (click)="goToshareideas()">
               <img class="shareIcon" src="/assets/img/Share.svg" />
               <span class="shareText">Share Ideas for Rating</span>
            </div>
         </div>
         <div class="col-xs-4 col-md-4">
            <div class="borderDiv" (click)="saveExcel()">
               <img class="downloadIcon" src="/assets/img/Download.svg" />
               <span class="shareText">Download Ideas</span>
            </div>
         </div>
      </div>
      <div class="row ideasHeader2">
         <div class="col-sm-3 col-md-3" style="width:20%">
            <img class="tickIcon" src="/assets/img/tick-inactive.svg" />
         </div>
         <div class="col-sm-6 col-md-6" style="width:62%">
            Details
         </div>
         <div class="col-sm-3 col-md-3" style="width:16%">
            Average Rating
         </div>
      </div>
      <hr>
      <div style="min-height:68vh">
         <div *ngFor= "let idea of ideas;let i = index" (click)="displayIdea(idea._id,i)">
         <div class="row">
            <div class="col-sm-1 col-md-1">
               <img class="tickIcon1" src="/assets/img/tick.svg" />
            </div>
            <div class="col-sm-2 col-md-2" style="width:11.66%">
               <div class="userbg">
                  <img  class="userIcon" src="/assets/img/user.svg" />
               </div>
            </div>
            <div class="col-sm-6 col-md-6" style="width:62%">
               <div class="row ideaName">{{idea.name}}</div>
               <div class="row">
                  <div class="col-sm-6 col-md-6" style="padding-left:0px; paddin-right:0px">
                     <span class="by" style="margin-right:3px">By</span><span class="ideaUserName">{{idea.user.displayName}}</span>
                  </div>
                  <div class="col-md-6 col-sm-6 by">
                     On {{idea.created | date:'longDate'}}
                  </div>
               </div>
               <div class="ideaDescription">{{idea.description| slice:0:45}}...</div>
            </div>
            <div class="col-sm-3 col-md-3" style="width:16%">
               <star-rating [maxScore]="5" [forDisplay]="true" [score]="idea.rate"></star-rating>
               <div class="row ratingInfo">{{idea.rate}} out of 5</div>
            </div>
         </div>
         <hr>
      </div>
   </div>
</div>
<div class="col-sm-8 col-md-8 ideasList" *ngIf="showSpecificIdea">
   <div class="row ideasHeader">
      <div class="col-sm-6 col-md-6" (click)="goToListIdeas()">
         <img class="previousIcon" src="/assets/img/Previous.svg" style="float:left" />
      </div>
      <div class="col-xs-6">
         <div class="col-sm-1 col-md-1" style="float:right" (click)="nextIdea(currentIdeaNo)">
            <img class="backIcon" src="/assets/img/next.svg" />
         </div>
         <div class="col-sm-1 col-md-1" style="float:right" (click)="previousIdea(currentIdeaNo)">
            <img class="nextIcon" src="/assets/img/back.svg" />
         </div>
         <div class="" style="margin-top:7px;float:right;font-family:'TTNorms-Medium'">
            <span class="currentIdeaNo">{{currentIdeaNo<10 ? "0":""}}{{currentIdeaNo}}
            </span>
            <span class="totalIdeas">/{{ideas.length<10 ? "0":""}}{{ideas.length}}</span>
         </div>
      </div>
   </div>
   <div class="row ideatitle">{{display.name}}</div>
   <div class="row ideasubtitle">
      <div class="col-sm-3 col-md-3" style="width:29%">
         <span class="by" style="margin-right:3px">By</span>
         <span class="ideaUserName">{{display.user.displayName}}</span>
      </div>
      <div class="col-sm-3 col-md-3 by" style="width: 17%">
         On {{display.created | date:'longDate'}}
      </div>
      <div class="col-sm-3 col-md-3" style="width:29%">
         <span class="by" style="margin-right:3px">Category</span>
         <span class="ideaUserName">Cognizant {{campaign.category | titlecase}}</span>
      </div>
      <div class="col-sm-3 col-md-3">
        <star-rating [maxScore]="5" [forDisplay]="true" [score]="idea.rate"></star-rating>
        <div class="row ratingInfo">{{idea.rate}} out of 5</div>
      </div>
   </div>
   <hr>
   <div style="min-height:68vh">
      <div class="row ideafounder">
         Founder ID: <span style="color:#000;padding-left:10px;padding-right:20px;font-weight: bold">{{display.founder_id}}</span> Founder Name: <span style="color:#000;padding-left:10px;font-weight: bold">{{display.founder_name}}</span>
      </div>
      <div class="row ideadescription" >
         {{display.description}}
      </div>
      <div class="row uploadedfiles">
         <div class="row title">Uploaded files</div>
         <div class="row docs" *ngIf="display.idea_url"><a (click)="download(display.idea_url)"><img src="/assets/img/files.svg" style="cursor:pointer"></a>{{display.idea_url}}</div>
         <div class="row docs" *ngIf="!display.idea_url">No files Uploaded</div>
      </div>
      <div class="row qa" >
         <div class="row title">Question and Answers</div>
         <div *ngIf = "display.template_type == 'Other'"  class="qain">
            <div *ngFor="let question of display.questions | keyvalue, let i= index" >
               <p class="questionstyle">#{{i+1}}<b style="padding-left:10px">{{question.value.question}}</b></p>
               <p>{{display.answers[question.key]}}</p>
            </div>
         </div>
         <div *ngIf = "display.template_type == 'BMC' ||display.template_type == 'LMC'"  class="qain">
            <div >
               <div class="row" >
                  <div class="col-md-1 col-sm-1 index" > #1</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.Customer[0]}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{display.answers.Customer[0]}}</div>
               </div>
            </div>
            <!-- *ngFor =  "let value of display.questions.Founder" -->
            <div  >
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #2</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.Founder[0]}}</b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{display.answers.Founder[0]}}</div>
               </div>
            </div>
            <!-- *ngFor =  "let value of display.questions.ValueProposition" -->
            <div  >
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #3</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.ValueProposition[0]}}</b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{display.answers.ValueProposition[0]}}</div>
               </div>
            </div>
            <!-- *ngFor =  "let channel of display.questions.Channel" -->
            <div  >
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #4</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.Channel[0]}} </b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{display.answers.Channel[0]}}</div>
               </div>
            </div>
            <!-- *ngFor =  "let key of display.questions.KeyActivities" -->
            <div  >
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #5</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.KeyActivities[0]}}</b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{display.answers.KeyActivities[0]}}</div>
               </div>
            </div>
            <!-- *ngFor =  "let partner of display.questions.Partners" -->
            <div  >
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #6</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.Partners[0]}}</b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{display.answers.Partners[0]}}</div>
               </div>
            </div>
            <!-- *ngFor =  "let key of display.questions.KeyResources" -->
            <div  >
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #7</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.KeyResources[0]}}</b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{display.answers.KeyResources[0]}}</div>
               </div>
            </div>
            <!--  *ngFor =  "let cost of display.questions.CostStructure" -->
            <div >
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #8</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.CostStructure[0]}}</b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{display.answers.CostStructure[0]}}</div>
               </div>
            </div>
            <!-- *ngFor =  "let model of display.questions.RevenueModel" -->
            <div  >
               <div class="row">
                  <div class="col-md-1 col-sm-1 index"> #9</div>
                  <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.RevenueModel[0]}}</b></div>
               </div>
               <div class="row">
                  <div class="col-md-11 col-sm-11 ans">{{display.answers.RevenueModel[0]}}</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
