
 .scrollidea{
	margin-top:20px;
	height:320px;
	}

.campaigndetails{
  padding-left:0px;
  padding-right:0px;
  width:50px;
  margin-right: 10px;
}
.campaigndetails li{
  list-style: none;
  padding-bottom: 10px;
}
.campaigndetails img{
  width: 40px;
}
.campaigndetails li .enabled
{
  border-radius: 20px;
  border: 3px solid green;
}
 .campaigndetail{
  padding-left: 0px;
}
 .campaigndetail .mycampaign{
  text-align: center;
  color: white;
  font-family: 'TTNorms-Medium' ;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  margin-left: 0px;
  margin-right:0px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 20px;
  opacity: 50%;
}
 .campaigndetail .mycampaign img{
padding-left:14px;
}

 .accord{
  border-right: 1px solid rgba(255,255,255,0.1);
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
  color: white;
  text-align: center;
  font-family: 'TTNorms-Medium';
  background: rgba(0,0,0,0.5);
}
 .accorditem
{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 20px;
    padding-left:10px;
    padding-right:10px;

}
 .accord .accorditem:hover{
  cursor:pointer;
  border:1px solid #4298B5;
  background: rgba(66, 152, 181,0.1);
}
 .accord .select{
  /* border-image:url("../../../../modules/common/client/images/nav-selection.svg") 5; */
   color:white;
}
 .accord .accorditem img
{
    padding-top: 26%;
    padding-bottom: 5px;
}
 .idea{
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom:20px;
  border-top: 2px solid rgba(77, 179, 208,0.1);
  background: rgba(6, 25, 54,0.5);
  height: 440px;
  width:240px;
}
 .idea .ideaitem{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:20px;
}
 .idea .enabled{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 2px solid #4db3d0;
  background: rgba(19, 54, 77,0.67)
}
  .title{
  color: #6eb43f;
  font-family: "TTNorms-Medium";
  font-size: 14px;
  word-break: break-all;
}
  .titledes{
  color: #6eb43f;
  font-family: "TTNorms-Medium";
  font-size: 14px;
  word-break: break-all;
}

 span{
  color: #cccccc;
  font-family: "TTNorms-Medium";
  font-size: 12px;
}

 .content2{
  height:300px;
}

 .left{
  color: #6eb43f;
  font-family: "TTNorms-Medium";
  font-size: 12px;
}
 .dull{
  color: #666666;
  font-family: "TTNorms-Medium";
  font-size: 12px;
}
 .dull{
  color: #666666;
  font-family: "TTNorms-Medium";
  font-size: 12px;
}
 .row
{
  margin-left: 0px;
  margin-right: 0px;
}
 .campaignspecificdetails
{
  height:440px;
  margin-left: 20px;
  margin-top:20px;
}
 .campaignspecifictitle{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 10px;

}
.ideationSpace .scrollheight{
height:440px;
}
 .campaignspecifictitle .name
{
  float: left;
  font-size: 14px;
  font-family: 'TTNorms-Medium';
  color: #ffffff;
}
 .campaignspecifictitle .totalideas{
  font-size: 14px;
  font-family: 'TTNorms-Medium';
  color: #ffffff;
  float:right;
}
 .campaignspecifictitle .totalideas .value{
  font-size: 14px;
  font-family: 'TTNorms-Medium';
  color: #4db3d0;
  float:right;
}
  .campaignspecificdetail .idearating{
padding-right: 0px;
}
 .starrating{
  float: right;
}
 .campaignspecificdetail{
  padding-top: 20px;

}
 .campaignspecificdetail .left
{
  padding-left:0px;
  padding-right: 0px;
}
 .content{
  font-family:"TTNorms-Medium";
  font-size:12px;
  color:#cccccc;
  lineheight: 18px;
  margin-top:0px;
  padding-top:20px;
}
 .ratebar
{
  font-family:"TTNorms-Medium";
  font-size:10px;
  color:#666666;
  float: right;
}
 .detailfooter
{
  margin-top: 10px;
  margin-bottom: 0px;

}
 .detailfooter span{
  padding-right: 10px;
  color:#4db3d0;
  margin-left:45px;
  cursor:pointer;
}
 .detailfooter img{
  padding-right: 5px;
}

 .description{
width:100%;
word-break: break-all;
margin-bottom:5px;
}
 .button{
  color: #cccccc;
  font-size: 12px;
  font-family: 'TTNorms-Medium' ;
  padding: 5px;
  background: none;
  border-radius: 3px;
  border: 2px solid #4db3d0;
}
.full{
  width:86%;
}
 .avgrate{
  color:white;
  font-size: 12px;
  font-family: 'TTNorms-Medium' ;
}
 .padding{
  padding-left:0px;
  padding-right:0px;
}
 .adjustwidth{
  width:22%;
  float:right;
}


//checkbox

 .ideaitem .checkitem {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkitem input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 10px;
    width: 10px;
    margin-left:10px;

    border: 1px solid #cccccc;
}

/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */
.checkitem input[type="checkbox"]:checked ~ .checkmark {

    border: 1px solid green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkitem input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkitem .checkmark:after {
    left: 6px;
    top: -3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.enableborder{
  border-left: 2px solid #6eb43f;
}

@media(max-width:990px){
   .idea{
    width:170px;
  }
}

  .outerdiv {
  font-family: "TTNorms-Medium";
  background-color: #e9eaeb;

  margin-left:8.5%;
}

 .campaignDiv {
 background-color: #fff;
    align-items: center;
    /* padding-left: 24px; */
    /* padding-right: 0px; */
    width: 22.2%;
    /* height: 75vh; */
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 1.2%;
    margin-right: 1.5%;
    padding:30px;
}


 .sideNav{
border-right: 1px solid rgba(255,255,255,0.1);
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
  color: #999999;
  text-align: center;
  font-family: "TTNorms-Bold";
  background:  rgba(0,51,160,0.2);
  position:fixed;
}
 .sideNav .accorditem
{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 25%;
}
 .sideNav .accorditem:hover{
  cursor:pointer;
  border:1px solid #4298B5;
  background: rgba(66, 152, 181,0.1);
}
 .sideNav .select
{
   border: 8px solid transparent;
    /* border-image:url("../../../../modules/common/client/images/nav-selection.svg") 5; */
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;

}
 .sideNav .select:hover
{
   border: 8px solid transparent;
    /* border-image:url("../../../../modules/common/client/images/nav-selection.svg") 5; */
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;

}
 .sideNav .accorditem img
{
    padding-top: 26%;
    padding-bottom: 5px;

}

 .moreIcon{
  margin-top:20px;
  margin-right:30px;
}

 .defaultCampaignImage{
  margin-top:-1px;
}

 .campaignName {
  color:#0033A0;
  font-size:18px;
  font-weight:bold;
  text-align: center;
  margin-top:9px;
  font-family: 'TTNorms-Medium';
}
 .campaignDuration {
background-color:rgba(0,51,160,0.93);;
font-family:arial;
font-size:14px;
text-align:center;
color:#fff;
padding-bottom:10px;
padding-top:10px;
margin-top:16px;
margin-left:-30px;
margin-right:-30px;
}
 .campaignDescription {
   font-family: arial;
    font-size: 15px;
    padding: 5%;
    min-height: 18vh;
    max-height: 18vh;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
  /* margin-left:30px;
  margin-right:30px;
  text-align:left;
  font-size:15px;
  color:#333333;
  margin-top:17px;
  word-break:break-word; */
 /* height:200px;*/
}
 .readMore{
  color:#00B140;
  font-size:14px;
  font-weight:bold;
}

 .bottomIcons{
  margin-top:15px;
  margin-bottom:15px;
  padding-left:5px;
  padding-right:5px;
}
 .count{
  color: #0033A0;
  font-size: 14px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
 .ideasHeader{
  background-color:#0033A0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

 .ideaCount {
  font-size:32px;
  color:#ffffff;
}
 .ideaText{
  font-size:18px;
  font-weight:bold;
  color:#ffffff;
  margin-top:8px;
margin-left: 3px;
}

 .shareText{
  color:#ffffff;
  font-size: 15px;
  margin-top:3px;
  margin-right:3px;
}

 .borderDiv{
  border: 1.5px solid #00B140;
  margin-top:6px;
  border-radius:25px;
  cursor:pointer;
}
 .shareIcon{
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
}
 .downloadIcon{
  margin-top:7px;
  margin-bottom:7px;
  margin-left:20px;
  margin-right:8px;
}

 .ideasList{
  background-color: #ffffff;
  margin-top:31px;
  padding-left:0px;
  padding-right:0px;
  margin-left:1.2%;
  width: 72%;
  border-radius:5px;
  margin-bottom:30px
}

 .ideasHeader2{
  color:#333333;
  font-size:13px;
  font-weight:bold;
  margin-top:20px;
}
 hr{
  border-top: 1px solid #d8d8d8;
  margin-left:30px;
  margin-right:30px;
  margin-top:10px;
  margin-bottom:10px;
}
 .tickIcon{
  margin-left:30px;
}
 .userbg{
  background-color: #E4E4E4;
  border-radius:35px;
  width:60px;
  height:60px;
  margin-top:7px;
}
 .tickIcon1{
  margin-left:30px;
  margin-top:34px;
}

 .userIcon{
  margin-top:17px;
  margin-left:19px;
}

 .ideaName{
  color:#0033A0;
  font-size:15px;
  font-weight:bold;
}

 .by{
  font-size:13px;
  padding-left:0px;
  color:#9B9B9B;
}

 .ideaUserName{
  color:#00B140;
  font-size:13px;
}

 .ideaDescription{
  color:#333333;
  font-size:15px;
  margin-top:15px;
}
 .ratingInfo{
  color:#666666;
  font-style:italic;
  font-size:12px;
}
 .currentIdeaNo{
  margin-top:9px;
font-size:32px;
color:#ffffff;
}

 .totalIdeas{
margin-top:9px;
font-size:16px;
color:#ffffff;
}

 .previousIcon{
  margin-top:9px;
  margin-bottom:9px;
}
 .nextIcon{
  margin-top:20px;
}

 .backIcon{
  margin-top:20px;
}

 .ideatitle{
  font-size:28px;
  color:#0033A0;
  padding-bottom:5px;
  margin-left:30px;
  margin-top:15px;
}

 .ideasubtitle{
  color:#9B9B9B;
  font-family:Arial;
  font-size:13px;
  padding-bottom:10px;
  width:98%;
  margin-left:30px;
}

 .nopad{
  padding-left:0px;
  padding-right:0px;
}

 .ideafounder{
  margin-top:10px;
  margin-bottom:10px;
  color:#9B9B9B;
  font-size:15px;
  font-family:Arial;
  margin-left:30px;
}

 .ideadescription{
  font-size:15px;
  font-family:Arial;
  color:#333333;
  line-height: 22px;
  margin-bottom:10px;
  word-break:break-all;
  padding-right:30px;
  margin-left:30px;
}

 .uploadedfiles .title{
  color:#0033A0;
  font-size:15px;
  font-family:Arial;
  margin-bottom:5px;
  font-weight: bold;
  margin-left:30px;
  margin-top:13px;
}

 .uploadedfiles .docs{
  font-style:italic;
  margin-left:30px;

}
 .uploadedfiles .docs img{
  margin-right:10px;
}

 .qa{

  margin-bottom:10px;
  margin-left:30px;
}

 .qa .title{
  color:#0033A0;
  font-size:15px;
  font-family:Arial;
  margin-bottom:5px;
  font-weight: bold;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:5px;
}

 .qain{

  margin-bottom:10px;
}

 .index{
  padding-left:0px;
  padding-right:0px;
  width:2%;
}

 .qa .que{
font-size:15px;
  font-family:Arial;
  color:#333333;
  font-weight: bold;
}
 .qa .ans{
  font-size:15px;
  font-family:Arial;
  color:#333333;
  padding-left:4%;
  padding-bottom:10px;
}
@media(min-width:768px) and (max-width:1200px){

 .sideNav{
  font-size:10px;
}
 .shareText{
  font-size:10px;
}
}
