.nopad{
  padding-left:0px;
  padding-right:0px;
}
.row{
  margin-left:0px;
  margin-right:0px;
}
 .sideNav{
border-right: 1px solid rgba(255,255,255,0.1);
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
  color: #999999;
  text-align: center;
  font-family: TTNorms-Bold;
  background:  rgba(0,51,160,0.2);
  position:fixed;
}
 .sideNav .accorditem
{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 25%;
    padding-left:10px;
    padding-right:10px;
    /* height:111px; */
}
 .sideNav .accorditem:hover{
  cursor:pointer;
  border:1px solid #4298B5;
  background: rgba(66, 152, 181,0.1);
}
 .sideNav .select
{
   border: 8px solid transparent;
    border-image:url("/assets/img/nav-selection.svg") 5;
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;

}
 .sideNav .select:hover
{
   border: 8px solid transparent;
    border-image:url("/assets/img/nav-selection.svg") 5;
   border-left:none;
    color:white;
    background-color:#0033A0;
    border-top:none;
    border-bottom:none;

}
 .sideNav .accorditem img
{
    padding-top: 26%;
    padding-bottom: 5px;

}
 .idealist{
  margin:30px;
 box-sizing: border-box;
 border-radius:10px;
  width:30%;
  padding-left:0px;
  padding-right:0px;
  margin-right:0vh;
}
 .idealist .tophat{
  background-color:#0033A0;
  font-family:TTNorms-Bold;

  font-size:18px;
  text-align:left;
  color:#fff;
  padding:20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
 .idealist .tophat span{
  float:right;
  font-family:TTNorms-Light;

  font-size:32px;
}
 .idealist .idea{
  padding:20px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}
 .idealist .selected{
  background-color:#fff;
  border-left:5px solid #00B140;
}
 .idealist .idealineup {
  background-color:#f2f4fa;
  font-family:TTNorms-Bold;
  font-size:15px;
  text-align:left;
  color:#0033A0;
  min-height:60vh;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
}
 .idealist .idealineup .ideashortdetails
{
 color:#9B9B9B;
  font-family:Arial;
  font-size:13px;
}
 .ideadetails
{
  margin:30px;
 min-height:73vh;
  background-color:#fff;
  border-radius:10px;
  padding:30px;
  margin-right:0vh;
  width:64%;

}
 .ideadetails .tophat{
  margin:20px;
  color:#00B140;
  font-family:TTNorms-Medium;
  font-size:18px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  margin-left:0px;
  margin-top:0px;
  margin-bottom:10px;
}
 .ideadetails .tophat div{
  padding-bottom:15px;
  margin-right:10px;
  cursor:pointer;
}
 .ideadetails .tophat .select{
  border-bottom:2px solid #00B140;
  color:#0033A0;
}
 .ideadetails .ideatitle{
  font-family:TTNorms-Medium;
  font-size:28px;
  color:#0033A0;
  padding-bottom:5px;
}
 .ideadetails .ideasubtitle{
  color:#9B9B9B;
  font-family:Arial;
  font-size:13px;
  padding-bottom:10px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  width:98%;
}
 .ideadetails .ideasubtitle .subicons{
  margin-right:2%;
  width:48%;
}
 .ideadetails .ideasubtitle .subicons img{
  float:right;
  margin-right:10px;
}
 .ideadetails .ideafounder{
  margin-top:10px;
  margin-bottom:10px;
  color:#9B9B9B;
  font-size:15px;
  font-family:Arial;
}
 .ideadetails .ideadescription{
  font-size:15px;
  font-family:Arial;
  color:#333333;
  line-height: 22px;
  margin-bottom:10px;
  word-break:break-word;
  padding-right:30px;
}
 .questionstyle{
 color: #0033A0;
 font-size: 15px;
 font-weight:bold;
}
 .ideadetails .qa{

  margin-bottom:10px;
}
 .ideadetails .index{
  padding-left:0px;
  padding-right:0px;
  width:2%;
}
 .ideadetails .qain{
   font-family:Arial;
  margin-bottom:10px;
}
 .ideadetails .uploadedfiles .title{
  color:#0033A0;
  font-size:15px;
  font-family:Arial;
  margin-bottom:5px;
  font-weight: bold;
}
 .ideadetails .qa .title{
  color:#0033A0;
  font-size:15px;
  font-family:Arial;
  margin-bottom:5px;
  font-weight: bold;
  padding-top:10px;
  padding-bottom:10px;
}
 .ideadetails .qa .que{
font-size:15px;
  font-family:Arial;
  color:#333333;
  font-weight: bold;
}
 .ideadetails .qa .ans{
  font-size:15px;
  font-family:Arial;
  color:#333333;
  padding-left:4%;
  padding-bottom:10px;
}
 .ideadetails .uploadedfiles .docs{
  font-style:italic;
}
 .ideadetails .uploadedfiles .docs img{
  margin-right:10px;
}
 .full{
  width:86%;
}
 .campaigndetailtitle{
   font-size:28px;
  font-family:TTNorms-Medium;
  color:#0033A0;
  padding-bottom:10px;
}
 .campaigndetailsubtitle{
 color:#9B9B9B;
  font-family:Arial;
  font-size:13px;
  padding-bottom:10px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}
 .campaigndetaildesc{
font-size:15px;
  font-family:Arial;
  color:#333333;
  line-height: 22px;
  margin-bottom:10px;
  padding:10px;
  word-break:break-all;
}
 .campaigndetaildescreadmore{
    width: 20%;
    background-color: #00B140;
    padding: 10px;
    border-radius:20px;
    color:#fff;
    text-align:center;
  }
@media(min-width:1920px){

/* .sideNav .accorditem
{
  height:17vh;
  }*/
}
@media(min-width:768px) and (max-width:1200px){
   .ideadetails
{
  width:59%;
}
 .sideNav{
    font-size:10px;
  }
 .ideadetails .tophat {
  font-size:15px;
}

}
