<div class="col-md-4 col-sm-4 idealist" *ngIf="togglebool" >
   <div class="row tophat">
      Total Ideas
      <span>{{myIdeas.length}}</span>
   </div>
   <div class="row idealineup">
      <div [ngClass]="display?._id==idea._id?'row idea selected':'row idea'" (click)= "displayIdea(idea)" *ngFor= "let idea of myIdeas">
      <div class="row ideaname">{{idea.name}}</div>
      <div class="row ideashortdetails">By <span style="color:#00B140">{{idea.user.displayName}}</span> <span style="float:right">On {{idea.created | date:'longDate'}}</span></div>
   </div>
</div>
</div>
<div class="col-md-7 col-sm-7 ideadetails" [ngClass]="{full : togglebool==false}" >
   <div class="row tophat">
      <div [ngClass]="selectedtab=='idea'?'col-md-1 col-sm-1 select nopad':'col-md-1 col-sm-1 nopad'" (click)="selectedtab='idea'">Idea
   </div>
   <div [ngClass]="selectedtab=='campaigndetails'?'col-md-4 col-sm-4 select nopad':'col-md-4 col-sm-4 nopad'" (click)="selectedtab='campaigndetails'">Campaign Details
</div>
</div>
<div *ngIf="selectedtab=='idea'" >
   <div class="row ideatitle">
      {{display?.name}}
   </div>
   <div class="row ideasubtitle">
      <div class="col-md-6 col-sm-6 subtext nopad">
         By <span style="color:#00B140">{{display?.user.displayName}}</span>
         <span style="float:right">On {{display?.created | date:'longDate'}}</span>
      </div>
      <div class="col-md-6 col-sm-6 subicons nopad">
         <a (click)="edit(display._id,display.campaign_id)"  ><img src="/assets/img/edit.svg" ></a>
         <img src="/assets/img/{{sizing}}.svg" (click)="toggle()" style="width:16px;height:16px;">
      </div>
   </div>
   <div class="row ideafounder">
      Founder ID: <span style="color:#000;padding-left:10px;padding-right:20px;font-weight: bold;">{{display?.founder_id}}</span>
   </div>
   <div class="row ideafounder">
      Founder Name: <span style="color:#000;padding-left:10px;font-weight: bold;">{{display?.founder_name}}</span>
   </div>
   <div class="row ideadescription" >
      {{display?.description}}
   </div>
   <div class="row uploadedfiles">
      <div class="row title">Uploaded files</div>
      <!-- href="{{display.idea_url}}" -->
      <div class="row docs" *ngIf="display?.idea_url"><a (click)="download(display.idea_url)"><img src="/assets/img/files.svg" style="cursor:pointer"></a>{{display.idea_url.substring(6,display.idea_url.length)}}</div>
      <div class="row docs" *ngIf="!display?.idea_url">No files Uploaded</div>
   </div>
   <div class="row qa" >
      <div class="row title">Other Details</div>
      <div *ngIf = "display?.template_type == 'Other'"  class="qain">
         <div *ngFor = "let question of display.questions;let i = index;">
            <p class="questionstyle"><span class="index">#{{i+1}}</span><b style="padding-left:10px">{{question.question}}</b></p>
            <p style="margin-left:3%">{{display.answers[i]}}</p>
         </div>
      </div>
      <div *ngIf = "display?.template_type == 'BMC' ||display?.template_type == 'LMC'"  class="qain">
        <!-- *ngFor =  "let customer of display.questions.Customer " -->

         <div >
            <div class="row" >
               <div class="col-md-1 col-sm-1 index" > #1</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.Customer[0]}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{display.answers.Customer[0]}}</div>
            </div>
         </div>
         <!-- *ngFor =  "let value of display.questions.Founder" -->
         <div  >
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #2</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.Founder[0]}}</b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{display.answers.Founder[0]}}</div>
            </div>
         </div>
         <!-- *ngFor =  "let value of display.questions.ValueProposition" -->
         <div  >
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #3</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.ValueProposition[0]}}</b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{display.answers.ValueProposition[0]}}</div>
            </div>
         </div>
         <!-- *ngFor =  "let channel of display.questions.Channel" -->
         <div  >
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #4</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.Channel[0]}} </b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{display.answers.Channel[0]}}</div>
            </div>
         </div>
         <!-- *ngFor =  "let key of display.questions.KeyActivities" -->
         <div  >
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #5</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.KeyActivities[0]}}</b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{display.answers.KeyActivities[0]}}</div>
            </div>
         </div>
         <!-- *ngFor =  "let partner of display.questions.Partners" -->
         <div  >
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #6</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.Partners[0]}}</b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{display.answers.Partners[0]}}</div>
            </div>
         </div>
         <!-- *ngFor =  "let key of display.questions.KeyResources" -->
         <div  >
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #7</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.KeyResources[0]}}</b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{display.answers.KeyResources[0]}}</div>
            </div>
         </div>
         <!--  *ngFor =  "let cost of display.questions.CostStructure" -->
         <div >
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #8</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.CostStructure[0]}}</b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{display.answers.CostStructure[0]}}</div>
            </div>
         </div>
         <!-- *ngFor =  "let model of display.questions.RevenueModel" -->
         <div  >
            <div class="row">
               <div class="col-md-1 col-sm-1 index"> #9</div>
               <div class="col-md-11 col-sm-11 que"> <b>{{display.questions.RevenueModel[0]}}</b></div>
            </div>
            <div class="row">
               <div class="col-md-11 col-sm-11 ans">{{display.answers.RevenueModel[0]}}</div>
            </div>
         </div>
      </div>
   </div>
</div>
<div *ngIf="selectedtab=='campaigndetails'" class="ideacampaigndetails">
   <div class="row campaigndetailtitle">{{ideacampaign[0].name}}</div>
   <div class="row campaigndetailsubtitle">
      <div class="col-md-12 col-sm-12 nopad">
         By <span style="color:#00B140">{{ideacampaign[0].user.displayName}}</span>
         <span style="float:right">{{ideacampaign[0].created | date:'longDate'}}</span>
      </div>
      <div class="col-md-12 problemowner" style="padding-left:0px;padding-top: 5px;">
         <span >ProblemOwner: <span style="color:#0033A0">{{ideacampaign[0].problemowner}}</span></span>
      </div>
   </div>
   <div class="row campaigndetaildesc" *ngIf="!readmore">
      {{ideacampaign[0].description}}
   </div>
   <div class="row campaigndetaildesc" *ngIf="readmore">
      {{ideacampaign[0].description}}
   </div>
   <!-- <div class="row campaigndetaildescreadmore" *ngIf="ideacampaign[0].description.length>400" (click)="readmore=!readmore">
      {{readmore?'View Less':'View More'}}</div> -->
   <div class="row campaigndocs" *ngIf="campaign.campaign_doc_url">
      <a href="{{ideacampaign[0].campaign_doc_url}}"><img src="/assets/img/files.svg" style="cursor:pointer;margin-right:10px">{{ideacampaign[0].campaign_doc_url.substring(45,campaign.campaign_doc_url.length)}}</a>
   </div>
</div>
</div>
