.incatalyst-landing{
	margin-top:6%;
}
.incatalyst-landing .Incatalystdescription{
	color:white;
	font-family:TTNorms-Bold;
	margin-top:10%;
	margin-bottom:20%;
	margin-left:10%;
	width:30%;
}
.incatalyst-landing .cognizant{
	font-size:28px;
}
.incatalyst-landing .incatalyst{
	font-size:70px;
}
.incatalyst-landing .description{
	font-size:18px;
	margin-top:15px;
	font-family:arial;
	line-height:24px;
}
.incatalyst-landing .conceptsList{
	height:100%;
}
.incatalyst-landing .centerConcepts{
	margin-left: 30%;
    margin-right: 5%;
    margin-top: 0%;
    width: 75%;
    background-color: #fff;
    border-radius: 70px;
    height: 109vh;
    transform: rotate(-50deg);
}
.incatalyst-landing .centerConceptsList{
	transform: rotate(50deg);
	padding-left:34%;
	padding-top:10%;
}
.incatalyst-landing .conceptsList .title{
	color:#0033A0;
	font-family:TTNorms-Bold;
	font-size:24px;
	cursor:pointer;
}
.incatalyst-landing .conceptsList .conceptdescription{
	color:#707070;
	font-family:arial;
	font-size:16px;
	line-height:19px;
}
.incatalyst-landing .centerDiv{
	margin-top:8%;
	margin-bottom:8%;
}
.incatalyst-landing .conceptsList .desc{
	margin-left:50px;
	}
	.incatalyst-landing .conceptsList img{
	padding-top:12px;
}
.incatalyst-landing .Incatalysttitle{
	line-height:45px;
}
.not-allowed{
	cursor:not-allowed;

}
.row{
	margin-left:0px;
	margin-right:0px;
}
@media(min-width:768px) and (max-width:1200px){
	.incatalyst-landing .centerConceptsList{
		padding-left:28%;
	}
.incatalyst-landing .centerConcepts{
		margin-left:47%;
	}
}
