<div class="incatalyst-landing row">
   <div class="col-md-5 col-sm-5 col-xs-5 Incatalystdescription">
      <div class="row Incatalysttitle">
         <span class="row cognizant">Cognizant</span>
         <span class="row incatalyst">INCatalyst</span>
      </div>
      <div class="row description">
         A cloud based Innovation as a Service Platform that can capture ideas, create low fidelity prototypes and develop innovative prototypes rapidly.
      </div>
   </div>
   <div class="col-md-7 col-sm-7 col-xs-7 conceptsList">
      <div class="centerConcepts">
         <div class="centerConceptsList">
            <div class="row">
               <div class="col-md-2 col-sm-2 col-xs-2 nopad">
                  <img src="/assets/img/ideation-space.svg">
               </div>
               <div class="col-md-8 col-sm-8 col-xs-8 nopad desc">
                  <div class="row title"  [routerLink]="['/ideation/campaigns']">
                     Ideation Space
                  </div>
                  <div class="row conceptdescription nopad">
                     Designed to capture, collaborate, evaluate ideas.
                  </div>
               </div>
            </div>
            <div class="row centerDiv not-allowed">
               <div class="col-md-2 col-sm-2 col-xs-2 nopad">
                  <img src="/assets/img/concept-builder.svg">
               </div>
               <div class="col-md-8 col-sm-8 col-xs-8 nopad desc">
                  <div class="row title" ui-sref="draganddrops.create" style="pointer-events: none;">
                     Concept Builder
                  </div>
                  <div class="row conceptdescription nopad" >
                     A tool to convert ideas to a lowfidelity prototype.
                  </div>
               </div>
            </div>
            <div class="row" style="cursor:not-allowed;">
               <div class="col-md-2 col-sm-2 col-xs-2 nopad">
                  <img src="/assets/img/Code-builder.svg">
               </div>
               <div class="col-md-8 col-sm-8 col-xs-8 nopad desc">
                  <div class="row title" ng-click = "vm.goToPrototyping()" style="pointer-events: none;">
                     Code Builder
                  </div>
                  <div class="row conceptdescription nopad" >
                     A tool to build Rapid Prototypes.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
