<div class="row topHat">
   <div class="col-xs-6 campaignCount">
      Showing {{ratingCampaigns.length>4?4:ratingCampaigns.length}} of {{ratingCampaigns.length}}
   </div>
   <div class="col-xs-6 rightIcons">
      <img src="/assets/img/list-view-inactive.svg" style="width:16px;height:15px">
      <img src="/assets/img/thumb-view.svg" style="width:16px;height:16px">
      <img src="/assets/img/next.svg" style="width:8px;height:16px">
      <img src="/assets/img/back.svg" style="width:8px;height:16px">
   </div>
</div>
<div class="row campaignDetails">
   <div class="col-xs-3 campaign" *ngFor= "let campaign of ratingCampaigns">
      <div class="row campaignImage" class="center-block">
         <div class="row imagediv"><img src="{{campaign.campaignimage?campaign.campaignimage:'/assets/img/Default-image-square.svg'}}" class="center-block img-circle" width="150" height="150">
         </div>
      </div>
      <div class="row campaignName">
         {{campaign.name}}
      </div>
      <div class="row campaignDuration">
         {{campaign.start_date |date:'longDate'}}- {{campaign.end_date |date:'longDate'}}
      </div>
      <div [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'">
         {{campaign.description }}{{campaign.description.length>100 ? "..." : ""}}
      </div>
      <div *ngIf="desc==campaign" [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'" (click)="desc=''" >
      {{campaign.description}}
   </div>
   <!--<div class="row viewIdeas">
      <button class="longtext"  >Rate Ideas</button>
      </div>-->
   <div class="row viewIdeas">
      <button class="shorttext" [routerLink]= "[campaign._id,'rate']" >Rate</button>
   </div>
   <div class="row campaignBottomIcons">
      <div class="col-xs-3">
         <img src="/assets/img/views.svg">
         <span class="numbers">{{campaign.idea_ids.length}}</span>
      </div>
      <div class="col-xs-3">
         <img src="/assets/img/ideas.svg">
         <span class="numbers">{{campaign.idea_ids.length}}</span>
      </div>
      <div class="col-xs-3">
         <img src="/assets/img/likes.svg">
         <span class="numbers">0</span>
      </div>
      <div class="col-xs-3">
         <img src="/assets/img/comments.svg">
         <span class="numbers">0</span>
      </div>
   </div>
</div>
</div>
