<div class="row loginPage">
   <div class="col-xs-5">
      <div class="pageInformation">
         <img style="width: 75%;" src="/assets/img/Incatalyst-logo-1.svg">
         <div class="liner">
            A service platform that can capture ideas, create prototypes and develop.
         </div>
      </div>
   </div>
   <div class="col-xs-7">
      <div class="loginRectangle">
         <div class="content">
            <div class="row" style="width: 90%;">
               <div class="col-xs-12" style="padding:0px;">
                  <div class="greetings">Hello!!!</div>
               </div>
               <div class="col-xs-12" style="padding:0px;">
                  <div class="welcomeBack">Welcome back! Login to access the Cognizant INCatalyst.
                  </div>
               </div>
               <div class="col-xs-12" style="padding:0px;">
                  <form (ngSubmit)="onSignin(referenceSignin)" #referenceSignin="ngForm" autocomplete="off">
                  <div class="form-group">
                     <input class="inputLogin" type="email" name="email" id="email" placeholder="Email" ngModel>
                  </div>
                  <div class="form-group">
                     <input class="inputLogin" type="password" name="password" id="password" placeholder="Password" ngModel>
                  </div>
                  <div>
                     <a routerLink="/forgotpassword" class="forgot">Forgot Password?</a>
                  </div>
                  <div *ngIf="emailVerificationMessage" class="validationSignin">
                     <img src="/assets/img/error-icon.png" />
                     <span><strong>Could not log you in. Please verify your email and then attempt to sign in with correct credentials.</strong></span>
                  </div>
                  <button type="submit" class="btn signIn">Sign In</button>
                  <div class="signUp">
                     Don't have an account? <a class="signUpLink" routerLink="/signup">Sign Up</a>
                  </div>
                  </form>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>
