
.pageInformation {
    float: right;
    margin-top: 51%;
    padding-right: 25%;
    margin-bottom: 30%;
}

.pageInformation .liner {
    width: 281px;
    height: 69px;
    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 20px;
    text-align: left;
    color: #fff;
    margin-top: 5%;
}


.loginRectangle {
    /* height: 500px; */
    background-color: #fff;
    width: 84%;
    border-radius: 76px;
    position: absolute;
    transform: rotate(-45deg);
    float: left;
    margin-left: -8%;
    margin-top: -15%;
    padding-bottom: 48%;
    padding-left: 10%;
    max-width: 70%;
  }

.loginRectangle .content {
    transform: rotate(45deg);
    width: 68%;
    margin-left: 18%;
    margin-bottom: -30%;
    margin-top: 67%;
    max-width: 350px;
  }

.content .greetings {
    font-family: "TTNorms-Light";
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #0033a0;
  }

.content .welcomeBack {
    width: 100%;

    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-align: left;
    color: #666;
    margin-bottom: 8%;
  }


.form-group .inputLogin {
    margin-top: 0.5%;
    margin-right: 23.86%;
    border-radius: 20px;
    width: 100%;
    margin-left: 0px;
    border: 1px solid #DDDDDD;
    background: none;
    color: black;
    height: 40px;
    padding: 6px 12px;
    font-family: "Roboto-Regular";
    font-size: 14px;
    outline: none;
}

.form-group .inputLogin::placeholder {
    color: #D8D8D8;
    font-family: "Roboto-Regular";
    font-size: 14px;
}

form .forgot {

    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-align: left;
    color: #00b140;
    padding-left: 1.5%;
    text-decoration: none;
}

form .validationSignin {
    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-align: left;
    color: black;
    padding-left: 1.5%;
}



form .signIn {
    width: 111px;
    height: 40px;
    border-radius: 20px;
    background: #00b140;
    box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
    font-family: "TTNorms-Light";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    padding: 0px 20px;
    margin-top: 8%;
    outline: none ;
}

form .signUp {

    font-family: "Roboto-Regular";
    font-size: 12px;
    color: #666666;
    margin-top: 8%;

}

form .signUpLink {

    font-family: "Roboto-Bold";
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-align: left;
    color: #00b140;
    text-decoration: none;
}
