.row{
  margin-left:0px;
  margin-right:0px;
}
 .backmain{
  float:left;
  margin-left:-200px;
}
 content{
  width: 87%;
  border: 1px solid rgba(255,255,255,0.1);
  margin:20px;
  padding-left:0px;
  padding-right:0px;
}
 .sideNav{
  margin-left:0px;
}
 .sharetitle{
  font-family:"Roboto-Regular";
  font-size:16px;
  color:#ffffff;
  padding:20px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
 .sharecampaign{
  width:242px;
  margin-top:20px;
  margin-bottom:20px;
  border-right: 1px solid rgba(255,255,255,0.1);
}
 .sharecampaign img{
  padding-bottom:10px;
}
 .sharecampaign .count
{
  padding-bottom: 15px;
  font-size: 14px;
  font-family: 'Roboto-Medium';
  color:#ffffff;
  text-align: center;
}
 .sharecampaign .date
{
  border-top: 1px solid rgba(77,179,208,0.5);
  border-bottom: 1px solid rgba(77,179,208,0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto-Regular';
  text-align:center;
}
 .sharecampaign .text
{
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
  min-height: 100px;
  max-height: 100px;
  font-size: 12px;
  font-family: 'Roboto-Regular';
}
.sharedetail{
  padding-top:20px;
}
.sharedetail .emailtitle{
  font-size: 12px;
  font-family: 'Roboto-Regular';
  color:#ffffff;
  padding-bottom:10px;
}
.sharedetail .emailid{
  padding:0px;
  border: 1px solid #4db3d0;
  margin-right:5px;
  border-radius:2px;
  color:#4db3d0;

  }
  .sharedetail .addemail{
    background:#154656;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    }
  .sharedetail .addemail span{
    margin-top:20px;
  }
  .sharedetail .messagetitle{
    font-size: 12px;
    font-family: 'Roboto-Regular';
    color:#ffffff;
    padding-bottom:10px;
    margin-top:20px;
  }
  .sharedetail textarea{
    border:none;
    background:#154656;
  }
  .sharedetail input{
    border:none;
    background:#154656;
    width:95%;
    height:auto;
  }
  .sharebuttons button{
    color: #cccccc;
    font-size: 12px;
    font-family: 'Roboto-Regular' ;
    float:right;
    padding: 5px;
    margin-top: 20px;
    margin-bottom:20px;
    margin-right:20px;
    background: none;
    border-radius: 3px;
    border: 2px solid #4db3d0;
    bottom: 20px;
  }
  .sharebuttons .cancel{
    padding-left:10px;
    padding-right:10px;
  }
  .sharebuttons .share{
    border: 2px solid green;
  }
  content {
    height:350px;
  }

   .campaignwhole{

  }

   .outerdiv {
    font-family: "Roboto-Regular";
    background-color: #e9eaeb;
     margin-left:8.5%;
  }

   .campaignDiv {
        background-color: #fff;
    align-items: center;
    width: 22.2%;
    border-radius: 5px;
    padding: 30px;
    margin: 30px 1.5% 30px 1.2%;
      align-items: center;
  }

   .campaignName {
    font-family: TTNorms-Bold;
  font-size:1.2vw;
  color:#0033A0;
  text-align:center;
  width: 98%;
  padding-left: 2%;
  min-height: 6vh;
  max-height:6vh;
  }
   .campaignName p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
  }

   .campaignDuration {
  background-color:rgba(0,51,160,0.93);
  padding:10px;
  font-family:arial;
  font-size:13px;
  text-align:center;
  color:#fff;
  margin-left: -30px;
  margin-right: -30px;
  margin-top:10px;
  }

   .campaignDescription {
    font-family:arial;
  font-size:15px;
  padding:5%;

  /*word-break: break-all;*/
  min-height: 18vh;
  max-height:18vh;
    margin-bottom:10px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 8;
  }
 .campaignDescription p{
   display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
}
   .readMore{
    color:#00B140;
    font-size:14px;
    font-weight:bold;
  }

   .bottomIcons
{
  padding-top:30px;
  /*margin-left: -30px;
    margin-right: -30px;*/
    font-size:14px;
}
 .bottomIcons div{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #0033A0;
    font-size:2vh;
    font-family: TTNorms-Medium;
    padding-left: 0px;
    padding-right: 0px;
    width: 25%;
}
 .bottomIcons img{
margin-right:1vh;
  margin-left:10%;
  width:14px;
  height:16px;
}
   .count{
    color:#0033A0;
    font-size:14px;
  }

   .shareDiv{
    background-color: #ffffff;

    padding-left:0px;
    padding-right:0px;

    width: 72%;
    min-height:68vh;
    border-radius:5px;

    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 1.2%;
    margin-right: 1.5%;
  }

   .ideasHeader{
    background-color:#0033A0;
    border-radius:5px 5px 0px 0px;
  }
 .shareHeader{
  font-size:18px;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:30px;
}

 .addEmails{
  color:#333333;
  font-size:15px;
  margin-top:30px;
  margin-left:30px;
}

 .hint{
  font-style:italic;
  color:#999999;
  font-size:11px;
  margin-left:30px;
}

 .campaign_email input{
    min-width: 90%;
    max-width: 90%;
    min-height: 35px;
    font-size: 15px;
    font-family: "TTNorms-Light";
    color: black;
    border: 1px solid #DDDDDD;
    margin-left: 30px;
    border-radius: 50px;
    background: white;
    margin-right:30px;
}

 .form-control{
  padding-left:10px;
}

 .messageHeader{
font-size:15px;
color:#333333;
margin-left:30px;
}

 .campaign_description{
    background-color:  #ffffff;
    border: 1px solid #DDDDDD;
    min-height: 140px;
    margin-left: 30px;
    border-radius: 20px;
    color: black;
    font-family: "TTNorms-Light";
    font-size: 14px;
    min-width:90%;
    max-width:90%;
}

 .shareDiv hr{
  margin-left:30px;
  margin-right:30px;
  margin-top:100px;
  border-top: 1px solid #70707045;
}

 .cancelButton{
  font-size:16px;
  border:1px solid #999999;
  text-align:center;
  border-radius:25px;
  margin-top:10px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:10px;
  color:#999999;
  cursor:pointer;
  padding-left:10px;
  padding-right:10px;
}

 .shareButton{
  font-size:16px;
  text-align:center;
  border-radius:25px;
  margin-top:10px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:10px;
  color:#ffffff;
  background-color:#00B140;
  box-shadow: 0px 3px;
  cursor:pointer;
  padding-left:10px;
  padding-right:10px;
}

 .campaignImage{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 .campaignImage .imagediv{
  border-radius:50%;
  align-items:center;
  margin-bottom: 20px;
}
 .campaignImage .imagediv img{
  margin-top: 0px;
  border-radius:50%;

}
@media(min-width:768px) and (max-width:1200px){


 .campaignImage .imagediv img{
  width:100px !important;
  height:100px !important;
}
}
@media screen and (min-width: 1024px) {

   .campaignDiv {
   width: 22.2%;
}
 .shareDiv{
  width: 72%;
}

 .column{
width: 46.333333%;
}
 .cancelColumn{
width: 22.666667%;
}

 .shareColumn{
  width:31%;
}

}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 2560px) {

 .shareDiv hr{
  margin-top: 351px;
}
 .campaignName p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
  }
}
@media(min-width:1920px){
   .campaignDescription p{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0px;
  }

}
