<div class="row">
   <div class="campaignDiv col-sm-3 col-md-3">
      <div class="row campaignImage" class="center-block">
         <div class="row imagediv"><img src="{{campaignimage==''?'/assets/img/Default-image-square.svg':campaignimage}}" class="center-block img-circle" width="150" height="150">
         </div>
      </div>
      <div class="campaignName">
         {{campaign.name}}
      </div>
      <div class="row campaignDuration">
         {{campaign.start_date |date:'mediumDate'}} - {{campaign.end_date |date:'mediumDate'}}
      </div>
      <div class="row campaignDescription">
         <p>{{campaign.description}}</p>
      </div>
      <div class="row bottomIcons">
         <div class="col-xs-3 count">
            <img style="margin-right:3px;" src="/assets/img/views.svg" />{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}
         </div>
         <div class="col-xs-3  count">
            <img style="margin-right:3px;" src="/assets/img/ideas.svg" />{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}
         </div>
         <div class="col-xs-3  count">
            <img style="margin-right:3px;" src="/assets/img/likes.svg" />0
         </div>
         <div class="col-xs-3  count">
            <img style="margin-right:3px;" src="/assets/img/comments.svg" />0
         </div>
      </div>
   </div>
   <div class="col-sm-8 col-md-8 shareDiv " ng-If="!showSpecificIdea">
      <div class="row ideasHeader">
         <div class="shareHeader">Share Campaign</div>
      </div>
      <div class="row addEmails">Add email ids for share</div>
      <div class="row hint">Use commas to separate key words</div>
      <div class="campaign_email form-group">
         <input value="{{rater_email}}" [(ngModel)]= "rater_email" class="form-control">
      </div>
      <div class="row messageHeader">Message</div>
      <textarea class="campaign_description form-control" value="" [(ngModel)] = "message" required> </textarea>
      <hr>
      <div class="row">
         <div class="col-md-7 col-sm-7 column">
         </div>
         <div class="col-md-2 col-sm-2 cancelColumn" (click)="cancel()">
            <div class="cancelButton">Cancel</div>
         </div>
         <div class="col-md-3 col-sm-3 shareColumn" (click)="save()">
            <div class="shareButton">Share Campaign</div>
         </div>
      </div>
   </div>
</div>
