<div class="row topHat">
   <div class="col-xs-6 campaignCount">
      Showing {{campaigns.length>4?4:campaigns.length}} of {{campaigns.length}}
   </div>
   <div class="col-xs-6 rightIcons">
      <div class="col-xs-3 nopad">
         <div class="borderDiv" (click)="ratedMembers()" >
            <img src="/assets/img/download-raters-detail.svg" style="width:16px;height:15px;margin:0px;float:left;padding-right:5px">
            <span class="shareText">Download Raters Detail</span>
         </div>
      </div>
      <div class="col-xs-3 nopad">
         <div class="borderDiv" (click)="saveExcel()" >
            <img src="/assets/img/download-raters-detail.svg" style="width:16px;height:15px;margin:0px;float:left;padding-right:5px">
            <span class="shareText">Download All Ideas</span>
         </div>
      </div>
      <div class="col-xs-6 nopad">
         <img src="/assets/img/list-view-inactive.svg" style="width:16px;height:15px">
         <img src="/assets/img/thumb-view.svg" style="width:16px;height:16px">
         <img src="/assets/img/next.svg" style="width:8px;height:16px">
         <img src="/assets/img/back.svg" style="width:8px;height:16px">
      </div>
   </div>
</div>
<div class="row campaignDetails" >
   <div class="col-xs-3 campaign" *ngFor= "let campaign of campaigns">
      <div class="row campaignImage" class="center-block">
         <div class="row imagediv">
            <img src="{{campaign.campaignimage?campaign.campaignimage:'/assets/img/Default-image-square.svg'}}" class="center-block img-circle campimage" width="150" height="150">
            <span  class="share">
               <a><img src="/assets/img/more.svg" *ngIf="!showIcon"  (click) = "show(campaign._id)"></a>
               <a><img src="/assets/img/more.svg" *ngIf="showIcon"  (click) = "showIcon=false"></a>
               <div *ngIf="showIcon && showId==campaign._id"  class="listOption">
                  <a  (click) = "editCampaign(campaign.template_type,campaign)" >Edit</a>
                  <br>
                  <a (click)="goToshareideas(campaign._id)">Share</a>
               </div>
            </span>
         </div>
      </div>
      <div class="row campaignName">
         {{campaign.name}}
      </div>
      <div class="row campaignDuration">
         {{campaign.start_date |date:'mediumDate'}} - {{campaign.end_date |date:'mediumDate'}}
      </div>
      <div [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'">
         <p>{{campaign.description}}</p>
      </div>
      <div *ngIf="desc==campaign" [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'" (click)="desc=''" >
      <p>{{campaign.description}}</p>
   </div>
   <div class="row viewIdeas">
      <button class="longtext"  [routerLink]= "[campaign._id,'ideas','list']">View Ideas</button>
   </div>
   <div class="row campaignBottomIcons">
      <div class="col-xs-3">
         <img src="/assets/img/views.svg">
         <span class="numbers">{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}</span>
      </div>
      <div class="col-xs-3">
         <img src="/assets/img/ideas.svg">
         <span class="numbers">{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}</span>
      </div>
      <div class="col-xs-3">
         <img src="/assets/img/likes.svg">
         <span class="numbers">0</span>
      </div>
      <div class="col-xs-3">
         <img src="/assets/img/comments.svg">
         <span class="numbers">0</span>
      </div>
   </div>
</div>
</div>
