.mainContainer{
  background: url(../assets/img/Bg-1600.jpg) 100% 100% no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100% 100%;
      width: 100%;
      height: 100%;
      position:absolute;
      overflow-x: hidden;
}
.subcontainer{
  min-height: 100%;
    position: relative;
    overflow-y:hidden;
    background-color: rgba(0,16,49,.75);
}
.row{
  margin-left:0px;
  margin-right:0px;
}
.header{
  height:70px;
  background-color: rgba(0,51,160,.8);
}

.header .logo{
  margin:10px;
}

.header .headerCreateCampaign {
  text-align: right;
}

.header .headerCreateCampaign .createCampaignButton {
  font-size: 16px;
  color: #fff;
  font-family: TTNorms-Medium;
  padding: 10px 30px;
  background-color: #00B140;
  border-radius: 30px;
  margin-top: 13px;
  width: 188px;
  outline: none;
}



.header .menus{

  padding-left:10%
}
.header .menus span{
  float:right;
  margin:10px;
}
.navbar-header,
.editProfile {
    padding-left: 0;
    padding-right: 0; margin-top:-2px; float:left;
}
.notification{ float:left; width:2%; cursor:pointer; padding-top:2px;    margin-top: -20px;}

sup{color:#c00; padding-left:3px;}
.requestAccess, .requestAccess:hover{float:right;cursor:pointer;    padding-top: 15px;
    padding-right: 43px; text-decoration:underline; color:#ddd; font-size:14px;font-family: Helvetica Neue LT-Bold;}
/*navgination menu*/
.navlist{}
.navbar-collapse .navbar-right > li > a:hover {
    border-bottom: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover{
    background-image: none;
    box-shadow: none;background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a:focus{background-color: transparent;}
.navbar-inverse .navbar-nav > .active > a:after,
.navbar-inverse .navbar-nav > .active > a:hover:after,
.navbar-inverse .navbar-nav > .active > a:focus:after {
    color: #fff;
	 /*  border-bottom: 2px solid #116b98;*/
	height:2px;
	background: #116b98;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 0;
    margin: 0 9px;
    text-decoration: none;
    color: #fff;
    padding: 0 0 5px 0;
    font-size: 14px;
    font-family: 'TTNorms-Medium';
}
.navbar-Menu{float:right;    width: 64%; padding-left:10%;}
.navbar-inverse .navbar-nav > li > a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	border-bottom: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav > li > a:hover:after  {
  /*  border-bottom: 2px solid #116b98;*/
	height:2px;
	background: #116b98;

}

.navbar-inverse .navbar-nav > li > a:hover{
    color:#609f3c;
}

.insLogo .menu{
    margin-top:10px;
    margin-left:25px;
}
.right-header-part li {
    float: left;
    list-style: none;
}

.container-fluid .navbar-inverse {
    background: none;
    border: none;
}
.container .navbar-inverse {
    background: none;
    border: none;
}

.navbar-inverse .navbar-nav > li > .dropdown-toggle:hover:after {
	background:none ;
}
.mainContainer .headerbg{
    background-color:rgba(0,51,160,0.8);
}

.footer{
  height: 70px;
margin: 0 auto;
overflow: hidden;
background-color: rgba(0,0,0,.5);
padding: 30px;
position: absolute;
bottom: 0;
width: 100%;
}
.footer p{

    color: #fff;
    font-size: 14px;
    margin-top: -3px;
    text-align: center;
    font-family: 'Helvetica Neue LT-Md';
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 10px;
}

.hamburger{
   
}
.hamuserprofile{

    background-color:#121F39;
    height:200%;
    position:fixed;
    top:-30px;
    left:0px;
    padding-top:4%;
   
    width:25%;
    transition:all 2s ease; 
    
}
.pagenextline .nextlineColor {      
    color:#3F6FD6;      
        
}       
.pagenextline .nextlineColor.completed{     
    color:#00B140;      
}
@keyframes hanwidth{
    form{width:0%;}
    to{width:30%;}
}
.hamuserprofile .hamuser{
    margin-bottom:40px;
    margin-top:20px;
}
.hamuserprofile .greet{
    color:rgba(255,255,255,0.5);
    font-family: TTNorms-Medium;
    font-size:14px;
    padding-top:10px;
    float:left;
    width:100%;
}
.hamuserprofile .name{
    color:#00B140;
    font-family: TTNorms-Bold;
    font-size:24px;
    padding-top:5px;
     float:left;
}
.hamuserprofile .hamlist{
    font-family:TTNorms-Medium;
    font-size:16px;
    color:#fff;
    margin:10px;
    padding-left:30px;
    z-index:1;
}

.headercreatecampaign{
  padding:10px;
  background-color:#00B140;
  color:#fff;
  border-radius:20px;
  font-family:TTNorms-Medium;
  font-size:16px;
  padding-left:30px;
  padding-right:30px;
 /* margin-right:-45%;*/
}
.headerhome{
 
  color:#fff;
  cursor:pointer;
  font-family:TTNorms-Medium;
  font-size:20px;
 /* margin-right:-45%;*/
}
.pagetitle{
  text-align:center;
font-family:TTNorms-Medium;
  font-size:26px;
  color:#fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top:1.5%;    
}
.pagetop{
 /* margin-top:-1%; */
 /*padding-left:13%;*/
/*margin-right:-20%;
*/}
.pagenextline{
  text-align:center;
font-family:TTNorms-Medium;
  font-size:12px;
   color:#3F6FD6;
  
}
@media(min-width:768px) and (max-width:1200px){
  .userdetail{
      padding-left:10%;
  }
}
