<div class="mainContainer" >
<div class="subcontainer">
   <div class="row header navbar navbar-fixed-top navbar-inverse" *ngIf="router.url=='/incatalyst' && this.auth.isLoggedIn()" >

      <div class="col-md-1 col-sm-1 col-xs-1 navbar-header insLogo" *ngIf="!hamburger" style="margin-top:7px">
         <img class="menu" src="/assets/img/menu.svg" (click)="userprofile($event)" id="menu"/>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3" style="margin-top:7px">
         <img src="/assets/img/Incatalyst-logo-1.svg" class="center-block" style="float:left">
      </div>
      <div class="hamburger" *ngIf="hamburger">
         <div class="col-md-3 hamuserprofile" id="ham">
            <img class="menu" src="/assets/img/menu.svg" (click)="userprofile($event)"/>
            <div class="row hamuser">
               <div class="col-md-4 col-sm-4 col-xs-4">
                  <img class="menu" src="/assets/img/userham.svg" />
               </div>
               <div class="col-md-8 col-sm-8 col-xs-8 userdetail" >
                  <div class="row greet">Welcome Back</div>
                  <div class="row name">{{user.displayName.substring(0,user.displayName.indexOf(' '))}}</div>
               </div>
            </div>

            <div class="row hamlist">
               <a  (click)="logout()" target="_self">Logout</a>
            </div>
         </div>
      </div>

   </div>
   <div class="row  header navbar navbar-fixed-top navbar-inverse" *ngIf="router.url!='/incatalyst' && this.auth.isLoggedIn()" >
      <div class="col-md-1 col-sm-1 col-xs-1 navbar-header insLogo" *ngIf="!hamburger" style="margin-top:7px">
         <img class="menu" src="/assets/img/menu.svg" (click)="userprofile($event)" id="menu"/>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3" style="margin-top:7px">
         <img src="/assets/img/Incatalyst-logo-1.svg" class="center-block" style="float:left" [routerLink]='["/incatalyst"]'>
      </div>
      <div class="hamburger" *ngIf="hamburger">
         <div class="col-md-3 hamuserprofile" id="ham">
            <img class="menu" src="/assets/img/menu.svg" (click)="userprofile($event)"/>
            <div class="row hamuser">
               <div class="col-md-4 col-sm-4 col-xs-4">
                  <img class="menu" src="/assets/img/userham.svg" />
               </div>
               <div class="col-md-8 col-sm-8 col-xs-8 userdetail" >
                  <div class="row greet">Welcome Back</div>
                  <div class="row name">{{user.displayName.substring(0,user.displayName.indexOf(' '))}}</div>
               </div>
            </div>

            <div class="row hamlist">
               <a (click)="logout()" target="_self">Logout</a>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 pagetop">
         <div class="row pagetitle">{{displayname}}</div>
         <div class="row pagenextline"><span style="color:#00B140">Home</span>/ <span class="nextlineColor" ng-class="{completed:firstpath}">{{firstpath}}</span> <span *ngIf="secondpath"> / </span><span style="color:#3F6FD6">{{secondpath?secondpath:""}}</span></div>
      </div>
      <div  class="col-xs-4 headerCreateCampaign" *ngIf="router.url=='/ideation/mycampaigns'">
         <button class="btn createCampaignButton" (click)="onCreateCampaign()">Create Campaign</button>
      </div>

   </div>
   <div class="row">
      <router-outlet></router-outlet>
   </div>
   <div class=" row footer">
      <p>© 2019 cognizant.com. All rights reserved.</p>
   </div>
</div >

