<div class="row">
  <div class="col-md-6 nopad">{{campaignname}}</div>
  <div class="col-md-6 nopad"><img src="/assets/img/close.svg" class="closepopup pull-right" (click)="close()"/></div>
  </div>
<video controls (click)="toggleVideo()" #videoPlayer>
        <source src="{{videourl}}" type="video/mp4" />
        Browser not supported
    </video>
