video{
  width: 90%;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 60px;
}
div{
  font-size:20px;
  font-family:"TTNorms-Medium";
  color:#0033A0;
  padding-left:60px;

}
.row{
  margin-left:0px;
  margin-right:0px;
  padding-top:30px;
}
.nopad{
  padding-left:0px;
  padding-right:0px;
}
