<div class="row topHat">
   <div class="col-xs-6 campaignCount" *ngIf="!categorychoosen">
   </div>
   <div class="col-xs-6 campaignCount" *ngIf="categorychoosen=='Insurance'">
      Showing {{countInsurance}} of {{countInsurance}}
   </div>
   <div class="col-xs-6 campaignCount" *ngIf="categorychoosen=='CMT'">
      Showing {{countCMT}} of {{countCMT}}
   </div>
   <div class="col-xs-6 campaignCount" *ngIf="categorychoosen=='Others'">
      Showing {{countother}} of {{countother}}
   </div>
   <div class="col-xs-6 campaignCount" *ngIf="categorychoosen=='Health Care'">
      Showing {{countHealth}} of {{countHealth}}
   </div>
   <div class="col-xs-6 rightIcons"  *ngIf="categorychoosen">
      <div class="viewallcampaigns" (click)="categorychoosen=!categorychoosen">View all Campaigns</div>
   </div>
</div>
<div class="row campaignDetails" >
   <div  *ngIf="categorychoosen==false">
      <div class="col-xs-3 campaign" *ngFor= "let category of categorylist">
         <div class="row campaignImage" class="center-block">
            <div class="row imagediv" >
               <img src="/assets/img/{{category.image}}" class="center-block img-circle campimage"  width="150" height="150">
            </div>
         </div>
         <div>
            <div class="row campaignName">
               {{category.displayname}}
            </div>
            <div class="row campaignDescription" style="padding-top:15px;">
               <p class="categorydesc">{{category.description}}</p>
            </div>
         </div>
         <div class="row viewIdeas">
            <button class="longtext" (click)="selectcategory(category.name)">View Campaigns</button>
         </div>
         <div class="row viewIdeas">
            <button class="shorttext"  (click)="selectcategory(category.name)">View</button>
         </div>
      </div>
   </div>
   <div   *ngFor= "let campaign of campaigns" >
      <div class="col-xs-3 campaign" *ngIf="campaign.category==categorychoosen"  >
         <div class="row campaignImage" class="center-block">
            <div class="row imagediv"><img src="{{campaign.campaignimage?campaign.campaignimage:'/assets/img/Default-image-square.svg'}}" class="center-block img-circle campimage" width="150" height="150">
            </div>
         </div>
         <div class="row campaignName">
            {{campaign.name}}
         </div>
         <div class="row campaignDuration">
            {{campaign.start_date |date:'mediumDate'}} - {{campaign.end_date |date:'mediumDate'}}
         </div>
         <div [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'">
            <p>{{campaign.description}}</p>
         </div>
         <div *ngIf="desc==campaign" [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'" (click)="desc=''" >
         <p>{{campaign.description}}</p>
      </div>
      <div class="row viewIdeas">
         <button class="longtext" [routerLink]= "[campaign._id,'ideas','submit']">Submit Idea</button>
      </div>
      <div class="row campaignBottomIcons">
         <div class="col-xs-3">
            <img src="/assets/img/views.svg">
            <span class="numbers">{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}</span>
         </div>
         <div class="col-xs-3">
            <img src="/assets/img/ideas.svg">
            <span class="numbers">{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}</span>
         </div>
         <div class="col-xs-3">
            <img src="/assets/img/likes.svg">
            <span class="numbers">0</span>
         </div>
         <div class="col-xs-3">
            <img src="/assets/img/comments.svg">
            <span class="numbers">0</span>
         </div>
      </div>
   </div>
   <div class="col-xs-3 campaign" *ngIf="categorychoosen=='Others'&&(campaign.category=='Other'||!campaign.category)"  >
      <div class="row campaignImage" class="center-block">
         <div class="row imagediv">
            <img src="{{campaign.campaignimage?campaign.campaignimage:'/assets/img/Default-image-square.svg'}}" class="center-block img-circle campimage" width="150" height="150">

         </div>
      </div>
      <div class="row campaignName">
         {{campaign.name}}
      </div>
      <div class="row campaignDuration">
         {{campaign.start_date |date:'mediumDate'}} - {{campaign.end_date |date:'mediumDate'}}
      </div>
      <div [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'">
         <p>{{campaign.description}}</p>
      </div>
      <div *ngIf="desc==campaign" [ngClass]="campaign.name.length>19?'row campaignDescription campaignDescriptionflex':'row campaignDescription'" (click)="desc=''" >
      <p>{{campaign.description}}</p>
   </div>
   <div class="row viewIdeas">
      <button class="longtext"  [routerLink]= "[campaign._id,'ideas','submit']">Submit Idea</button>
   </div>
   <div class="row campaignBottomIcons">
      <div class="col-xs-3">
         <img src="/assets/img/views.svg">
         <span class="numbers">{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}</span>
      </div>
      <div class="col-xs-3">
         <img src="/assets/img/ideas.svg">
         <span class="numbers">{{campaign.idea_ids==undefined?0:campaign.idea_ids.length}}</span>
      </div>
      <div class="col-xs-3">
         <img src="/assets/img/likes.svg">
         <span class="numbers">0</span>
      </div>
      <div class="col-xs-3">
         <img src="/assets/img/comments.svg">
         <span class="numbers">0</span>
      </div>
   </div>
</div>
</div>
