.form-group {
    margin-bottom: 5px;
}

.pageInformation {
    float: right;
    margin-top: 64%;
    padding-right: 25%;
    margin-bottom: 30%;
}

.pageInformation .liner {
    width: 281px;
    height: 69px;
    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 20px;
    text-align: left;
    color: #fff;
    margin-top: 5%;
}


.signupRectangle {
    background-color: #fff;
    width: 89%;
    border-radius: 76px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    float: left;
    margin-left: -15%;
    margin-top: -30%;
    padding-bottom: 48%;
    padding-left: 10%;
    max-width: 88%;
  }

.signupRectangle .content {
    transform: rotate(45deg);
    width: 68%;
    margin-left: 18%;
    margin-bottom: -30%;
    margin-top: 67%;
    max-width: 350px;
  }

  .content .greetings {
    font-family: "TTNorms-Light";
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #0033a0;
  }

.content .welcomeBack {
    width: 100%;

    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-align: left;
    color: #666;
    margin-bottom: 8%;
  }

  .form-group .inputSignup {
    margin-top: 0.5%;
    margin-right: 23.86%;
    border-radius: 20px;
    width: 100%;
    margin-left: 0px;
    border: 1px solid #DDDDDD;
    background: none;
    color: black;
    height: 40px;
    padding: 6px 12px;
    font-family: "Roboto-Regular";
    font-size: 14px;
    outline: none;
}

.form-group .inputSignup::placeholder {
    color: #D8D8D8;
    font-family: "Roboto-Regular";
    font-size: 14px;
}

.validateText {
    color: #F4633A;
    font-family: Roboto-Regular;
    font-size: 12px;
    padding-left: 13px;
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

form .signUp {
    width: 111px;
    height: 40px;
    border-radius: 20px;
    background: #00b140;
    box-shadow: 0px 3px 6px rgba(0, 155, 155, 0.4);
    font-family: "TTNorms-Light";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    padding: 0px 20px;
    margin-top: 8%;
    outline: none ;
}

form .already {

    font-family: "Roboto-Regular";
    font-size: 12px;
    color: #666666;
    margin-top: 8%;

}

form .signInLink {

    font-family: "Roboto-Bold";
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-align: left;
    color: #00b140;
    text-decoration: none;
}
