<div class="signupPage">
   <div class="col-xs-5">
      <div class="pageInformation">
         <img style="width: 75%;" src="/assets/img/Incatalyst-logo-1.svg">
         <div class="liner">
            A service platform that can capture ideas, create prototypes and develop.
         </div>
      </div>
   </div>
   <div class="col-xs-7">
      <div class="signupRectangle">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="greetings">Sign Up</div>
               </div>
               <div class="col-xs-12">
                  <div class="welcomeBack">Complete the form to sign up.</div>
               </div>
               <div class="col-xs-12">
                  <form name="form" (ngSubmit)="referenceRegister.form.valid && onRegister(referenceRegister)"
                  #referenceRegister="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate autocomplete="off">
                  <div class="form-group">
                     <input class="inputSignup" type="text" name="firstName" id="firstName" placeholder="First Name"
                     [(ngModel)]="model.firstName" #firstName="ngModel"
                     [ngClass]="{ 'is-invalid': referenceRegister.submitted && firstName.invalid }" required>
                     <div *ngIf="referenceRegister.submitted && firstName.invalid" class="invalid-feedback">
                        <div class="validateText" *ngIf="firstName.errors.required">First Name is required</div>
                     </div>
                  </div>
                  <div class="form-group">
                     <input class="inputSignup" type="text" name="lastName" id="lastName" placeholder="Last Name"
                     [(ngModel)]="model.lastName" #lastName="ngModel"
                     [ngClass]="{ 'is-invalid': referenceRegister.submitted && lastName.invalid }" required>
                     <div *ngIf="referenceRegister.submitted && lastName.invalid" class="invalid-feedback">
                        <div class="validateText" *ngIf="lastName.errors.required">Last Name is required</div>
                     </div>
                  </div>
                  <div class="form-group">
                     <input class="inputSignup" type="text" name="email" id="email" placeholder="Email"
                     [(ngModel)]="model.email" #email="ngModel"
                     [ngClass]="{ 'is-invalid': referenceRegister.submitted && email.invalid }" required
                     pattern="^[a-z0-9._%+-]+@cognizant\.com$" email>

                     <div *ngIf="referenceRegister.submitted && email.invalid" class="invalid-feedback">
                        <div class="validateText" *ngIf="email.errors.required">Email is required</div>
                        <div class="validateText" *ngIf="email.errors.email">Email must be a valid email address</div>
                        <div class="validateText" *ngIf="email.errors.pattern">Email must be a valid cognizant address</div>
                     </div>
                  </div>
                  <div class="form-group">
                     <input class="inputSignup" type="password" name="password" id="password" placeholder="Password"
                     [(ngModel)]="model.password" #password="ngModel"
                     [ngClass]="{ 'is-invalid': referenceRegister.submitted && password.invalid }" required minlength="8"
                     pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                     popover="Password must be of atleast 8 characters: It must contain atleast 1
                     uppercase character, atleast 1 lowercase character, atleast 1 number and atleast 1 special character." popoverPlacement="top" [popoverOnHover]="true"
                     [popoverCloseOnMouseOutside]="true">
                     <div class="inputSignup" *ngIf="referenceRegister.submitted && password.invalid"
                        class="invalid-feedback">
                        <div class="validateText" *ngIf="password.errors.required">Password is required</div>
                        <!-- <div *ngIf="password.errors.minlength">Password must be at least 8 characters</div> -->
                        <div class="validateText" *ngIf="password.errors.pattern">Password is invalid</div>
                     </div>
                  </div>
                  <div class="form-group">
                     <input class="inputSignup" type="password" name="confirmPassword" id="confirmPassword"
                     placeholder="Confirm Password" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
                     [ngClass]="{ 'is-invalid': referenceRegister.submitted && confirmPassword.invalid }" required>
                     <div *ngIf="referenceRegister.submitted && confirmPassword.invalid" class="invalid-feedback">
                        <div class="validateText" *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                        <div class="validateText" *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                     </div>
                  </div>
                  <button type="submit" class="btn signUp">Sign Up</button>
                  <div class="already">
                     Already have an account? <a class="signInLink" routerLink="/signin">Log in</a>
                  </div>
                  </form>
               </div>
            </div>
            <div *ngIf="usernameExists" class="row">
               <div class="col-xs-12">
                  <h3>This Email ID is already registered!</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
