@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@font-face {
    font-family: Helvetica Neue;
    src: url("/assets/fonts/HelveticaNeue.ttf") format('truetype');
}

@font-face {
    font-family: Helvetica Neue LT-Medium;
    src: url("/assets/fonts/HelveticaNeueLTStd-MdCn.ttf") format('truetype');
}

@font-face {
    font-family: Helvetica Neue LT-Bold;
    src: url("/assets/fonts/HelveticaNeueLTStd-BdCn.ttf") format('truetype');
}

@font-face {
    font-family: Helvetica Neue LT-Md;
    src: url("/assets/fonts/HelveticaNeue-LightCond.ttf") format('truetype');
}

@font-face {
    font-family: Helvetica Neue LT-Cn;
    src: url("/assets/fonts/HelveticaNeueLTStd-Cn.ttf") format('opentype');
}

@font-face {
    font-family: Helvetica Neue LT-Medium;
    src: url("/assets/fonts/HelveticaNeueLTStd-MdCn.woff") format('WOFF');
}

@font-face {
    font-family: Helvetica Neue LT-Bold;
    src: url("/assets/fonts/HelveticaNeueLTStd-BdCn.woff") format('WOFF');
}

@font-face {
    font-family: Helvetica Neue LT-Md;
    src: url("/assets/fonts/HelveticaNeue-LightCond.woff") format('WOFF');
}

@font-face {
    font-family: Roboto-Regular;
    src: url("/assets/fonts/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: Roboto-Medium;
    src: url("/assets/fonts/Roboto-Medium.ttf") format('truetype');
}
@font-face {
    font-family: Roboto-Light;
    src: url("/assets/fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url("/assets/fonts/Roboto-Bold.ttf") format('truetype');
}
@font-face {
    font-family: TTNorms-Medium;
    src: url("/assets/fonts/TTNorms-Medium.otf") format('opentype');
}
@font-face {
    font-family: TTNorms-Bold;
    src: url("/assets/fonts/TTNorms-Bold.otf") format('opentype');
}
@font-face {
    font-family: arial;
    src: url("/assets/fonts/arial.ttf") format('truetype');
}
@font-face {
    font-family: TTNorms-Light;
    src: url("/assets/fonts/TTNorms-Light.otf") format('opentype');
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
	cursor: pointer;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ebe8e8;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

}

::-webkit-scrollbar-thumb:window-inactive {
    background: #195d9e;
    cursor: pointer;
}
.mat-dialog-container{
  padding: 0px !important;
  overflow: visible !important;
}